.freeyourmoney {
    background-color: var(--hero-background-color);

    .freeyourmoney-row {
        .freeyourmoney-left-col {
            .title {
                margin-top: 52px;
                letter-spacing: -0.02em;
                line-height: 56px;
                margin-bottom: 16px;
            }

            .description {
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: -0.01em;
                color: var(--secondary-color);
            }

            .freeyourmoney-col {
                .title {
                    margin-top: 0;
                    line-height: 51px;
                    margin-bottom: 0;
                }

                .description {
                    font-weight: 400;
                    line-height: 24px;
                    color: var(--secondary-color);
                    font-size: 16px;
                    padding-left: 39px;
                }

                .description.last-desc {
                    margin-bottom: 2rem;
                }
            }
        }
    }

    @media screen and (max-width: 576px) {
        .title {
            line-height: 36px !important;
        }
    }
}