$primary: #3772ff;
$onSurface: #23262f;
$secondary: #777e90;
$secondary2: #b1b5c3;
$surface: #f7f7f7;
$surfaceMain: #ffffff;
$interactive: #2e72d2;
$critical: #d33535;
$warning: #fabe3c;
$success: #58bd7d;
$highlight: #1e58c8;
$backgroundDark: "#141416";
$decorative: linear-gradient(216.56deg, #383fde 5.32%, #8444d5 94.32%);
