* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
body{
    background: #0e1117 !important;
    color: white !important;
}
.navbar{
    background-color: #26292e !important;
}
.social-media a{
    color: #f0f6fc;
    text-decoration: none;
}
.social-media a:hover{
    text-decoration: underline;
    color: #4493f8;
}