.selltable {
    margin-top: 32px;
    padding: 32px;
    border: 1px solid var(--marketcap-border-color);
    border-radius: 20px;
    background-color: var(--subhero-background-color);

    .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }

    tr,
    td,
    th {
        background-color: var(--subhero-background-color) !important;
        border: 0;
        padding: 24px;
        padding-right: 0;
        color: var(--text-color);
        padding-bottom: 12px;
    }

    thead {
        tr {
            border-bottom: 1px solid var(--marketcap-border-color);
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
        }
    }

    tbody {
        tr {
            border-radius: 12px;
            cursor: pointer;

            &:hover>* {
                background-color: var(--marketcap-row-hover) !important;
            }

            td:first-child {
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
            }

            td:last-child {
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
            }

        }

        .selected-row {

            td {
                background: var(--marketcap-row-hover) !important;
            }

            &:hover {
                background: var(--marketcap-row-hover) !important;
            }
        }
    }
}