.howItWorks {
    margin-top: 52px;
    background-color: var(--hero-background-color);

    .how-it-works-title {
        margin-top: 52px;
    }

    .how-it-work-description {
        color: var(--secondary-color);
        margin-top: 8px;
        max-width: 400px;
        margin: auto;
        margin-bottom: 3rem;
    }

    .how-it-works-column {
        img {
            margin-bottom: 12px;
        }

        .step {
            color: var(--secondary-color);
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin-bottom: 4px;
        }

        .title {
            color: var(--trade-button-color-hover);
            line-height: 28px;
            font-size: 20px;
            font-weight: 700;
        }

        .description {
            font-weight: 400;
            line-height: 24px;
            font-size: 16px;
            color: var(--secondary-color);
        }
    }
}