$primary-color: #0874fa;
$dark-primary: #3089fc;
$text-color: #4d4d4d;
$main-bg-color: white;
$white-text-color: white;
$secondary-bg-color: #f8f9fa;
$black-color: black;
$badge: #e9ecef;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$font-family-sans-serif: "Nanum Gothic", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

@mixin btnFunction($bg-color, $b-radius, $padd, $clr, $f-size, $f-weight) {
  background-color: $bg-color;
  border-radius: $b-radius;
  padding: $padd;
  color: $clr;
  font-size: $f-size;
  font-weight: $f-weight;
}
@mixin hover-effect($color, $bg-color) {
  background-color: $bg-color;
  color: $color;
}
.main-heading{
    font-size: 32px;
}
.sub-heading{
    font-size: 18px;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-primary {
  @include btnFunction(
    $primary-color,
    0.25rem,
    10px 30px,
    $white-text-color,
    1rem,
    1rem
  );
  &:hover {
    @include hover-effect($white-text-color, $dark-primary);
  }
}
.btn-secondary {
  @extend .btn-primary;
  background-color: $badge;
  color: $text-color;
  &:hover {
    @include hover-effect($white-text-color, $black-color);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.7;
  color: $text-color;
  font-weight: 400;
  font-size: 1rem;
  font-family: $font-family-sans-serif;
  font-style: normal;
}
section {
  padding: 2.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.badge {
  font-size: 11px;
  display: inline-block;
  padding: 5px 20px;
  background: $badge;
  border-radius: 30px;
  margin-bottom: 20px;
  color: $black-color;
  font-weight: bold;
}
.d-flex {
  display: flex;
  gap: 10px;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.align-start {
  align-items: start;
}
.grid {
  display: grid;
  gap: 20px;
}
.grid-col-1 {
  grid-template-columns: 1fr;
}
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}
.border-primary{
    position: relative;
}
.border-primary:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 80px;
  height: 3px;
  background: #2f89fc;
}
@media (min-width: $breakpoint-sm) {
  .container {
    max-width: 540px;
  }
  .grid-col-1-sm {
    grid-template-columns: 1fr;
  }
  .grid-col-2-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-col-3-sm {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: $breakpoint-md) {
  .container {
    max-width: 720px;
  }
  section {
    padding: 5em 0;
  }
  .grid-col-3-md {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-col-4-md {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-col-5-md {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-col-6-md {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: $breakpoint-lg) {
  .container {
    max-width: 960px;
  }
  .grid-col-3-lg {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-col-4-lg {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-col-5-lg {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-col-6-lg {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: $breakpoint-xl){
    .grid-col-5-xl {
        grid-template-columns: repeat(5, 1fr);
      }
      .grid-col-6-xl {
        grid-template-columns: repeat(6, 1fr);
      }
}
