/* body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*? Transition */

/* .box {
  background-color: red;
  width: 150px;
  height: 150px;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.box:hover {
  background-color: yellow;
  width: 350px;
  height: 350px;
} */
