.change-password {
    .title {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.01em;
        margin-bottom: 20px;

    }

    .sub-title {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 48px;

        &.features-title {
            margin-bottom: 18px;
        }

    }

    .change-password-row {

        .form-control-lg,
        .form-select-lg {
            border: 2px solid var(--marketcap-border-color) !important;
            background-color: var(--marketcap-searchbar-background);
            color: var(--text-color);
            margin-bottom: 16px;

            &:focus {
                box-shadow: none;
                border-color: var(--primary-color-light) !important;
                border-width: 2px !important;
            }

            &::placeholder {
                font-size: 18px;
                line-height: 28px;
                color: var(--secondary-color-reverse);
            }
        }

        .form-box {
            margin-bottom: 0;
        }

        .form-label {
            color: var(--secondary-color);
            font-size: 14px;
            line-height: 24px;
        }

    }
}