.page-top {
    background-color: var(--hero-background-color);
}

.main-wallet-layout {
    margin-top: 101px;


    @media screen and (min-width: 1401px) {
        .wallet-layout-nav {
            border-right: 1px solid var(--marketcap-border-color);
        }
    }
}