:root {
  --primary: #211c84;
  --light: #b5a8d5;
  --white: #ffffff;
  --accent: #4d55cc;
  --neutral: #7a73d1;
  --text-light: #5a6875;
  --border: #e2e8f0;
  --shadow-sm: rgba(0, 0, 0, 0.05);
  --shadow: rgba(0, 0, 0, 0.08);
  --font-main: "Inter", sans-serif;
  --mint: #326656;
}
h5 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn {
  background-color: var(--neutral);
}
