:root {
  --primary: #211C84;
  --light: #B5A8D5;
  --white: #ffffff;
  --accent: #4D55CC;
  --neutral: #7A73D1;
  --text-light: #5A6875;
  --border: #E2E8F0;
  --shadow-sm: rgba(0, 0, 0, 0.05);
  --shadow: rgba(0, 0, 0, 0.08);
  --font-main: 'Inter', sans-serif;
  --mint: #6A9C89;
}
h5 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn{
  background-color: var(--neutral);
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
