.stepper {
    display: flex;
    align-items: center;
    gap: 16px;

    .line {
        width: 120px;
        height: 2px;
        width: 100%;
        border-top: 1px dashed #d1d5db;


        &.active-line {
            border-top: 1px solid #58BD7D;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.step {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;

    .circle {
        width: 18px;
        height: 18px;
        border: 2px solid #d1d5db;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
            border-color: #58BD7D;
            border: 0px solid transparent !important;

            &::after {
                content: '';
                width: 16px;
                height: 16px;
                background-image: url('/check.png');
                background-repeat: no-repeat;
            }
        }
    }

    .label {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;

    }
}