*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FFB91F */

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1260px;
    padding-left: 5px;
    padding-right: 5px;
}

.head-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: #233F92;
}

.head-container ul li{
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    color: white;
}

.head-container ul li a{
    text-decoration: none;
    color: white;
}

.head-container ul li a:hover{
    text-decoration: none;
    color: #FFB91F;
}


.flash-sale{
    color: #FFB91F;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin-left: 10px;
}

p{
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.header-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: white;
}

.logo-middle{
    width: 150px;
    height: 58px;
}

.search-bar{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 580px;
    height: 48px;
    background-color: rgba(248, 248, 248, 1);
    border-radius: 60px;
}

.all-categories-option{
    padding: 5px 8px;
    color: black;
    font-weight: bold;
}

.select-category{
    width: 190px;
    height: 48px;
    padding: 4px 8px 4px 30px;
    background-color: transparent;
    color: black;
    font-size: 14px;
    border-radius: 60px;
    border: none;
    outline: none;
}

.search-input-and-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #FFB91F;
    border-radius: 60px;
}

.button-bg img{
    width: 24px;
    height: 24px;
}

.search-input{
    width: 385px;
    height: 48px;
    padding: 4px 8px;
    background-color: transparent;
    color: black;
    font-size: 14px;
    border-radius: 60px;
    border: none;
    outline: none;
}

.header-middle-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 10px;
}

.header-middle-icons select{
    height: 19px;
    color: black;
    font-size: 14px;
    border: none;
    outline: none;
}

.header-middle-icons img{
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

.select-categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: white;
    border-top: 1px solid rgba(235, 235, 235, 1);
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.select-categories select{
    height: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #202020;
    font-weight: bolder;
    font-size: 14px;
}

.select-categories select:hover{
    color: #FFB91F;
}

.call-us{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 62px;
    width: 281px;
    background-color: #FFB91F;
}

.call-us img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.call-us-phone-number{
    color: #202020;
    font-size: 22px;
    font-weight: bold;
}

.call-us p{
    color: #202020;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1.1px;
}

