@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$main-color: #fffacd;
$black-color: #0e0e0e;
$iColor: rgb(199, 231, 133);
$primaryColor: rgb(62, 110, 213);
$font: "Poppins", serif;
$font-size: 16px;

* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}

html {
  overflow: auto;
  scroll-padding-top: 90px;
  scroll-behavior: smooth;
}

body {
  background-color: $main-color;
}

section {
  padding: 35px 7%;
}

@mixin ButtonFunction {
  margin-top: 10px;
  display: inline-block;
  padding: 15px 35px;
  border-radius: 300px;
  font-size: 14px;
  color: $main-color;
  background-color: $black-color;
  cursor: pointer;
}

@mixin headerFunction {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 7%;
  margin: 20px 7%;
  border-radius: 30px;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.7);
  top: 0;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  .header {
    @include headerFunction();
    position: sticky;
  }

  .header .navbar a {
    margin: 0 10px;
    font-size: $font-size;
    color: $black-color;
    border-bottom: 3px solid transparent;
    &:hover,
    &.active {
      border-color: $main-color;
      padding-bottom: 5px;
    }
  }

  .header .buttons button {
    cursor: pointer; // El işareti. Tıklanabilir öğeler için kullanılır.
    font-size: 18px;
    margin-left: 20px;
    background-color: transparent;
  }

  .logo img {
    height: 80px;
  }

  .search-input {
    font-size: 16px;
    color: $black-color;
    padding: 10px;
    text-transform: none;
    border-radius: 30px;
  }

  /*Home Start*/
  .home {
    display: flex;
    min-height: 100vh;
    background-image: url(../images/image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -145px;
    align-items: center;
  }

  .home .content {
    max-width: 600px;

    .glow-text {
      color: white;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px $iColor, 0 0 30px $iColor , 0 0 40px $iColor, 0 0 50px $iColor;
      animation: glow 1.5s infinite alternate;
    
      @keyframes glow {
        to {
          text-shadow: 0 0 10px #fff, 0 0 20px $iColor, 0 0 30px $iColor, 0 0 40px $iColor, 0 0 50px $iColor, 0 0 60px $iColor;
        }
      }
    }
    
  }

  .home .content h3 {
    font-size: 55px;
    color: $main-color;
  }

  .home .content p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    padding: 10px 0;
    color: $black-color;
  }

  .btn {
    @include ButtonFunction();
    &:hover {
      opacity: 0.7;
    }
  }
  /*Home End*/

  /*Menu Start*/
  .menu {
    .box-container {
      display: grid;
      grid-template-columns: repeat(15, 25%);
      overflow-x: auto;
      gap: 15px;
      &::-webkit-scrollbar {
        height: 10px;
        width: 100%;
      }
      .box {
        flex: 0 0 30%;
        padding: 15px;
        background-color: white;
        border-radius: 30px;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
          height: 200px;
          margin: 0 auto;
          display: block;
        }
        &:hover {
          img {
            opacity: 1;
          }
        }

        .kategory {
          font-size: 12px;
        }

        h3 {
          font-size: 25px;
          padding: 10px 0;
        }

        .price {
          font-size: 20px;
          & span {
            font-size: 15px;
            text-decoration: line-through;
            font-weight: 400;
          }
        }
      }
    }
  }

  .heading {
    color: $black-color;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 10px;
    border-bottom: 1px solid $black-color;
  }

  .products {
    @extend .menu;
    .box-container {
      overflow-x: visible; /* Kaydırmayı devre dışı bırak, içerik taşsın */
    }
  }
  /*Menu End*/

  /*Footer Start*/

  .footer {
    background-color: $primaryColor;
    align-items: center;
    display: flex; /* Footer elemanlarını yatay sıraya al */
    flex-direction: row; /* Varsayılan olarak dikey sıralama */
    justify-content: space-between;
    width: 100%;

    .search {
      order: 1;
      display: flex;
      justify-content: center;
      gap: 15px;

      .search-input {
        width: 300px;
        background-color: $main-color;
      }
    }
    .share {
      order: 3; /* Sosyal medya ikonlarını üçüncü sıraya al */
      display: flex;
      justify-content: center;
      gap: 10px;
      a {
        display: flex; 
        justify-content: center; 
        align-items: center;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: $main-color;
        font-size: 25px;
        &:hover {
          border-radius: 40px;
          border: 2px solid $main-color;
        }
      }
    }

    .links {
      order: 1; /* Linkleri birinci sıraya al */
      display: flex;
      justify-content: center;
      gap: 15px;
      a {
        display: flex; /* Flexbox düzeni */
        justify-content: center; /* Yatayda ortala */
        align-items: center; /* Dikeyde ortala */
        width: 100px; /* Sabit genişlik */
        height: 50px; /* Sabit yükseklik */
        background-color: $iColor;
        padding: 15px 7px;
        color: $black-color;
        font-size: $font-size;
        border-radius: 40px;
        &:hover {
          background-color: $primaryColor;
          opacity: 0.7;
          border: 2px solid $main-color;
        }
      }
    }
  }
  /*Footer End*/


  @media (max-width: 992px) {

    flex-direction: column; /* Dikey sıralama */
    align-items: center;
    gap: 20px; /* Elemanlar arasında boşluk */

    .logo img {
      display: none;
    }
    .navbar {
      padding: 0 40;
    }
    .box-container {
      grid-template-columns: repeat(15, 25%) !important;
    }

    .search,
    .share,
    .links {
      width: 100%; /* Tam genişlik */
      justify-content: center;
    }

    .search .search-input {
      width: 90%; /* Daha küçük genişlik */
      max-width: 400px; /* Maksimum genişlik */
    }

    .links a {
      width: 120px; /* Linklerin genişliği */
      font-size: 14px; /* Daha küçük yazı boyutu */
    }

    .share a {
      width: 45px; /* Sosyal medya ikonlarının genişliği */
      height: 45px;
      font-size: 22px; /* Daha küçük ikon boyutu */
    }
  }

  @media (max-width: 768px) {
    flex-direction: column; /* Dikey düzen */
    align-items: center;
    gap: 20px;
    .box-container {
      grid-template-columns: repeat(15, 33.3%) !important;
    }

    .header .navbar a {
      font-size: 14px;
    }

    .buttons {
      display: none;
    }

    .search,
    .share,
    .links {
      width: 100%; /* Tüm elemanlar tam genişlikte */
      justify-content: center;
      gap: 15px;
    }

    .search .search-input {
      width: 100%; /* Arama çubuğu tam genişlikte */
      max-width: 300px; /* Maksimum genişlik */
    }

    .links a {
      width: 120px; /* Link kutularının genişliği */
    }

    .share {
      display: none !important;
    }

  }
  @media (max-width: 576px) {
    flex-direction: column;
    gap: 15px;
    .header {
      display: none;
    }
    .box-container {
      grid-template-columns: repeat(15, 30%) !important;
    }
    .search {
      display: none !important;
    }

    .share {
      display: none !important;
    }

    .links {
      justify-content: center;
      width: 100%; /* Linkler tam genişlikte kalsın */
    }
    
  }
}
