@import '../../styles/scss/variables';
@import '../../styles/scss/mixins';

.crypto-icon {
   display: inline-flex;
   align-items: center;

   &__default {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondary-color;
      color: white;
      border-radius: 50%;
      font-size: 0.7em;
      font-weight: 600;
   }

   &__text {
      margin-left: 0.5rem;
      font-weight: 500;
      color: $text-dark;

      @include dark-mode {
         color: $text-light;
      }
   }
}