body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p {
  padding: 10px;
  font-size: 1.5rem;
}
#ikinciParagraf {
  color: rgb(203, 15, 15);
}

div > p:last-child {
  color: blue;
}
