* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background: linear-gradient(135deg, #73d0ff 0%, #4e78e4 100%);
  padding: 50px 0;
  color: #fff;
  font-weight: 600;
}

header,
main,
footer {
  width: 1200px;
  margin: auto;
  font-size: 20px;
}

header,
section,
aside,
footer {
  border-radius: 15px;
  background: linear-gradient(120deg, #1747ca 0%, #2016b4 100%);
}

header {
  height: 100px;
  padding: 30px;
  text-align: center;
  margin-bottom: 25px;
}

header h1 {
  font-size: 30px;
}

header h1 span {
  color: #f9c23c;
}

section {
  width: calc(80% - 25px);
  float: left;
  padding: 25px;
  margin-bottom: 25px;
}

section,
aside {
  min-height: 750px;
}

section h1 {
  text-align: center;
  margin-bottom: 25px;
}

.content {
  margin-bottom: 25px;
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
  color: #333;
}

.content > * {
  display: block;
  margin-bottom: 25px;
}

.content:last-child,
.content > *:last-child:not(:first-child) {
  margin-bottom: 0;
}

.content h2 {
  text-align: center;
  font-size: 30px;
}

.content h3 {
  font-size: 20px;
  font-weight: 800;
}

.content img {
  max-height: 300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #333;
  border-radius: 5px;
}

.content a {
  color: #00a4e6;
}

aside {
  width: 20%;
  float: right;
  padding: 25px;
}

aside ul {
  list-style: none;
  font-size: 25px;
}

aside ul li {
  margin-bottom: 10px;
}

aside ul li.active {
  color: #8be8ff;
  text-shadow: 0 0 2px #00a4e6;
}

aside li a {
  color: inherit;
  text-decoration: none;
}

.clear {
  clear: both;
}

footer {
  padding: 25px;
  text-align: center;
}
