@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

$whiteColor: white;
$blueColor: #2f89fc;
$greyColor: #4d4d4d;
$categoryBg: #e9ecef;
$sectionBg: #f8f9fa;
$starColor: #f89d13;

// @mixin container( $padding) {
//   display: $display;
//   flex-direction: $flex-direction;
//   justify-content: $justify-content;
//   padding: $padding;
// }

@mixin container($width, $padding) {
  width: $width;
  padding: $padding;
}
@mixin flexCenter($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin listStyle($display, $flex-direction, $list-style, $gap) {
  display: $display;
  flex-direction: $flex-direction;
  list-style: $list-style;
  gap: 30px;
  a {
    text-decoration: none;
    font-size: 15px;
    color: $whiteColor;
    padding: 0 15px;
  }
}
@mixin font($font-size, $font-weight, $font-color) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $font-color;
}

@mixin flex($display, $flex-direction, $gap) {
  display: $display;
  flex-direction: $flex-direction;
  gap: $gap;
}

@mixin spanClass($background, $padding, $border-radius) {
  background: $background;
  padding: $padding;
  border-radius: $border-radius;
}

@mixin blueLine($backgorund-color, $width, $height, $margin) {
  background-color: $backgorund-color;
  width: $width;
  height: $height;
  margin: $margin;
}

* {
  box-sizing: border-box;
  font-family: "Nanum Gothic", serif;
  margin: 0;
  padding: 0;
}

.container {
  @include container(1100px, 75px 0);
}

.header {
  @include flexCenter(flex, center, start);
  background-image: url("https://preview.colorlib.com/theme/directoryads/images/hero_2.jpg.webp") center center;
  background-size:cover;
  height: 1000px;
  .container {
    @include container(1100px, 75px 0);
    margin: 0 auto;
    padding: 0;
    .nav {
      @include flexCenter(flex, space-between, center);
      height: 100px;
      gap: 30px;
      .nav-left {
        h2 {
          font: optional;
          @include font(18px, 700, $whiteColor);
        }
      }
      .nav-right {
        @include flexCenter(flex, center, center);
        gap: 100px;
        .nav-list {
          ul {
            @include flex(flex, row, 20px);
            li {
              list-style: none;
              a {
                text-decoration: none;
                @include font(15px, 300, $whiteColor);
              }
            }
          }
        }
        .nav-right-buttons {
          @include flex(flex, row, 30px);
          .login {
            padding: 10px 0;
            span {
              @include font(15px, 400, $whiteColor);
              padding: 0 30px;
              border-left: 1px solid $whiteColor;
            }
          }
          .register {
            background-color: $blueColor;
            padding: 12px 20px;
            @include font(15px, 400, $whiteColor);
            border-radius: 5px;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.featured-ads {
  @include flexCenter(flex, center, center);

  background-color: $sectionBg;
  h2 {
    margin-bottom: 20px;
    @include font(20px, 500, #000000);
  }
  .featured-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    .fa-card {
      @include flex(flex, column, 0);
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.1);

      img {
        width: 100%;
        height: 150px;
      }
      .fa-card-content {
        padding: 20px;
        .first-content {
          @include flex(flex, row, 0);
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          .span-class {
            @include font(11px, 700, #000);
            @include spanClass($categoryBg, 8px 20px, 20px);
          }
          .span-heart {
            @include flex(flex, column, 0);
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            background: #00000008;
            border-radius: 50%;
            &:hover {
              background: red;
              cursor: pointer;
              i {
                color: white;
              }
            }
            i {
              color: $blueColor;
            }
          }
        }
        .second-content {
          @include flex(flex, column, 10px);
          h3 {
            @include font(16px, 500, $blueColor);
          }
          p {
            @include font(13px, 400, $greyColor);
          }
          .stars {
            i {
              font-size: 14px;
              //   @include font(16px, 500, $blueColor);
              color: $starColor;
            }
            span {
              @include font(13px, 400, $greyColor);
            }
          }
        }
      }
    }
  }
  .arrows {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;

    span {
      margin: 20px;
      color: $greyColor;
    }
  }
}

.popular-categories {
  @include flexCenter(flex, center, center);

  text-align: center;
  h2 {
    @include font(32px, 700, $blueColor);
    margin-bottom: 10px;
  }
  p {
    @include font(16px, 400, $greyColor);
    margin-bottom: 10px;
  }
  .blue-line {
    @include blueLine($blueColor, 80px, 3px, 0 auto 40px);
  }
  .category-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;

    .c-card {
      //   @include flex(flex, column, 10px);
      border: 1px solid $blueColor;
      border-radius: 10px;
      padding: 20px 10px;

      i {
        font-size: 45px;
        margin-bottom: 8px;
        color: $blueColor;
      }
      span {
        @include spanClass($categoryBg, 5px 20px, 20px);
        @include font(14px, 400, #000);
        width: 10px;
        margin-top: 10px;
      }
    }
  }
}

.trending {
  @include flexCenter(flex, center, center);
  @extend .featured-ads;
  h2 {
    @include font(32px, 700, $blueColor);
    margin-bottom: 8px;
  }
  .blue-line {
    @include blueLine($blueColor, 80px, 3px, 0 0 40px);
  }
  .featured-card {
    grid-template-columns: repeat(2, 1fr);
    .fa-card {
      @include flex(flex, row, 0);
      .fa-card-content {
        width: 65%;
      }
    }
  }
}

.testimonials {
  @include flexCenter(flex, center, center);

  .test-wrap {
    @include flex(flex, row, 100px);
    align-items: center;

    .test-arrow {
      background-color: #00000033;
      padding: 15px 20px;
      border-radius: 50%;

      i {
        color: $whiteColor;
      }
    }
    .test-content {
      text-align: center;

      h2 {
        @include font(32px, 700, $blueColor);
      }
      .blue-line {
        @include blueLine($blueColor, 80px, 3px, 0 auto 40px);
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 15px;
        &:nth-child(odd) {
          font-size: 24px;
          line-height: 1.5;
          color: $greyColor;
        }
      }
    }
  }
  .blue-spans {
    text-align: center;

    i {
      color: #dee2e6;
      font-size: 10px;
      margin: 2px;
      &:nth-last-of-type(n + 4) {
        color: $blueColor;
      }
    }
  }
}

.our-blog {
  @include flexCenter(flex, center, center);
  flex-direction: column;
  background: $sectionBg;

  h2 {
    @include font(32px, 700, $blueColor);
    margin-bottom: 10px;
    text-align: center;
  }
  p {
    @include font(16px, 400, $greyColor);
    margin-bottom: 10px;
    text-align: center;
  }
  .blue-line {
    @include blueLine($blueColor, 80px, 3px, 0 auto 40px);
  }
  .blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .blog {
      padding: 0 15px;
      margin: 0 0 24px;
      img {
        width: 100%;
        border-radius: 5px;
      }
      .blog-content {
        @include flex(flex, column, 10px);
        h3 {
          @include font(19px, 400, #000000);
          margin: 20px 0 0;
        }
        p {
          @include font(14px, 400, #b3b3b3);

          text-align: left;
          &:nth-child(odd) {
            @include font(16px, 400, $greyColor);
            line-height: 2;
          }
          span {
            color: $blueColor;
          }
        }
      }
    }
  }

  .btn {
    text-align: center;

    .blue-button {
      @include font(16px, 400, $whiteColor);
      background-color: $blueColor;
      padding: 8px 24px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.navbar-first {
  @include flexCenter(flex, center, center);
  background: $blueColor;
  .first-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    // padding: 20px 0;
    .f-nav {
      padding: 45px 75px;
      h3 {
        @include font(18px, 500, $whiteColor);
      }
      p {
        @include font(16px, 400, rgba(255, 255, 255, 0.7));
        margin-top: 10px;
      }
    }
  }
}

.navbar-second {
  @extend .navbar-first;
  background: #333333;
  .first-nav {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 45px 225px;
    .f-nav {
      padding: 0;
      h3 {
        @include font(16px, 500, $whiteColor);
      }
      p {
        @include font(16px, 400, #737373);
        margin-top: 20px;
        line-height: 2;
      }
      .nav-list {
        @include listStyle(display, column, none, 0);
        li {
          margin-top: 20px;
        }
      }
    }
  }
}
