#root {
  margin: 0 auto;
  text-align: center;
}

.navbar {
  background-color: #c03232;
  color: white;
}

.card {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.card:hover {
  transform: scale(1.05);
}

 .card>img {
  height: 300px;
  object-fit: cover;
} 