* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  width: 980px;
  margin: 0 auto;
}

.header {
  background-color: white;
  height: 100px;
}

.navHeader {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.navHeader ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navHeader li {
  font-size: 20px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navHeader li:hover {
  color: pink;
}

.branch {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.sectionContainer {
  position: relative;
  color: white;
}

.main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.avatarAndName {
  position: absolute;
  width: 100px;
  margin: 20px;
  display: flex;
  left: 16px;
  top: 16px;
  gap: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
}

.avatarAndName h5 {
  color: white;
  margin-top: 20px;
  white-space: noWrap;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.articleTitle {
  position: absolute;
  margin: 20px;
  display: flex;
  left: 16px;
  top: 160px;
  gap: 10px;
}

.articleInformations {
  position: absolute;
  margin: 20px;
  display: flex;
  left: 16px;
  top: 250px;
  gap: 10px;
}

.articleInformations h5 {
  color: white;
  margin-top: 20px;
  white-space: noWrap;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.articleSubTitle {
  position: absolute;
  margin: 20px;
  display: flex;
  left: 16px;
  top: 350px;
  gap: 10px;
}

.blogs {
  position: relative;
  height: 300px;
}

.blogs h5 {
 color: white;
 font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.blogContainers {
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.blog-box {
  width: 315px;
  margin: 10px auto;
  margin-right: 20px;
  height: 300px;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.blog-images {
  height: 300px;
  object-fit: fill;
}

.blog-information {
  position: absolute;
  width: 100px;
  margin: 20px;
  display: flex;
  left: 16px;
  white-space: noWrap;
  top: 160px;
}

.infos h5{
  color: white;
  margin-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

}


.footer {
  background-color: blue;
  height: 200px;
  margin: 20px auto;
}
