$background-color-light: #FFFFFF;
$text-color-light: #23262F;
$primary-color-light: #3772FF;
$secondary-color-light: #777E90;
$border-color-light: #e5e7eb;
$card-background-light: #f9fafb;
$shadow-color-light: rgba(0, 0, 0, 0.1);

// dark theme
$background-color-dark: #121212;
$text-color-dark: #FFFFFF;
$primary-color-dark: #60a5fa;
$secondary-color-dark: #94a3b8;
$border-color-dark: #374151;
$card-background-dark: #1f2937;
$shadow-color-dark: rgba(0, 0, 0, 0.3);

$primary: #23262F; // Primary
$secondary: #777E90; // Secondary
$success: #58BD7D; // Success
$danger: #D33535; // Critical
$warning: #FABE; // Warning
$info: #1E58C8; // Highlight
$light: #F7F7F7; // Surface
$dark: #343a40; // Hover

:root {
    --background-color: #{$background-color-light};
    --text-color: #{$text-color-light};
    --secondary-color: #{$secondary-color-light};
    --border-color: #{$border-color-light};
    --card-background: #{$card-background-light};
    --shadow-color: #{$shadow-color-light};
    --subhero-line: #{$light};
    --primary-color-light: #3772FF;
}

body.dark {
    --background-color: #{$background-color-dark};
    --text-color: #{$text-color-dark};
    --secondary-color: #{$secondary-color-dark};
    --border-color: #{$border-color-dark};
    --card-background: #{$card-background-dark};
    --shadow-color: #{$shadow-color-dark};
    --subhero-line: #23262F;
}