$primary: #6b89dc7d;
$secondary: #a0d851;
$danger:#b656c9;
.d-flex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 18rem;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}

.card-img-top {
    border-bottom: 2px solid #f1f1f1;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.card-body {
    padding: 15px;

    .btn {
        margin-right: 5px;

        &:hover {
            opacity: 0.9;
        }
    }
}