$primary: #2571ff;
$secondary: #211875;
$warning: #ff9900;
$danger: #e21c1c;

@import "../../node_modules/bootstrap/scss/bootstrap";

main .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;

  .card img {
    height: 15rem;
  }
}

textarea {
  height: 6rem !important;
}
