$mainW: 73%;
$center: 0 auto;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
.container {
    max-width: $mainW;
    margin: $center;

    a {
        text-decoration: none;
    }
}

.site-wrap {
    .hero-bg {
        background-image: url('../images/hero_2.jpg.webp');
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-position: 50% -20px;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.3);
        }
    }
}

header {
    justify-content: space-between;
    margin-top: 2rem;
    align-items: center;
    display: flex;

    nav {
        @include center();
        gap: 3rem;

        .list-group {
            display: flex;
            list-style-type: none;

            a {
                color: #fff;
                padding: 20px 10px;
                font-size: 15px
            }
        }

        .auth {
            @include center();

            a {
                color: #fff;
            }

            a:nth-child(1) span {
                padding-right: 1.5rem;
                border-left: 1px solid white;
            }

            a:nth-child(2) {
                margin-left: 50px;
                padding: 12px 20px;
                border-radius: 0.25rem;
                background-color: #2f89fc;
            }
        }

    }

    .navbar-brand {
        font-size: 20px;
        font-weight: 900;
        color: #fff;
        text-decoration: none;
    }
}

.hero {
    max-width: $mainW;
    margin: $center;

    .hero-title {
        font-size: 3rem;
        margin-top: 5rem;
        text-align: center;
        font-weight: 400;
        color: #fff;
    }

    .hero-desc {
        text-align: center;
        padding: 1.3242341rem 0;
        color: #fff;
    }

    .search {
        display: flex;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 4px;
        gap: 30px;

        div {
            width: 100%;
        }

        .search-location {
            position: relative;

            svg {
                position: absolute;
                width: 18px;
                height: 18px;
                right: 12px;
                top: 26%;
                fill: #4d4d4d;
            }
        }

        input,
        select {
            height: 43px;
            width: 100%;
            border-radius: 0.25rem;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border-color: transparent;

            &:focus {
                outline: 0;
                border-color: transparent;
            }
        }

        .search-button {
            color: #fff;
            background-color: #4a8afc;
            border: 1px solid #4a8afc;
            padding: 10px 44px;
            border-radius: 0.25rem;
            cursor: pointer;

            &:hover {
                background-color: #0974fb;
            }
        }
    }


    .hero-trending {
        display: flex;
        color: #fff;
        margin-top: 18px;
        gap: 5px;
        align-items: center;

        h2 {
            font-size: 1rem;
            color: #fff;
            margin-right: 10px;
        }

        margin-top: 18px;

        a {
            display: inline-block;
            color: #fff;
            padding: 5px 10px;
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid #fff;
            border-radius: 4px;
            font-size: .8rem;
            transition: .3s all ease;
            text-decoration: none;

            &:hover {
                background: #fff;
                color: #2f89fc;
            }
        }
    }
}

.featured-add {
    padding-top: 5em;
    background-color: #F8F9FA;
    .h2 {
        font-weight: 500;
        line-height: 1.2;
        font-size: 1.15rem;
        margin-bottom: 1.5rem;
    }

    .featured-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        .featured-card {
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            margin-bottom: 30px;
            box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
            img {
                width: 100%;
                height: 150px;
            }

            .featured-cont {
                padding: 20px;
                background-color: rgb(255, 255, 255);

                .stars {
                    svg {
                        width: 15px;
                        height: 16px;
                        fill: #F89D13;
                    }

                    svg:nth-child(5) {
                        fill: #6C757D;
                    }
                }

                .info {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    span {
                        font-size: 11px;
                        display: inline-block;
                        padding: 5px 20px;
                        background: #e9ecef;
                        border-radius: 30px;
                        margin-bottom: 20px;
                        color: #000;
                        font-weight: bold;
                    }

                    svg {
                        width: 16px;
                        height: 16px;
                        fill: #2F89FC;
                    }

                    .heart-wrapper {
                        width: 30px;
                        height: 30px;
                        border-radius: 15px;
                        background-color: black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: rgba(0, 0, 0, 0.03);
                    }
                    .heart-wrapper:hover {
                        background-color: #F23A2E;
                        svg {
                            fill: #fff;
                        }
                    }

                }
                h3 {
                    color: #2F89FC;
                    margin-bottom: 0.5rem;
                }

                p {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .featured-arrows {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 30px;
            height: 30px;
        }
        .left-arrow:hover {
            fill: #2F89FC;
        }
        .right-arrow:hover {
            fill: #2F89FC;
        }

    }

}

.popular-categories {
    padding: 5em 0;

    .popular-wrapper {
        .title {
            position: relative;
            text-align: center;
            gap: 10px;
            margin-bottom: 3rem;
            h2 {
                font-weight: 700;
                color: #2f89fc ;
                font-size: 2rem;    margin-bottom: 0.5rem;
                line-height: 1.2;
            }
        
            p {
                margin-bottom: 1rem;
                color: rgba(0, 0, 0, 0.5);
            }
        
            span {
                transform: translate(-50%, 20px);
                left: 50%;
                position: absolute;
                content: "";
                bottom: 0;
                width: 80px;
                height: 3px;
                background: #2f89fc;
            }
        }
        .icons {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            .icon {
                padding: 30px 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
            .icon:hover {   
                border-radius: 10px;
                background: #2f89fc;
                -webkit-box-shadow: 0 5px 30px -5px rgba(47, 137, 252, 0.5);
                box-shadow: 0 5px 30px -5px rgba(47, 137, 252, 0.5);
                z-index: 1;
                -webkit-transform: scale(1.09);
                -ms-transform: scale(1.09);
                transform: scale(1.09);
                transition: all 0.3s ease;
                .icon-logo {
                    fill: #fff;
                }
                .icon-text {
                    color: #fff;
                }
                .icon-number {
                    background: #046DF4;
                    color: #fff;
                }
            }
            .icon-text {
                text-align: center;
            }
            .icon-logo {
                width: 45px;
                height: 45px;
                fill: #4a8afc;
            }
            .icon-number {
                font-size: 11px;
                display: inline-block;
                padding: 5px 20px;
                background: #e9ecef;
                border-radius: 30px;
                margin-bottom: 20px;
                color: #000;
                font-weight: bold;
            }
        }
    }
    
}