* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
  padding: 25px 20px;
  font-family: "Roboto Slab", serif;
  position: sticky;
  background-color: white;
  z-index: 1;
  top: 0;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav {
  display: flex; /* Flexbox aktif edilir */
  align-items: center; /* Dikeyde hizalar */
  gap: 20px; /* Navigasyon ve ikonlar arasında boşluk bırakır */
}

.nav-item {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav ul li {
  display: inline;
}

.nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #24272c;
  font-size: 12px;
  letter-spacing: 0.05rem;
  font-weight: 600;
  margin: 0px 6px;
  font-family: "Roboto Slab", serif;
}

.nav ul li a:hover {
  color: #ff5714;
}

.nav-icon {
  display: flex; /* İkonları yatayda hizalar */
  gap: 0px; /* İkonlar arasındaki boşluğu azaltır */
}

.btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #ff5714;
  border: none;
  margin-right: 0.25rem;
  color: white;
}

.btn i {
  font-size: 1rem;
}
.section1 {
  height: 100vh;
}
.bg-img {
  background-image: url(1.jpg);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.text {
  margin-left: 12rem;
}

.section1-h4 {
  color: white;
  font-size: 42px;
  letter-spacing: 0.2px;
  line-height: 1.5;
  font-family: "Roboto Slab", serif;
}
.underline {
  text-decoration: underline;
  text-decoration-color: rgb(255, 191, 102);
  text-underline-offset: 8px;
}

.section1-p {
  color: rgb(255, 255, 255, 0.8);
  font-size: 17px;
  font-family: "Roboto", serif;
}

.section1-btn {
  background-color: #ff5714;
  border: 1px solid #ff5714;
  padding: 8px 20px;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  border-radius: 6px;
  color: #fff;
  font-family: "Roboto", serif;
}

.section2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fc;
}

.bg-img2 {
  background-image: url(about.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  height: 80%;
  width: 30%;
  background-size: contain;
  border-radius: 10px;
}

.section2-h6 {
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  color: #ff5714;
}

.section2-h4 {
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  margin-top: 0.3rem;
}

.section2-p {
  font-size: 15px;
  line-height: 1.6;
  width: 593px;
  margin-top: 1.33rem;
  margin-bottom: 1rem;
  font-family: "Roboto", serif;
  color: #8492a6;
}

.section2-cover {
  margin-left: 5rem;
  margin-bottom: 7rem;
}

.icon {
  background-color: white;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-bottom: 50px;
  text-decoration: none;
}

.icon i {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}
.section3-h3 {
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  color: #ff5714;
  margin-left: 0;
}
.section3-h2 {
  font-size: 28px;
  font-family: "Roboto Slab", serif;
}
.section3-cover {
  margin-left: 5rem;
  margin-top: 2rem;
}

.section4 {
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.card1-icon i {
  background: rgba(255, 87, 20, 0.1);
  color: #ff5714;
  border-radius: 10px;
  height: 85px;
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 1rem;
  width: 25%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 30px;
  padding: 1rem;
}

.card:hover {
  box-shadow: 0 25px 25px rgba(36, 39, 44, 0.05);
}
.card2,
.card4,
.card6 {
  box-shadow: 0 25px 25px rgba(36, 39, 44, 0.05);
}

.section4-content {
  margin: 1rem 0;
}

.section4-content a {
  color: #24272c;
  font-weight: 600;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
}

.section4-a {
  font-size: 18px;
  margin: 1rem 0;
}
.section4-content a:hover {
  color: #ff5714;
}

.section4-p {
  color: #8492a6;
  font-size: 15px;
  font-family: "Roboto", serif;
  margin: 1rem 0;
}

.section4-a2 {
  font-family: "Roboto", serif;
  font-size: 1rem;
}

.section5 {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section5-h3 {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  color: #ff5714;
  text-align: center;
}
.section5-h2 {
  display: block;
  font-size: 28px;
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin-bottom: 1rem;
}

.section5-p {
  font-size: 15px;
  max-width: 600px;
  line-height: 1.6;
  text-align: center;
  font-family: "Roboto", serif;
  color: #8492a6;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline-item img {
  width: 250px;
  height: 250px;
}

.section6 {
  height: 100vh;
  margin-top: 100px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section6-img {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 10rem 0 10rem;
  gap: 16px;
  justify-content: center;
}

.img-item {
  flex: 1 1 calc(25% - 16px);
}

.img-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.section7 {
  height: 50vh;
  background-image: url(https://shreethemes.in/upstart/layouts/images/bg/cta.png);
  background-position: 50%;
}

.section7-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section7-container .section1-p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.section8-cards {
  font-family: "Roboto", serif;
  gap: 1rem;
  margin: 3rem 10rem 0 10rem;
}

.section8-card {
  flex: 1 1 calc(25% - 16px);
  box-shadow: 0 0 3px rgba(36, 39, 44, 0.15);
  color: #212529;
  padding: 3rem 1.5rem;
}
.section8-card:hover {
  box-shadow: 0 5px 13px rgba(36, 39, 44, 0.2);
}
.section8-card h5 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin-bottom: 0.5rem;
}
.price {
  font-family: "Roboto Slab", serif;
  display: flex;
  margin-bottom: 1.5rem;
}

.dolar {
  margin-top: 0.5rem;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
}
.fiyat {
  font-size: 42px;
  line-height: 1.5;
  font-weight: 600;
}
.ay {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 0.25rem;
  align-self: flex-end;
}
.section8-ul {
  list-style: none;
}

.section8-ul li {
  margin-bottom: 1.5rem;
  color: #212529bf;
}

.section8-btn {
  width: 100%;
  background-color: rgba(255, 87, 20, 0.1);
  border: 1px solid rgba(255, 87, 20, 0.1);
  color: #ff5714;
  box-shadow: 0 3px 5px 0 rgba(255, 87, 20, 0.1);
  margin-top: 1.5rem;
  padding: 8px 20px;
  outline: none;
  text-decoration: none;
  letter-spacing: 0.5px;
  border-radius: 6px;
}

.section8-btn:hover {
  background-color: #ff5714;
  border-color: #ff5714;
  color: #fff;
}

.section9 {
  background-color: #f8f9fc;
  height: 120vh;
  padding: 100px 10rem;
}

.section9-container {
  text-align: center;
}

.section9-img {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}
.section9-img-item img {
  height: 261px;
  width: 261px;
  border-radius: 5px;
}
.section9-text {
  display: flex;
  justify-content: space-around;
}
.section9-text h3 {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  color: #212529;
  font-weight: 600;
}
.section9-text span {
  font-size: 15px;
  color: #212529bf;
  font-family: "Roboto", serif;
}
.section9-ortak {
  padding-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.section9-ortak img {
  height: 25px;
  opacity: 0.7;
}

.section10 {
  padding: 50px 0;
  height: 100vh;
}

.section10-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 3rem 10rem 0 10rem;
}
.section10-card {
  flex: 0 0 auto;
  width: 30%;
  box-shadow: 0 0 3px rgba(36, 39, 44, 0.15);
}

.section10-card img {
  width: 100%;
  height: auto;
}
.section10-card .section4-content {
  padding: 0.5rem;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .img-item {
    flex: 1 1 calc(50% - 16px);
  }
}

@media (max-width: 480px) {
  .img-item {
    flex: 1 1 100%;
  }
}
