* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a.btn {
  font-size: 13px;
  padding: 12px 24px;
  display: inline-block;
  background: #ffb91f;
  color: black;
  text-decoration: none;
  border: 1px solid #ffb91f;
  border-radius: 42px;
  font-weight: 600;
  line-height: 14px;
  transition: 0.3s ease;
}

a.btn:hover {
  background: #202020;
  color: #ffb91f;
}

.common-card {
  border: 1px solid rgba(235, 235, 235, 1);
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
h2 {
  font-size: 36px;
}
h4 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

p {
  font-size: 15px;
}
.container {
  margin: 0 auto;
}

.container > h2 {
  text-align: center;
  margin: 50px 0;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.blog-card:nth-child(2) {
  border: none;
  box-shadow: none;
}
.blog-card:nth-child(2) a.btn {
  display: none;
}

.blog-card:nth-child(2) .blog-details:nth-child(2) {
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  border-top: 1px solid rgba(235, 235, 235, 1);
}

.blog-card {
  min-width: 300px;
}

.blog-image {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.badge {
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 25px;
  font-size: 12px;
  line-height: 18px;
}

.blog-date {
  background: rgba(255, 255, 255, 1);
  padding: 6px 18px;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.1);
}

.blog-details {
  padding: 20px;
}

.blog-meta {
  font-size: 13px;
  color: #848484;
  margin-bottom: 15px;
}

.blog-meta span {
  margin-right: 10px;
  font-weight: 400;
}

.categories {
  color: #202020;
}

.blog-card h4 {
  margin-bottom: 15px;
  color: #202020;
}

.blog-card p {
  color: #202020;
  line-height: 1.6;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
  .blog-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .blog-card h2 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

@media (min-width: 1100px) {
  .container {
    max-width: 1084px;
    padding: 0 10px;
  }
}

@media (min-width: 1279px) {
  .container {
    max-width: 1304px;
    padding: 0px;
  }
  .blog-card:nth-child(2) a.btn {
    display: inline-block;
  }
}
