body{
    background-color: #e3f2fd;
}
.container{
    max-width: max-content;
}
li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: beige;
    border-radius: 10px;
    list-style: none;
    cursor: pointer;
    margin: 10px 0;
}
li i{
    height: 16px;
    width: 14px;
}
p{
    margin: 0;
}