.paragraph {
	color: red;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	background-color: yellow;
}

#first-paragraph {
	color: blue;
	font-size: 30px;
	font-weight: normal;
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	background-color: green;
}

#second-paragraph {
	color: green;
	font-size: 40px;
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
	text-align: right;
	background-color: red;
}

#third-paragraph {
	color: yellow;
	font-size: 50px;
	font-weight: normal;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	background-color: blue;
}
