node_modules
Ogrenciler/BerfinElaKilic/Homework/Formik-Odev/.env
Ogrenciler/Cenk/ders-23/movie-app/.env
Ogrenciler/Hilal/ders20/hava-durumu/.env
Ogrenciler/Hilal/takimCalismasi/news/.env
Ogrenciler/MehmetcanGultekin/uygulama/uygulama-15/.env
Ogrenciler/FurkanFirat/.DS_Store
Ogrenciler/.DS_Store
