@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap");

$font-family-base: "Faculty Glyphic";
$primary: #b298dc;
$secondary: #f8edeb;
$warning: #c4f1be;

@import "../node_modules/bootstrap/scss/bootstrap";

main {
  min-height: calc(100vh - 12rem);
}

.banner {
  height: 20rem;
}

#description {
  height: 5rem;
}

#content {
  height: 10rem;
}

.page-body {
  background-image: url(https://img.freepik.com/free-photo/ultra-detailed-nebula-abstract-wallpaper-4_1562-749.jpg?t=st=1741781731~exp=1741785331~hmac=76f37c45a14689fd95610b79d038d97d6ed0e0e22f87423e761e2db37d7e9a1b&w=2000);
  background-size: contain;
}
.blog-body {
  background-color: $secondary;
}
