.navbar-nav>li>a:hover{ 
    color: #4285F4; 
}
.card {
    max-width: 400px;
    background-color: #f8f9fa;
    border: none;
    text-align: center;
    padding: 2rem;
    margin-top: 32px;
    position: relative;
}

.icon-circle {
    width: 64px;
    height: 64px;
    background-color: #4285f4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
}

.icon-circle svg {
    width: 24px;
    height: 24px;
    color: white;
}

.card-title {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.card-text {
    color: #6c757d;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.learn-more {
    color: #4285f4;
    text-decoration: none;
}

.learn-more:hover {
    text-decoration: underline;
}