.bgimage{
    background-image: url(https://st2.depositphotos.com/3008028/5544/i/450/depositphotos_55448461-stock-photo-background-in-blue-and-beige.jpg);
    width: 400px;
    height: 500px;
    background-position-x: center;
    background-position-y:center;
    background-size: auto;
    color:white;
}