$navbar-padding-y: 1.5rem;
$light: #E6EFF7;
$font-family-base: "Montserrat", serif;
$primary: #3F2A52;
$tertiary: #75619D;
$secondary: #BEAEDB;
$dark: #3A2D34;
$navbar-brand-font-size:2.3rem;
$nav-link-font-size: 1.2rem;
$navbar-active-color: $primary;
$nav-link-color: $secondary;
$headings-font-weight: 900;
$h1-font-size: 4rem;
$h2-font-size: 24px;
$display-font-sizes: (
  1: 3.5rem,
  2: 3rem,
  3: 2.5rem,
  4: 2rem,
  5: 1.5rem,
  6: 1rem
);
$btn-box-shadow: 0 4px 4px rgba(51, 51, 51, 0.7);
$card-border-width:0px;
$card-height: 21.5rem;