.bgImage{
    background-image: url("https://media.istockphoto.com/id/958693744/tr/vekt%C3%B6r/mavi-arka-plan-arka-k%C4%B1rm%C4%B1z%C4%B1-%C4%B1%C5%9F%C4%B1k-iz.jpg?s=612x612&w=0&k=20&c=hl1F8sHvGGjPHQhiKOb-od6ox1gzzx92Y7tJrU3Ci4w=");
    width: 500px;
    height: 500px;
    background-position-x: center;
    background-position-y: center;
    background-size: auto;
    color: white;
}