.bgImage {
  background-image: url("https://picsum.photos/200/300");
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  color: white;
  background-repeat: no-repeat;
}

.bgImage2 {
  background-image: url("https://picsum.photos/200/300");
  width: 500px;
  height: 500px;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  color: white;
  background-repeat: no-repeat;
}
