* {
  padding: 0;
  margin: 0;
  --webkit-box-sizing: border-box;
}
$fontFamily: 'Nanum Gothic', sans-serif;
$mainBgColor: #2f89fc;
$whiteColor: #ffffff;
$xWidth100: 100%;
$h2FontSize: 32px;
$aNavFontSize: 15px;
$aFontSize: 16px;
$adressFontSize: 13px;
$gray-text-color: #4d4d4d;

@mixin createTitle() {
  font-size: $h2FontSize;
  color: $mainBgColor;
  font-weight: bold;
}

@mixin createSubtitle() {
  font-size: $aFontSize;
  color: #00000080;
  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 80px;
    height: 3px;
    background: #2f89fc;
  }
}

body {
  font-family: $fontFamily;
}
.container {
  margin: 0 auto;
  width: $xWidth100;
}
img {
  width: 100%;
}
.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.btn {
  border: none;
  background-color: $mainBgColor;
  color: $whiteColor;
  padding: 12px 20px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn:hover {
  background-color: #1e77e6;
}
.header {
  width: $xWidth100;
  position: absolute;
  top: 0;

  background-color: transparent;
  .container {
    justify-content: space-between;
    margin: 0 auto;
  }
  .header-title a {
    width: $xWidth100;
    font-size: 20px;
    color: $whiteColor;
  }
  .header-links {
    width: $xWidth100;
    justify-content: space-between;
  }
  .header-nav {
    width: $xWidth100;
    justify-content: flex-end;
  }
  .header-list {
    width: 70%;
    justify-content: space-between;
  }
  .vertical-divider {
    width: 1px;
    height: 15px;
    background-color: $whiteColor;
    margin: 20px 0px;
  }
  .header-list li a {
    font-size: $aNavFontSize;
    color: $whiteColor;
  }
}

.banner {
  background: url('https://preview.colorlib.com/theme/directoryads/images/hero_2.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  .container {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .banner-content {
    width: $xWidth100;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .banner-title {
    color: $whiteColor;
    font-size: 48px;
    margin-bottom: 8px;
  }
  .banner-text {
    color: $whiteColor;
    font-size: 19px;
    margin-bottom: 16px;
  }
  .form-section {
    width: $xWidth100;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 4px;
  }
  .form {
    width: $xWidth100;
    height: 43px;
  }
  .form-section div {
    width: $xWidth100;
    height: 43px;
  }
  .input {
    width: $xWidth100 * 0.85;
    padding: 0.32rem 0.75rem;
    height: $xWidth100;
    color: #495057;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 4px;
  }
  .btn {
    height: $xWidth100;
    width: $xWidth100 * 0.25;
    padding: 10px 30px;
  }
  .trending-search {
    width: $xWidth100;
    align-items: start;
    margin-top: 16px;
  }
  .trending-search h2 {
    font-size: 16px;
    color: $whiteColor;
    font-weight: 500;
    margin: 0px 10px 8px 0;
  }
  .trending-search span a {
    color: #fff;
    padding: 6px 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 0.8rem;
  }
}

.featured-ads {
  padding: 80px 0px;
  background: #f8f9fa;

  .container {
    flex-direction: column;
    align-items: start;
  }
  h2 {
    @include createTitle();
    margin: 0px 0px 24px;
  }
  .card-container {
    border-radius: 8px;
    box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
  }
  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-content {
    padding: 20px;
  }
  .category {
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .category-text {
    font-size: 11px;
    display: inline-block;
    padding: 10px 20px;
    background: #e9ecef;
    border-radius: 30px;
    color: #000;
    font-weight: bold;
  }
  .category-title {
    margin-bottom: 8px;
  }
  .fa-heart {
    color: $mainBgColor;
  }
  h3 a {
    color: $mainBgColor;
    font-size: $aFontSize;
    font-weight: 500;
  }
  address {
    font-size: $adressFontSize;
    color: $gray-text-color;
    margin-bottom: 16px;
  }
  .checked {
    color: orange;
  }
  .review {
    font-size: $adressFontSize;
    color: $gray-text-color;
  }
  .featured-ads-cards {
    display: grid;
    gap: 20px;
  }

  .tabs {
    justify-content: center;
    gap: 70px;
    margin-top: 40px;

    .tabs span {
      padding: 20px;
    }
  }
  .tabs span:hover {
    color: $mainBgColor;
    cursor: pointer;
  }
}

.popular-categories {
  padding: 80px 0px;
  .container {
    flex-direction: column;
  }
  h2 {
    @include createTitle();
    margin: 0px 0px 24px;
  }
  p {
    position: relative;
    @include createSubtitle();
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
  }
  .wrapper {
    margin-top: 40px;
    display: grid;
    gap: 30px;
  }
  .wrapper-item {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    .caption {
      color: #666666;
      letter-spacing: normal;
      font-size: $aNavFontSize;
      font-weight: normal;
    }
    .size {
      padding: 5px 20px;
      border-radius: 30px;
      background: #e9ecef;
      color: #000;
      font-size: 14px;
      font-weight: 400;
    }
    i {
      font-size: 45px;
      color: $mainBgColor;
    }
    &:hover {
      cursor: pointer;
      border-radius: 5px;
      background: #2f89fc;
      -webkit-box-shadow: 0 5px 30px -5px rgba(47, 137, 252, 0.5);
      box-shadow: 0 5px 30px -5px rgba(47, 137, 252, 0.5);
      z-index: 1;
      -webkit-transform: scale(1.09);
      -ms-transform: scale(1.09);
      transform: scale(1.09);
      i {
        font-size: 45px;
        color: white;
      }
      .caption {
        color: white;
      }
      .size {
        color: white;
        background: rgb(8, 98, 214);
      }
    }
  }
  .wrapper-item span {
    margin-bottom: 10px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .featured-ads-cards {
    grid-template-columns: 1fr;
  }
  .featured-ads-card:nth-child(n + 2) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .featured-ads-cards {
    grid-template-columns: 1fr 1fr;
  }
  .featured-ads-card:nth-child(n + 3) {
    display: none;
  }
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .featured-ads-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .featured-ads-card:nth-of-type(4) {
    display: none;
  }
  .wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .featured-ads-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .wrapper {
    grid-template-columns: repeat(6, 1fr);
  }

  // .menu-icon{
  //     display: none;
  // }
}
