body {
    font-family: Roboto, sans-serif;
    background: linear-gradient(135deg, rgba(0, 102, 204, 1) 0%, rgba(33, 150, 243, 0.85) 40%, rgba(100, 181, 246, 0.7) 70%, rgba(187, 222, 251, 0.5) 100%);

}

.card {
    background-color: #dcf2fa;
}


h5 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}