$primary: #6247ea;
$secondary: #ec9d5f;
$font-family-base: "Roboto", sans-serif;
$h2-font-size: 36px;
$a-font-size: 12px;
$navbar-light-color: #222222;
$navbar-light-hover-color: #6247ea;
$navbar-light-active-color: #6247ea;
$dropdown-link-color: #222222;
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: #6247ea;
$navbar-toggler-focus-color: none;
$navbar-toggler-focus-box-shadow: none;