.paragraf{
    font-size: 24px;
}

.title{
    font-size: 36px;
    color: red;
}

/*responsive*/

@media screen and (max-width:768px) {
    .paragraf{
        font-size: 16px;
    }
    .title{
        font-size: 24px;
        color: blue;
    }
    
}

/* psuedo class : */

.link{
    color: orange;
    font-size: 24px;
    text-decoration: none;
}

.link:visited{
    color: rgb(0, 255, 204);
}
.link:hover{
    color: rgb(200, 22, 171);

}
.link:active{
    color: rgb(194, 173, 40); 
}


/* Psuedo Class */
.link {
    color: rgb(255, 90, 1);
    font-size: 24px;
    text-decoration: none;
  }
  .link:visited {
    color: rgb(56, 135, 10);
  }
  .link:hover {
    color: rgb(255, 0, 0);
  }
  .link:active {
    color: rgb(230, 0, 255);
  }
  
  /* .listItem:last-child {
    color: rgb(8, 136, 117);
  } */
  
  /* .listItem:nth-child(2) {
    color: rgb(182, 73, 4);
  } */
  /* .listItem:nth-child(2n+1) {
    color: rgb(182, 73, 4);
  } */
  /* .listItem:nth-child(even) {
    color: rgb(182, 73, 4);
  } */
  .listItem:nth-child(odd) {
    color: rgb(182, 73, 4);
  }
  /* Psuedo Element */
  
  .listItem::before {
    content: "👉";
    font-size: 18px;
  }
  .listItem::after {
    content: " Deneme 🚀";
    font-size: 18px;
  }
  
  /* .text::first-letter {
    font-size: 36px;
    color: red;
  } */
  .text::first-line {
    font-size: 24px;
    color: red;
  }