@mixin btn($bg-color) {
    background-color: $bg-color;
    border: none;
    border-radius: 8px;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darken($bg-color, 10%);
    }
  }
  
  @mixin responsive-image($width) {
    display: block;
    width: $width;
    height: auto;
  }
  
  