$primary-color: #9B4DFF; 
$secondary-color: #D1B3FF;
$accent-color: #FF6EC7; 
$neutral-light: #F9F9F9; 
$neutral-dark: #2F2F2F; 

$background-color: $neutral-light; 


$font-primary: 'Poppins', sans-serif; 
$font-secondary: 'Roboto', sans-serif; 

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


$box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0 6px 12px rgba(0, 0, 0, 0.2);

