* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", serif;
}

.container {
  width: 80%;
}

.d-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;

}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: #233f92;
}

.header-top ul li {
  display: inline;
  list-style: none;
  margin-right: 10px;
}

.header-top ul li a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.header-top ul li a:hover {
  color: #ffb91f;
}

.header-top p span {
  color: #ffb91f;
  font-size: 15px;
  font-weight: bold;
  padding: 0 5px;
}

.header-top p {
  color: white;
  font-size: 15px;
  padding: 0 15px;
}

.header-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111px;
  background-color: white;
}

.header-middle img {
  width: 150px;
  height: 58px;
}

.search {
  width: 580px;
  height: 48px;
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: rgba(248, 248, 248, 1);
  border-radius: 60px;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  border-width: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 30px;
  padding-right: 18px;
  margin-right: 7px;
  text-transform: capitalize;
  background-color: transparent;
  outline: none;
  border: none;
  border-right: 1px solid black;
  appearance: none;
}

.all-categories {
  padding: 5px 8px;
  color: black;
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffb91f;
  border-radius: 60px;
}

.search-input input {
  width: 385px;
  height: 48px;
  padding: 12px 60px 12px 18px;
  border: none;
  outline: none;
  background: transparent;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 10px;
}

.icons .icons-select select {
  appearance: none;
  font-size: 15px;
  height: 19px;
  margin: 0;
  padding: 0;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Outfit", serif;
}

.icons .icons-select {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons .icons-select i {
  font-size: 10px;
  color: #a7a7a7;
}

.icons i {
  font-size: 18px;
  margin-left: 10px;
}

.icons select:hover {
  color: #ffb91f;
}

.icons i:hover {
  color: #ffb91f;
}

.header-bottom {
  width: 100%;
  height: 60px;
  border-top: 1px solid #e9e9e9;
  overflow: hidden;
}

.bottom-list-menu {
  display: flex;
  gap: 40px;
}

.bottom-list-menu p {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.bottom-list-menu p:hover {
  color: #ffb91f;
}

.header-bottom-img{
  height: 62px;
}

main{
  width: 100%;
  height: auto;
}

.first-img{
  width: 100%;
  height: 80vh;
  background: url("https://i.ibb.co/2kfNM9q/Ekran-Resmi-2025-01-04-22-32-01.png") no-repeat center center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 3fr 5fr 1fr;
}

.img-arrow{
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-cont{
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow-cont i{
  color: white;
  font-size: 12px;
}

.img-form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-form form{
  width: 80%;
  height: 60vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px;
}

.img-form form select{
  width: 100%;
  height: 50px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 0 10px;
  font-family: "Outfit", serif;
  outline: none;
}

.img-form form h1{
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
}

.img-form form button{
  width: 115px;
  height: 50px;
  background-color: #ffb91f;
  color: black;
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: 600;
  margin-top: 20px;
  font-family: "Outfit", serif;
  cursor: pointer;
}

.img-form form button:hover{
  background-color: black;
  color: #ffb91f;
  transition: 0.3s;
}

.img-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.img-text h4{
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.img-text h1{
  font-size: 70px;
  font-weight: 600;
  color: white;
}

.img-text p{
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.img-text button{
  width: 156px;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: 600;
  margin-top: 20px;
  font-family: "Outfit", serif;
  cursor: pointer;
}

.img-text button:hover{
  background-color: #ffb91f;
  transition: 0.3s;
}
.categories{
  width: 100%;
  background-color: #ffb91f;
  padding: 20px 0;
}
.categories-grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}
.categories-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.arrow{
  display: flex;
  align-items: center;
  gap: 10px;
}
.arrow div{
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
.arrow div i{
  font-size: 14px;
}
.arrow div:hover{
  background-color: white;
  transition: 0.3s ease;
}
.categories-text h2{
  font-size: 45px;
  font-weight: 700;
  color: black;
}
.categories-text p{
  font-size: 25px;
  font-weight: 400;
}
.categories-img{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
}
.category{
  text-align: center;
}
.category-img1, .category-img2,
.category-img3, .category-img4,
.category-img5{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-size: 100%;
}
.category p{
  margin-top: 5px;
  font-size: 20px;
  font-weight: 300;
}

.category-img1{
  background: url("https://druco-be87.kxcdn.com/druco/wp-content/uploads/2022/08/tires-310x310.jpg") no-repeat center center;
}
.category-img2{
  background: url("https://druco-be87.kxcdn.com/druco/wp-content/uploads/2022/08/interior-310x310.jpg") no-repeat center center;
}
.category-img3{
  background: url("https://druco-be87.kxcdn.com/druco/wp-content/uploads/2022/08/entertainment-310x310.jpg") no-repeat center center;
}
.category-img4{
  background: url("https://druco-be87.kxcdn.com/druco/wp-content/uploads/2022/08/oils-310x310.jpg") no-repeat center center;
}
.category-img5{
  background: url("https://druco-be87.kxcdn.com/druco/wp-content/uploads/2022/08/exteriors-310x310.jpg") no-repeat center center;
}
.category:hover .category-img1,
.category:hover .category-img2,
.category:hover .category-img3,
.category:hover .category-img4,
.category:hover .category-img5{
  background-size: 110%;
}
.category:hover p{
  color: white;
}

/*FOOTER */
.footer{
  width: 100%;
  padding: 80px 0;
  background-color: black;
}
.footer-grid{
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
}
.say-hello{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.say-hello h3{
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.say-hello p{
  font-size: 15px;
  color: #aaaaaa;
}
.say-icons{
  display: flex;
  gap: 40px;
}
.say-icons div{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  color: white;
}
.facebook:hover{
  background-color: #3b5998;
}
.twitter:hover{
  background-color: #2caae1;
}
.pinterest:hover{
  background-color: #d43811;
}
.linkedin:hover{
  background-color: #e30761;
}
.footer-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-content h3{
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.footer-content p{
  font-size: 15px;
  color: #aaaaaa;
}
.footer-content p:hover{
  color: #ffb91f;
}
.footer-bottom{
  height: 70px;
  border-top: 0.5px solid white;
  background-color: black;
}
.footer-bottom p{
  color: white;
  font-size: 15px;
}
.footer-bottom p span{
  color: #ffb91f;
}
/*FOOTER END*/
