
$theme-colors: (
  "primary":    #6247EA,
  "secondary":  #EC9D5F,
  "dark-gray":  #222222,
  "light-gray": #777777,
);


$font-size-base:1rem;

$font-sizes: (
  12: $font-size-base * 0.75,
  36: $font-size-base * 2.25
);


$line-height-lg: 2.25;

