.top-bar {
    background-color: #f4a261;
    color: white;
}
.top-bar a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.btn-purchase {
    background: #6247ea;
    color: white;
}
