h1{
    color: aqua;
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial,sans-serif;
    text-align: center;
}

.paragraf{
    color: rgb(3, 44, 5);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace,sans-serif;
    text-align: center;
    background-color: gray;
}

#p1{
    color: red;
    background-color: yellow;
    text-align: left;
}

#p2{
    color: white;
    background-color: black;
    text-align: right;
}
