.login-form-width{
    width: 40%;
}

.primary-button{
    background-color: #111827;
    color: white;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.form-helper-text{
    color: #111827;
    font-size: 13px;
}

.custom-input{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    outline: none;
    font-size: 14px;
}

.form-container{
    min-height: 100vh;
    height: auto;
    padding: 50px 0;
}