.history-orders {
    padding: 48px 40px;
    background-color: var(--subhero-background-color);
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 40px;
    padding-bottom: 20px;
    margin-bottom: 24px;

    .tabs {
        border-bottom: 1px solid var(--marketcap-border-color);

        .history-orders-button-box {

            .history-orders-button {
                font-weight: 700;
                font-size: 20px;
                border-radius: 0;
                background-color: transparent;
                line-height: 28px;
                text-transform: capitalize;
                color: var(--secondary-color);

                &.active {
                    color: var(--text-color);
                    border-bottom: 2px solid #3772FF;
                }

            }
        }

        .searchBox {
            display: flex;
            align-items: center;
            border-radius: 100px;
            padding: 8px 16px;
            border: 1px solid #eaedf3;
            width: 300px;
            font-size: 16px;
            transition: all 0.3s ease;
            background-color: var(--marketcap-searchbar-background);
            border: 2px solid var(--marketcap-border-color) !important;

            .searchIcon {
                color: #aaa;
                margin-right: 8px;
                font-size: 16px;
            }

            .searchInput {
                border: none;
                outline: none;
                background: transparent;
                font-size: 16px;
                width: 100%;
                color: var(--secondary-color);
                background-color: var(--marketcap-searchbar-background);

                &::placeholder {
                    color: var(--secondary-color);
                }
            }
        }
    }

    .table-responsive {
        thead {
            tr {
                border-bottom: 1px solid var(--marketcap-border-color);

                th {
                    font-weight: 700;
                    font-size: 18px;
                    background-color: var(--subhero-background-color);
                    color: var(--text-color);
                    line-height: 24px;
                }
            }
        }

        tbody {
            tr {
                td {
                    font-style: normal;
                    font-weight: 700;
                    border: 0;
                    background-color: var(--subhero-background-color);
                    color: var(--text-color);
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .history-orders-tabs {
            flex-direction: column;
            gap: 1rem;
            padding-bottom: 1rem;
        }
    }
}