.banner {
  height: 160px;
  background-color: #f7f7f7;
  padding-left: 13.28vw;
  padding-right: 13.28vw;

  .register-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01%;
    color: #23262f;
  }
}

.link {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #777e90;
}
