.sideImage {
  background: url("https://www.hisglobal.com.tr/assets/images/uploads/1584511907.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.bgColor {
  background-color: #8ebd9d;
}
