.googleBtn{
    background-color: #EB4136;
}
.facebookBtn{
    background-color: #375A96;
}
.githubBtn{
    background-color: #4B5563;
}

.imgContainer{
    background: url("https://bolge9.tarimorman.gov.tr/Documents/Yedigoller_sonbahar.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}