.footerSection {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-column-gap: 2rem;
}

.footerSection ul {
	list-style: none;
	padding-inline-start: 0;
}

.footerContainer {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0rem 2rem;
}

.footerBottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid gray;
	padding: 1rem 0;
}
