body {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

button {
  background-color: #0d6efd;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(1.762295082, 87.2336065574, 213.237704918);
}
