body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dikdortgen{
    width: 800px;
    height: 600px;
    background-color: white; 
}
.kare{
    width: 150px;
    height: 150px;
    background-color: plum;
    animation: dongu 4s ease-in-out 1s infinite ;
}
@keyframes dongu {
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(650px,0) rotate(360deg);
    }
    50%{
        transform: translate(650px,450px) rotate(720deg);
    }
    75%{
        transform: translate(0,450px) rotate(1080deg);
    }
    100%{
        transform: translate(0,0) rotate(1440deg);
    }
}