#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.bg-1{
  background-color: #fcf3cf;
}
.bg-2{
  background-color: #f7dc6f;
}
.bg-3{
  background-color: #eb984e;
}
.bg-default {
  background: url('https://i02.appmifile.com/images/2019/06/27/3dfbd421-111a-484b-a250-5521fe7e49cf.jpg') no-repeat center center fixed;
  background-size: cover;
  }
.bg-clear-sky {
  background: url('https://img.freepik.com/free-vector/hand-drawn-hot-background_23-2149449890.jpg?t=st=1739975712~exp=1739979312~hmac=264ecdf3ed2c523f6aaadbaac1d85ee486a499da971a7324899195d3c1e85e56&w=1380') no-repeat center center fixed;
  background-size: cover;
  }
  .bg-cloudy {
  background: url('https://i.pinimg.com/736x/0d/86/c6/0d86c64fccbfdefd96e07768f3e932db.jpg') no-repeat center center fixed;
  background-size: cover;
  }
  .bg-rainy {
  background: url('https://img.freepik.com/free-vector/background-with-rain-dark-sky_1308-10107.jpg?t=st=1739975794~exp=1739979394~hmac=3483904bdaa5a1552acba7e09a6e83e91743dc9bd185fb7930f51f4de12dc894&w=1380') no-repeat center center fixed;
  background-size: cover;
  }
  .bg-snowy {
  background: url('https://img.freepik.com/free-vector/hand-drawn-flat-winter-landscape-illustration_23-2149141417.jpg?t=st=1739975343~exp=1739978943~hmac=e71a4d3f7c09c92fd46621dbd5679424196fd858b0399dcd265b8dffd7394666&w=1380') no-repeat center center fixed;
  background-size: cover;
  }
  .bg-stormy {
  background: url('https://img.freepik.com/free-photo/beautiful-shot-lightning-strike-zagreb-croatia_181624-13398.jpg?t=st=1739975652~exp=1739979252~hmac=ad5af98befcf7d0fb32cf3e9e23bb86a395cd6804e7457b5868c6a1504a4e813&w=1480') no-repeat center center fixed;
  background-size: cover;
  }
  .bg-misty {
  background: url('https://media.istockphoto.com/id/1160438555/photo/fog-and-clouds-on-mountain.jpg?s=612x612&w=0&k=20&c=9eYUdj4fgMoMJlUGM9zvzdFULUlOaig_AHoK5mlDJR4=') no-repeat center center fixed;
  background-size: cover;
  }