*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrap{
    width: 98px;
    margin: o auto;
}
.header{
    height: 150px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom,green, darkgreen);
    border: 3px solid black;
    border-radius: 10px;
}
