.box{
    height: 50px;
    width: 250px;
    margin: 10px;
}
.red{
    background-color: red;
    margin-left: 20px;
    margin: 10px;
}
.green{
    background-color: green;
    margin-bottom: 100px;
}
.blue{
    background-color: blue;
    margin-top: 100px;
}