.container{
    height: 80%   ;
    width: 90%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box{
    width: 200px;
    border: 1px solid black;
}

.box1{
    background-color: blue;
}

.box2{
    background-color: red;
}