@import "variables";

nav {
  font-size: 1rem;
  height: 50px;

  .navbar-brand {
    width: 12rem;
  }

  .nav-link {
    color: $black;
    [data-bs-theme="dark"] & {
      color: $white;
    }

    &.active {
      background-color: $primary;
      color: $white !important;
    }

    height: 100%;
  }
}
