@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

$white: #fff;
$primary: #ffcc00;
$secondary: #0075be;
$danger: #dc0a2d;

$font-family-base: "Gabarito";
$border-radius: 1.5rem;
$accordion-button-active-bg: $secondary;
$accordion-button-active-color: $white;
$accordion-icon-active-color: $white;
$accordion-button-focus-box-shadow: none;
$light-bg-subtle: #eef2f5;

$layer: #001e31bf;
$card-layer: #00000040;

$h1-font-size: 5rem;
$h3-font-size: 3rem;

@import "../../node_modules/bootstrap/scss/bootstrap";

nav img {
  height: 3rem !important;
}

header {
  height: 100vh;

  iframe {
    transform: translate(-50%, -50%) scale(1.5);

    @include media-breakpoint-down(lg) {
      transform: translate(-50%, -50%) scale(3.5);
    }
  }

  .layer {
    background-color: $layer;

    h1 {
      font-family: "Knewave";

      img {
        width: 5rem;
        transform: translate(0.25rem, -0.5rem);
      }
    }
  }
}

.pokemons .card {
  .pokeball {
    transition: scale 0.3s, opacity 0.3s;
  }

  .pokemon {
    top: 2rem;
    width: 80%;
    opacity: 0;
    transform: translateX(-50%) scale(0.75);
    transition: transform 0.3s, opacity 0.3s;
  }

  &:hover {
    .pokeball {
      scale: 1.25;
      opacity: 0;
    }

    .pokemon {
      transition: transform 0.3s 0.2s, opacity 0.3s;
      transform: translateX(-50%) scale(1);
      opacity: 1;
    }
  }
}

.marquee {
  height: 5rem;

  div {
    gap: 2rem;
    animation: slide 15s linear infinite;

    img {
      width: 5rem;
    }
  }
}

.about-us {
  background-image: url("/about-us.webp");

  .card {
    background-color: $card-layer !important;
    backdrop-filter: blur(1rem);
    transition: transform 0.3s;

    img {
      width: 5rem;
      transition: scale 0.3s;
    }

    &:hover {
      transform: translateY(-1rem);

      img {
        scale: 1.25;
      }
    }
  }
}

@keyframes slide {
  from {
    left: 2rem;
  }

  to {
    left: -102rem; // calc(2rem - 110.25%)
  }
}

#pokemons,
#about-us,
#faq {
  transform: translateY(-3rem);
}

#pokemon {
  padding-top: 5rem;
  height: calc(100vh - 7.5rem);

  h1 {
    font-size: 4rem;
  }

  h3,
  p {
    font-size: 1.2rem;
  }

  img {
    transition: scale 0.3s;

    &:hover {
      scale: 1.1;
    }
  }

  @include media-breakpoint-down(lg) {
    height: unset;
  }
}
