@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap");

$font-family-base: "Faculty Glyphic";
$primary: #b298dc;
$secondary: #f8edeb;
$warning: #c4f1be;
$info: #6220ce;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

main {
  min-height: calc(100vh - 12rem);

  &.home {
    background-image: url("https://img001.prntscr.com/file/img001/BjoiThwKTxGVXg-xrA1aPQ.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  &.blog {
    background-color: $secondary;
  }
}

.banner {
  height: 20rem;
}

#description {
  height: 5rem;
}

#content {
  height: 10rem;
}

nav {
  height: 5rem;

  img {
    height: 3rem;
    width: 3rem;
  }
}

.card img {
  height: 3rem;
  width: 3rem;
}

textarea {
  min-height: 7rem !important;
}
