.imgContainer {
  background: url("https://bolge9.tarimorman.gov.tr/Documents/Yedigoller_sonbahar.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
