.imgContainer{
    background: url("https://bolge9.tarimorman.gov.tr/Documents/Yedigoller_sonbahar.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}