#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: top;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("./assets/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  background: #2f2f30;
}

.navbar h2 {
  color: #a789d7;
}

.scroll {
  overflow-y: scroll;
  height: 500px;
}

.card {
  background: #2f2f30;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(47, 47, 48, 0.3);
  transition: transform 0.3s ease-in-out;
}
.card-title a {
  color: #a789d7;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}

.profil-name {
  color: #a789d7;
}
