.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}
.card {
  border: 1px solid #e0e0e0;
  height: 400px;
}
