*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    background-color: yellow;
}


#p1{
    width: 330px;
    height: 300px;
    color: aqua;
    background-color: gray;
    float: left;
}
#p2{
    width: 430px;
    height: 400px;
    color: rgb(64, 255, 80);
    background-color: rgb(232, 47, 47);
    float: right;
}

