/* [project]/src/components/molecules/MarketData/MarketUpdateRow.module.scss.module.css [app-client] (css) */
.MarketUpdateRow-module-scss-module__GcmFYG__row {
  border-bottom: 1px solid var(--line);
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  font-size: .9rem;
  display: flex;
}

.MarketUpdateRow-module-scss-module__GcmFYG__row.MarketUpdateRow-module-scss-module__GcmFYG__dark {
  border-bottom: 1px solid var(--on-surface);
}

.MarketUpdateRow-module-scss-module__GcmFYG__row:hover {
  background: #ffffff1a;
  transform: translateY(-4px);
}

.MarketUpdateRow-module-scss-module__GcmFYG__row.MarketUpdateRow-module-scss-module__GcmFYG__dark:hover {
  background: #2f324180;
  transform: translateY(-4px);
}

.MarketUpdateRow-module-scss-module__GcmFYG__rank {
  text-align: center;
  width: 40px;
}

.MarketUpdateRow-module-scss-module__GcmFYG__coin {
  align-items: center;
  gap: .75rem;
  min-width: 160px;
  display: flex;
}

.MarketUpdateRow-module-scss-module__GcmFYG__coin .MarketUpdateRow-module-scss-module__GcmFYG__logo {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.MarketUpdateRow-module-scss-module__GcmFYG__coin .MarketUpdateRow-module-scss-module__GcmFYG__nameSymbol {
  align-items: center;
  gap: 8px;
  display: flex;
}

.MarketUpdateRow-module-scss-module__GcmFYG__coin .MarketUpdateRow-module-scss-module__GcmFYG__name {
  font-weight: 600;
}

.MarketUpdateRow-module-scss-module__GcmFYG__coin .MarketUpdateRow-module-scss-module__GcmFYG__symbol {
  border-left: 1px solid var(--stroke);
  color: var(--secondary);
  padding-left: 8px;
  font-size: .8rem;
}

.MarketUpdateRow-module-scss-module__GcmFYG__price {
  text-align: right;
  width: 100px;
}

.MarketUpdateRow-module-scss-module__GcmFYG__change {
  text-align: right;
  width: 80px;
  font-weight: 600;
}

.MarketUpdateRow-module-scss-module__GcmFYG__green {
  color: var(--success);
}

.MarketUpdateRow-module-scss-module__GcmFYG__red {
  color: var(--critical);
}

.MarketUpdateRow-module-scss-module__GcmFYG__marketCap {
  text-align: right;
  width: 140px;
}

.MarketUpdateRow-module-scss-module__GcmFYG__sparkline {
  text-align: center;
  width: 100px;
}

.MarketUpdateRow-module-scss-module__GcmFYG__tradeButton {
  cursor: pointer;
  border-radius: 90px;
  flex-shrink: 0;
  padding: .4rem 1rem;
  transition: all .3s;
}

.MarketUpdateRow-module-scss-module__GcmFYG__tradeButton.MarketUpdateRow-module-scss-module__GcmFYG__light {
  background-color: var(--white);
  color: var(--on-surface);
  border: 2px solid var(--stroke);
}

.MarketUpdateRow-module-scss-module__GcmFYG__tradeButton.MarketUpdateRow-module-scss-module__GcmFYG__dark {
  background-color: var(--on-surface);
  color: var(--white);
  border: 2px solid var(--stroke);
}

.MarketUpdateRow-module-scss-module__GcmFYG__tradeButton.MarketUpdateRow-module-scss-module__GcmFYG__active {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

/*# sourceMappingURL=1ab64_components_molecules_MarketData_MarketUpdateRow_module_scss_module_css_f9ee138c._.single.css.map*/