/* [project]/src/components/atoms/Footer/Footer.module.scss.module.css [app-client] (css) */
.Footer-module-scss-module__8ayADa__footer {
  width: 100%;
  padding: 40px 20px;
}

.Footer-module-scss-module__8ayADa__footer.Footer-module-scss-module__8ayADa__dark {
  background-color: var(--dark1);
  color: var(--surface);
}

.Footer-module-scss-module__8ayADa__footer.Footer-module-scss-module__8ayADa__light {
  background-color: var(--white);
  color: var(--on-surface);
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__top {
  flex-flow: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__left {
  flex: 1;
  min-width: 250px;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__left .Footer-module-scss-module__8ayADa__logo {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__left .Footer-module-scss-module__8ayADa__title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__left p {
  margin: 5px 0;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__columns {
  flex-wrap: wrap;
  flex: 2;
  justify-content: space-between;
  gap: 2rem;
  display: flex;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__columns div {
  min-width: 120px;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__columns div h4 {
  margin-bottom: 8px;
  font-weight: 600;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__columns div li {
  font-size: 14px;
  line-height: 1.8;
  list-style: none;
}

.Footer-module-scss-module__8ayADa__bottom {
  width: 100%;
}

.Footer-module-scss-module__8ayADa__bottom.Footer-module-scss-module__8ayADa__dark {
  background-color: var(--dark-hover);
  color: var(--secondary2);
}

.Footer-module-scss-module__8ayADa__bottom.Footer-module-scss-module__8ayADa__light {
  background-color: var(--surface);
  color: var(--secondary2);
}

.Footer-module-scss-module__8ayADa__bottom .Footer-module-scss-module__8ayADa__container {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.Footer-module-scss-module__8ayADa__bottom .Footer-module-scss-module__8ayADa__socials {
  gap: 10px;
  display: flex;
}


/* [project]/src/components/molecules/NavbarElements/ThemeToggleButton.module.scss.module.css [app-client] (css) */
.ThemeToggleButton-module-scss-module__HnXCJq__button {
  cursor: pointer;
  border: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  transition: all .3s;
}

.ThemeToggleButton-module-scss-module__HnXCJq__button.ThemeToggleButton-module-scss-module__HnXCJq__light {
  background-color: var(--white);
  color: var(--dark);
}

.ThemeToggleButton-module-scss-module__HnXCJq__button.ThemeToggleButton-module-scss-module__HnXCJq__dark {
  background-color: var(--dark);
  color: var(--white);
}


/* [project]/src/components/organisms/Navbar/Navbar.module.scss.module.css [app-client] (css) */
.Navbar-module-scss-module__SkgiEW__navbar {
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 14px;
  display: flex;
  box-shadow: 0 2px 5px #0000000d;
}

.Navbar-module-scss-module__SkgiEW__left {
  align-items: center;
  gap: 24px;
  display: flex;
}

.Navbar-module-scss-module__SkgiEW__right {
  align-items: center;
  gap: 16px;
  display: flex;
}

.Navbar-module-scss-module__SkgiEW__logoText {
  font-size: 18px;
  font-weight: bold;
}

.Navbar-module-scss-module__SkgiEW__menu {
  gap: 18px;
  display: flex;
}

.Navbar-module-scss-module__SkgiEW__menuItem {
  cursor: pointer;
  color: inherit;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  display: flex;
}

a span.Navbar-module-scss-module__SkgiEW__menuItem {
  text-decoration: none;
}

.Navbar-module-scss-module__SkgiEW__menuItemActive {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  text-decoration: none;
  display: flex;
}

.Navbar-module-scss-module__SkgiEW__icon {
  cursor: pointer;
}

.Navbar-module-scss-module__SkgiEW__walletBtn {
  cursor: pointer;
  color: var(--text-color);
  border: 1px solid;
  border-color: var(--border-color);
  background: none;
  border-radius: 9999px;
  padding: 6px 12px;
}

.Navbar-module-scss-module__SkgiEW__walletBtn.Navbar-module-scss-module__SkgiEW__light {
  color: var(--on-surface);
  border-color: var(--on-surface);
}

.Navbar-module-scss-module__SkgiEW__walletBtn.Navbar-module-scss-module__SkgiEW__dark {
  color: var(--white);
  border-color: var(--white);
}

.Navbar-module-scss-module__SkgiEW__avatar {
  cursor: pointer;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
}


/* [project]/src/components/molecules/NavbarElements/LanguageButton.module.scss.module.css [app-client] (css) */
.LanguageButton-module-scss-module__SOd4xW__languageButton {
  cursor: pointer;
  background: none;
  border: none;
  align-items: center;
  display: flex;
}

.LanguageButton-module-scss-module__SOd4xW__languageButton.LanguageButton-module-scss-module__SOd4xW__light {
  color: var(--on-surface);
}

.LanguageButton-module-scss-module__SOd4xW__languageButton.LanguageButton-module-scss-module__SOd4xW__dark {
  color: var(--white);
}


/* [project]/src/app/global.scss.css [app-client] (css) */
* {
  font-family: DM Sans, sans-serif;
}

@import "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap";

html[data-theme="light"] {
  --white: #fff;
  --on-surface: #23262f;
  --primary: #3772ff;
  --secondary: #777e90;
  --secondary2: #b1b5c3;
  --dark: #141416;
  --success: #58bd7d;
  --critical: #d33535;
  --line: #e5e5e5;
  --stroke: #e6e8ec;
  --surface: #f7f7f7;
  --interactive: #2e72d2;
  --warning: #fabe3c;
  --highlight: #1e58c8;
  --decorative: linear-gradient(90deg, #383fde, #8444d4);
  --dark2: #18191d;
  --gray: #3c404b;
}

html[data-theme="dark"] {
  --bg: #141416;
  --on-surface: #23262f;
  --primary: #3772ff;
  --secondary: #777e90;
  --secondary2: #b1b5c3;
  --white: #fff;
  --success: #58bd7d;
  --critical: #d33535;
  --line: #e5e5e5;
  --stroke: #e6e8ec;
  --surface: #f7f7f7;
  --interactive: #2e72d2;
  --warning: #fabe3c;
  --highlight: #1e58c8;
  --decorative: linear-gradient(90deg, #383fde, #8444d4);
  --dark2: #18191d;
  --gray: #3c404b;
  --dark-hover: #222630;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color .3s, color .3s;
}


/* [project]/src/components/atoms/UnifiedInput.module.scss.module.css [app-client] (css) */
.UnifiedInput-module-scss-module__OhPjIa__inputGroup {
  align-items: center;
  gap: .5rem;
  margin-bottom: 1rem;
  display: flex;
}

.UnifiedInput-module-scss-module__OhPjIa__label {
  font-size: .95rem;
  font-weight: 500;
}

.UnifiedInput-module-scss-module__OhPjIa__label.UnifiedInput-module-scss-module__OhPjIa__light {
  color: var(--secondary);
}

.UnifiedInput-module-scss-module__OhPjIa__label.UnifiedInput-module-scss-module__OhPjIa__dark {
  color: var(--secondary2);
}

.UnifiedInput-module-scss-module__OhPjIa__input, .UnifiedInput-module-scss-module__OhPjIa__select {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex: 1;
  padding: .5rem;
  font-size: 1rem;
  transition: border-color .2s;
}

.UnifiedInput-module-scss-module__OhPjIa__input.UnifiedInput-module-scss-module__OhPjIa__light, .UnifiedInput-module-scss-module__OhPjIa__select.UnifiedInput-module-scss-module__OhPjIa__light {
  background-color: var(--white);
  color: var(--black);
}

.UnifiedInput-module-scss-module__OhPjIa__input.UnifiedInput-module-scss-module__OhPjIa__dark, .UnifiedInput-module-scss-module__OhPjIa__select.UnifiedInput-module-scss-module__OhPjIa__dark {
  background-color: var(--dark2);
  color: var(--white);
}

.UnifiedInput-module-scss-module__OhPjIa__select {
  appearance: none;
  max-width: 80px;
  height: 40px;
  padding: .4rem;
}

.UnifiedInput-module-scss-module__OhPjIa__authButton {
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: .75rem 1rem;
  font-weight: bold;
}

.UnifiedInput-module-scss-module__OhPjIa__authButton.UnifiedInput-module-scss-module__OhPjIa__hidden {
  display: none;
}


/* [project]/src/components/organisms/LoginForm/LoginForm.module.scss.module.css [app-client] (css) */
.LoginForm-module-scss-module__yX9Deq__loginForm {
  width: 800px;
  margin: 100px auto;
  padding: 2rem;
}

.LoginForm-module-scss-module__yX9Deq__toggleButtons {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.LoginForm-module-scss-module__yX9Deq__toggleButtons button {
  cursor: pointer;
  color: var(--secondary);
  background: none;
  border: none;
  border-radius: 100px;
  padding: 8px 24px;
  transition: background .2s, color .2s;
}

.LoginForm-module-scss-module__yX9Deq__toggleButtons .LoginForm-module-scss-module__yX9Deq__active {
  background: var(--primary);
  color: var(--white);
  border: none;
}

.LoginForm-module-scss-module__yX9Deq__inputGroup {
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1rem;
  display: flex;
}

.LoginForm-module-scss-module__yX9Deq__label {
  font-size: .95rem;
  font-weight: 500;
}

.LoginForm-module-scss-module__yX9Deq__label.LoginForm-module-scss-module__yX9Deq__light {
  color: var(--secondary);
}

.LoginForm-module-scss-module__yX9Deq__label.LoginForm-module-scss-module__yX9Deq__dark {
  color: var(--secondary2);
}

.LoginForm-module-scss-module__yX9Deq__input {
  background-color: var(--white);
  width: 100%;
  color: var(--black);
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1rem;
  padding: .5rem;
}

.LoginForm-module-scss-module__yX9Deq__input.LoginForm-module-scss-module__yX9Deq__light {
  background-color: var(--white);
}

.LoginForm-module-scss-module__yX9Deq__input.LoginForm-module-scss-module__yX9Deq__dark {
  background-color: var(--dark2);
}

.LoginForm-module-scss-module__yX9Deq__options {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.LoginForm-module-scss-module__yX9Deq__loginButton {
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  width: 100%;
  padding: .75rem;
}

.LoginForm-module-scss-module__yX9Deq__registerPrompt {
  text-align: center;
  margin-top: 1rem;
}

.LoginForm-module-scss-module__yX9Deq__forgetPassword {
  color: var(--critical);
  cursor: pointer;
  text-decoration: none;
}

.LoginForm-module-scss-module__yX9Deq__formContent {
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  display: flex;
}

.LoginForm-module-scss-module__yX9Deq__leftSide {
  flex: 1;
}

.LoginForm-module-scss-module__yX9Deq__titleWrapper h2, .LoginForm-module-scss-module__yX9Deq__titleWrapper h6 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  display: flex;
}

.LoginForm-module-scss-module__yX9Deq__qrSection {
  text-align: center;
  width: 160px;
}

.LoginForm-module-scss-module__yX9Deq__qrSection .LoginForm-module-scss-module__yX9Deq__qrBox {
  background: #e0e0e0;
  width: 100%;
  height: 160px;
  margin-bottom: .5rem;
}

.LoginForm-module-scss-module__yX9Deq__qrSection p {
  margin-bottom: .25rem;
  font-weight: 400;
}

.LoginForm-module-scss-module__yX9Deq__qrSection span {
  color: var(--primary);
  font-size: .875rem;
}

.LoginForm-module-scss-module__yX9Deq__Greencontainer {
  border-radius: 100px;
  justify-content: center;
  max-width: 350px;
  margin: 0 auto 32px;
  display: flex;
}

.LoginForm-module-scss-module__yX9Deq__Greencontainer.LoginForm-module-scss-module__yX9Deq__light {
  background-color: #eef8f2;
}

.LoginForm-module-scss-module__yX9Deq__Greencontainer.LoginForm-module-scss-module__yX9Deq__dark {
  background-color: #1b2520;
}

.LoginForm-module-scss-module__yX9Deq__link, .LoginForm-module-scss-module__yX9Deq__staticText {
  color: inherit;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  text-decoration: none;
  display: flex;
}

.LoginForm-module-scss-module__yX9Deq__keyContainer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  display: flex;
  position: relative;
}

.LoginForm-module-scss-module__yX9Deq__keyIcon {
  z-index: 1;
  width: 24px;
  height: 24px;
}

.LoginForm-module-scss-module__yX9Deq__greenDot {
  z-index: 0;
  background-color: var(--success);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: -5px;
}

.LoginForm-module-scss-module__yX9Deq__urlText {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.LoginForm-module-scss-module__yX9Deq__urlText.LoginForm-module-scss-module__yX9Deq__light {
  color: var(--on-surface);
}

.LoginForm-module-scss-module__yX9Deq__urlText.LoginForm-module-scss-module__yX9Deq__dark {
  color: var(--surface);
}

.LoginForm-module-scss-module__yX9Deq__greenLink {
  color: var(--success);
  text-decoration: none;
}


/* [project]/src/components/atoms/LoginRegisterHeader.module.scss.module.css [app-client] (css) */
.LoginRegisterHeader-module-scss-module__46-EZW__loginPage {
  margin: 0;
}

.LoginRegisterHeader-module-scss-module__46-EZW__loginHeader {
  justify-content: space-between;
  align-items: center;
  height: 150px;
  display: flex;
}

.LoginRegisterHeader-module-scss-module__46-EZW__loginHeader.LoginRegisterHeader-module-scss-module__46-EZW__light {
  background-color: var(--surface);
}

.LoginRegisterHeader-module-scss-module__46-EZW__loginHeader.LoginRegisterHeader-module-scss-module__46-EZW__dark {
  background-color: var(--dark);
}

.LoginRegisterHeader-module-scss-module__46-EZW__loginContainer {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.LoginRegisterHeader-module-scss-module__46-EZW__loginTitle {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.LoginRegisterHeader-module-scss-module__46-EZW__loginTitle h2 {
  margin: 0;
  font-size: 1.5rem;
}

.LoginRegisterHeader-module-scss-module__46-EZW__loginTitle h2.LoginRegisterHeader-module-scss-module__46-EZW__light {
  color: var(--on-surface);
}

.LoginRegisterHeader-module-scss-module__46-EZW__loginTitle h2.LoginRegisterHeader-module-scss-module__46-EZW__dark {
  color: var(--surface);
}

.LoginRegisterHeader-module-scss-module__46-EZW__loginTitle p {
  opacity: .7;
  margin: 0;
  font-size: 1rem;
}

.LoginRegisterHeader-module-scss-module__46-EZW__loginTitle p.LoginRegisterHeader-module-scss-module__46-EZW__light {
  color: var(--secondary);
}

.LoginRegisterHeader-module-scss-module__46-EZW__loginTitle p.LoginRegisterHeader-module-scss-module__46-EZW__dark {
  color: var(--secondary2);
}


/*# sourceMappingURL=src_87853fe7._.css.map*/