/* [project]/src/components/HomaPageBanner.module.scss.module.css [app-client] (css) */
.HomaPageBanner-module-scss-module__EfiBya__bannerSection {
  padding: 4rem 1.5rem;
}

.HomaPageBanner-module-scss-module__EfiBya__container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
}

@media (width >= 768px) {
  .HomaPageBanner-module-scss-module__EfiBya__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    display: flex;
  }
}

.HomaPageBanner-module-scss-module__EfiBya__left, .HomaPageBanner-module-scss-module__EfiBya__right {
  flex: 1;
}

.HomaPageBanner-module-scss-module__EfiBya__right {
  justify-content: center;
  display: flex;
}

.HomaPageBanner-module-scss-module__EfiBya__partners {
  font-size: 24px 700;
  font-weight: 32px;
}

.HomaPageBanner-module-scss-module__EfiBya__bannerImage {
  object-fit: contain;
  width: 100%;
  max-height: 24rem;
}

@media (width >= 768px) {
  .HomaPageBanner-module-scss-module__EfiBya__bannerImage {
    max-height: 32rem;
  }
}

.HomaPageBanner-module-scss-module__EfiBya__title {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
}

.HomaPageBanner-module-scss-module__EfiBya__description {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  font-weight: 400;
}

.HomaPageBanner-module-scss-module__EfiBya__button {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 90px;
  padding: 16px 24px;
  font-weight: 700;
}

.HomaPageBanner-module-scss-module__EfiBya__cryptoContainer {
  border-radius: 24px;
  flex-direction: column;
  gap: 16px;
  margin-top: 2rem;
  display: flex;
  box-shadow: 0 2px 4px #0000001a;
}

.HomaPageBanner-module-scss-module__EfiBya__buttonContainer {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
}

.HomaPageBanner-module-scss-module__EfiBya__buttonContainer button {
  cursor: pointer;
  border: none;
  border-radius: 24px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.HomaPageBanner-module-scss-module__EfiBya__buttonContainer button.HomaPageBanner-module-scss-module__EfiBya__activeButton {
  background-color: var(--primary);
  color: var(--white);
}

.HomaPageBanner-module-scss-module__EfiBya__buttonContainer button.HomaPageBanner-module-scss-module__EfiBya__inactiveButton {
  background: none;
}

.HomaPageBanner-module-scss-module__EfiBya__buttonContainer button.HomaPageBanner-module-scss-module__EfiBya__inactiveButton.HomaPageBanner-module-scss-module__EfiBya__light {
  color: var(--on-surface);
}

.HomaPageBanner-module-scss-module__EfiBya__buttonContainer button.HomaPageBanner-module-scss-module__EfiBya__inactiveButton.HomaPageBanner-module-scss-module__EfiBya__dark {
  color: var(--white);
}

.HomaPageBanner-module-scss-module__EfiBya__cardContainer {
  box-shadow: none;
  border-top: 1px solid;
  border-radius: 0;
  gap: 22px;
  padding: 20px;
  display: flex;
}

.HomaPageBanner-module-scss-module__EfiBya__cardContainer.HomaPageBanner-module-scss-module__EfiBya__light {
  border-color: var(--line);
}

.HomaPageBanner-module-scss-module__EfiBya__cardContainer.HomaPageBanner-module-scss-module__EfiBya__dark {
  border-color: var(--on-surface);
}

.HomaPageBanner-module-scss-module__EfiBya__card {
  text-align: center;
  border-radius: 12px;
  gap: 8px;
  width: 200px;
  margin-bottom: 32px;
  padding: 32px 40px;
  box-shadow: 0 2px 4px #0000001a;
}

.HomaPageBanner-module-scss-module__EfiBya__card:hover {
  background: #ffffff1a;
  transform: translateY(-4px);
}

.HomaPageBanner-module-scss-module__EfiBya__card.HomaPageBanner-module-scss-module__EfiBya__dark:hover {
  background: #2f324180;
  transform: translateY(-4px);
}

.HomaPageBanner-module-scss-module__EfiBya__header {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 8px;
  display: flex;
}

.HomaPageBanner-module-scss-module__EfiBya__icon {
  width: 24px;
  height: 24px;
}

.HomaPageBanner-module-scss-module__EfiBya__coinInfo {
  text-align: left;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  display: flex;
}

.HomaPageBanner-module-scss-module__EfiBya__coinInfo .HomaPageBanner-module-scss-module__EfiBya__coinName {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.HomaPageBanner-module-scss-module__EfiBya__coinInfo .HomaPageBanner-module-scss-module__EfiBya__coinSymbol {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 400;
}

.HomaPageBanner-module-scss-module__EfiBya__price {
  margin: 8px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.HomaPageBanner-module-scss-module__EfiBya__marketVolumeContainer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  display: flex;
}

.HomaPageBanner-module-scss-module__EfiBya__marketVolumeContainer .HomaPageBanner-module-scss-module__EfiBya__marketCap {
  font-weight: 400;
}

.HomaPageBanner-module-scss-module__EfiBya__marketVolumeContainer .HomaPageBanner-module-scss-module__EfiBya__volumeChange {
  text-align: center;
  border-radius: 24px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.HomaPageBanner-module-scss-module__EfiBya__marketVolumeContainer .HomaPageBanner-module-scss-module__EfiBya__volumeChange.HomaPageBanner-module-scss-module__EfiBya__negative {
  background-color: var(--critical);
  color: var(--white);
}

.HomaPageBanner-module-scss-module__EfiBya__marketVolumeContainer .HomaPageBanner-module-scss-module__EfiBya__volumeChange.HomaPageBanner-module-scss-module__EfiBya__positive {
  background-color: var(--success);
  color: var(--white);
}

/*# sourceMappingURL=src_components_HomaPageBanner_module_scss_module_css_f9ee138c._.single.css.map*/