/* [project]/src/components/atoms/Sidebar/Sidebar.module.scss.module.css [app-client] (css) */
.Sidebar-module-scss-module__TwTipW__navbar {
  background-color: var(--background);
  z-index: 1000;
  flex-direction: column;
  gap: 1rem;
  width: 250px;
  height: 100%;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px #0000001a;
}

.Sidebar-module-scss-module__TwTipW__left {
  border-right: 1px solid var(--border-color);
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  display: flex;
}

.Sidebar-module-scss-module__TwTipW__menuItem, .Sidebar-module-scss-module__TwTipW__menuItemActive {
  cursor: pointer;
  color: var(--on-surface);
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 10px;
  text-decoration: none;
  transition: background-color .3s;
  display: flex;
}

.Sidebar-module-scss-module__TwTipW__menuItemActive {
  background-color: var(--primary);
  color: #fff;
  border-radius: 100px;
}

.Sidebar-module-scss-module__TwTipW__right {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  display: flex;
}

.Sidebar-module-scss-module__TwTipW__dropdown {
  position: relative;
}


/* [project]/src/app/global.scss.css [app-client] (css) */
* {
  font-family: DM Sans, sans-serif;
}

@import "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap";

html[data-theme="light"] {
  --white: #fff;
  --on-surface: #23262f;
  --primary: #3772ff;
  --secondary: #777e90;
  --secondary2: #b1b5c3;
  --dark: #141416;
  --success: #58bd7d;
  --critical: #d33535;
  --line: #e5e5e5;
  --stroke: #e6e8ec;
  --surface: #f7f7f7;
  --interactive: #2e72d2;
  --warning: #fabe3c;
  --highlight: #1e58c8;
  --decorative: linear-gradient(90deg, #383fde, #8444d4);
  --dark2: #18191d;
  --gray: #3c404b;
}

html[data-theme="dark"] {
  --bg: #141416;
  --on-surface: #23262f;
  --primary: #3772ff;
  --secondary: #777e90;
  --secondary2: #b1b5c3;
  --white: #fff;
  --success: #58bd7d;
  --critical: #d33535;
  --line: #e5e5e5;
  --stroke: #e6e8ec;
  --surface: #f7f7f7;
  --interactive: #2e72d2;
  --warning: #fabe3c;
  --highlight: #1e58c8;
  --decorative: linear-gradient(90deg, #383fde, #8444d4);
  --dark2: #18191d;
  --gray: #3c404b;
  --dark-hover: #222630;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color .3s, color .3s;
}

a {
  text-decoration: none;
}


/* [project]/src/components/molecules/Dashboard/CryptoCard.module.scss.module.css [app-client] (css) */
.CryptoCard-module-scss-module__gsPuCa__card {
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 1000px;
  margin: 1rem;
  display: flex;
  box-shadow: 0 4px 6px #0000001a;
}

.CryptoCard-module-scss-module__gsPuCa__header {
  align-items: center;
  gap: .75rem;
  margin-bottom: 0;
  display: flex;
}

.CryptoCard-module-scss-module__gsPuCa__logo {
  object-fit: contain;
  width: 2rem;
  height: 2rem;
}

.CryptoCard-module-scss-module__gsPuCa__title {
  white-space: nowrap;
  font-size: 1.25rem;
  font-weight: bold;
}

.CryptoCard-module-scss-module__gsPuCa__selectContainer {
  align-items: center;
  display: flex;
}

.CryptoCard-module-scss-module__gsPuCa__selectBox {
  border-radius: .5rem;
  padding: .4rem .6rem;
  font-size: .9rem;
}

.CryptoCard-module-scss-module__gsPuCa__details {
  color: #374151;
  flex-direction: row;
  gap: .25rem;
  font-size: .875rem;
  display: flex;
}

.CryptoCard-module-scss-module__gsPuCa__error {
  color: red;
}


/* [project]/src/app/dashboard/dashboard.module.scss.module.css [app-client] (css) */
.dashboard-module-scss-module__c6XUcG__dashboardContainer {
  height: 100vh;
  display: flex;
}

.dashboard-module-scss-module__c6XUcG__sidebar {
  color: #fff;
  background-color: #333;
  width: 250px;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.dashboard-module-scss-module__c6XUcG__contentArea {
  flex: 1;
  margin-left: 250px;
  padding: 1rem;
  overflow-y: auto;
}


/*# sourceMappingURL=src_2900036a._.css.map*/