/* [project]/src/components/molecules/NavbarElements/ThemeToggleButton.module.scss.module.css [app-client] (css) */
.ThemeToggleButton-module-scss-module__HnXCJq__button {
  cursor: pointer;
  border: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  transition: all .3s;
}

.ThemeToggleButton-module-scss-module__HnXCJq__button.ThemeToggleButton-module-scss-module__HnXCJq__light {
  background-color: var(--white);
  color: var(--dark);
}

.ThemeToggleButton-module-scss-module__HnXCJq__button.ThemeToggleButton-module-scss-module__HnXCJq__dark {
  background-color: var(--dark);
  color: var(--white);
}


/* [project]/src/components/organisms/Navbar/Navbar.module.scss.module.css [app-client] (css) */
.Navbar-module-scss-module__SkgiEW__navbar {
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 14px;
  display: flex;
  box-shadow: 0 2px 5px #0000000d;
}

.Navbar-module-scss-module__SkgiEW__left {
  align-items: center;
  gap: 24px;
  display: flex;
}

.Navbar-module-scss-module__SkgiEW__right {
  align-items: center;
  gap: 16px;
  display: flex;
}

.Navbar-module-scss-module__SkgiEW__logoText {
  font-size: 18px;
  font-weight: bold;
}

.Navbar-module-scss-module__SkgiEW__menu {
  gap: 18px;
  display: flex;
}

.Navbar-module-scss-module__SkgiEW__menuItem {
  cursor: pointer;
  color: inherit;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  display: flex;
}

a span.Navbar-module-scss-module__SkgiEW__menuItem {
  text-decoration: none;
}

.Navbar-module-scss-module__SkgiEW__menuItemActive {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  text-decoration: none;
  display: flex;
}

.Navbar-module-scss-module__SkgiEW__icon {
  cursor: pointer;
}

.Navbar-module-scss-module__SkgiEW__walletBtn {
  cursor: pointer;
  color: var(--text-color);
  border: 1px solid;
  border-color: var(--border-color);
  background: none;
  border-radius: 9999px;
  padding: 6px 12px;
}

.Navbar-module-scss-module__SkgiEW__walletBtn.Navbar-module-scss-module__SkgiEW__light {
  color: var(--on-surface);
  border-color: var(--on-surface);
}

.Navbar-module-scss-module__SkgiEW__walletBtn.Navbar-module-scss-module__SkgiEW__dark {
  color: var(--white);
  border-color: var(--white);
}

.Navbar-module-scss-module__SkgiEW__avatar {
  cursor: pointer;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
}


/* [project]/src/app/global.scss.css [app-client] (css) */
* {
  font-family: DM Sans, sans-serif;
}

@import "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap";

html[data-theme="light"] {
  --white: #fff;
  --on-surface: #23262f;
  --primary: #3772ff;
  --secondary: #777e90;
  --secondary2: #b1b5c3;
  --dark: #141416;
  --success: #58bd7d;
  --critical: #d33535;
  --line: #e5e5e5;
  --stroke: #e6e8ec;
  --surface: #f7f7f7;
  --interactive: #2e72d2;
  --warning: #fabe3c;
  --highlight: #1e58c8;
  --decorative: linear-gradient(90deg, #383fde, #8444d4);
  --dark2: #18191d;
  --gray: #3c404b;
}

html[data-theme="dark"] {
  --bg: #141416;
  --on-surface: #23262f;
  --primary: #3772ff;
  --secondary: #777e90;
  --secondary2: #b1b5c3;
  --white: #fff;
  --success: #58bd7d;
  --critical: #d33535;
  --line: #e5e5e5;
  --stroke: #e6e8ec;
  --surface: #f7f7f7;
  --interactive: #2e72d2;
  --warning: #fabe3c;
  --highlight: #1e58c8;
  --decorative: linear-gradient(90deg, #383fde, #8444d4);
  --dark2: #18191d;
  --gray: #3c404b;
  --dark-hover: #222630;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color .3s, color .3s;
}

a {
  text-decoration: none;
}


/* [project]/src/components/molecules/NavbarElements/LanguageButton.module.scss.module.css [app-client] (css) */
.LanguageButton-module-scss-module__SOd4xW__languageButton {
  cursor: pointer;
  background: none;
  border: none;
  align-items: center;
  display: flex;
}

.LanguageButton-module-scss-module__SOd4xW__languageButton.LanguageButton-module-scss-module__SOd4xW__light {
  color: var(--on-surface);
}

.LanguageButton-module-scss-module__SOd4xW__languageButton.LanguageButton-module-scss-module__SOd4xW__dark {
  color: var(--white);
}


/* [project]/src/components/atoms/Footer/Footer.module.scss.module.css [app-client] (css) */
.Footer-module-scss-module__8ayADa__footer {
  width: 100%;
  padding: 40px 20px;
}

.Footer-module-scss-module__8ayADa__footer.Footer-module-scss-module__8ayADa__dark {
  background-color: var(--dark1);
  color: var(--surface);
}

.Footer-module-scss-module__8ayADa__footer.Footer-module-scss-module__8ayADa__light {
  background-color: var(--white);
  color: var(--on-surface);
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__top {
  flex-flow: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__left {
  flex: 1;
  min-width: 250px;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__left .Footer-module-scss-module__8ayADa__logo {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__left .Footer-module-scss-module__8ayADa__title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__left p {
  margin: 5px 0;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__columns {
  flex-wrap: wrap;
  flex: 2;
  justify-content: space-between;
  gap: 2rem;
  display: flex;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__columns div {
  min-width: 120px;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__columns div h4 {
  margin-bottom: 8px;
  font-weight: 600;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__columns div li {
  font-size: 14px;
  line-height: 1.8;
  list-style: none;
}

.Footer-module-scss-module__8ayADa__bottom {
  width: 100%;
}

.Footer-module-scss-module__8ayADa__bottom.Footer-module-scss-module__8ayADa__dark {
  background-color: var(--dark-hover);
  color: var(--secondary2);
}

.Footer-module-scss-module__8ayADa__bottom.Footer-module-scss-module__8ayADa__light {
  background-color: var(--surface);
  color: var(--secondary2);
}

.Footer-module-scss-module__8ayADa__bottom .Footer-module-scss-module__8ayADa__container {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.Footer-module-scss-module__8ayADa__bottom .Footer-module-scss-module__8ayADa__socials {
  gap: 10px;
  display: flex;
}


/* [project]/src/components/organisms/ProfileSideBar/SideBar.module.scss.module.css [app-client] (css) */
.SideBar-module-scss-module__a9182W__sidebar {
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 6px #0000001a;
}

.SideBar-module-scss-module__a9182W__sidebar.SideBar-module-scss-module__a9182W__dark {
  background-color: #1a202c;
}

.SideBar-module-scss-module__a9182W__avatarContainer {
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  display: flex;
}

.SideBar-module-scss-module__a9182W__avatarPlaceholder {
  background-color: var(--gray);
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  display: flex;
}

.SideBar-module-scss-module__a9182W__avatarPlaceholder.SideBar-module-scss-module__a9182W__dark {
  background-color: #4a5568;
}

.SideBar-module-scss-module__a9182W__avatarPlaceholder p {
  color: #fff;
}

.SideBar-module-scss-module__a9182W__avatarImage {
  cursor: pointer;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 1rem;
  position: relative;
}

.SideBar-module-scss-module__a9182W__avatarImage .SideBar-module-scss-module__a9182W__uploadingOverlay {
  color: #fff;
  background-color: #00000080;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: .75rem;
  display: flex;
  position: absolute;
  inset: 0;
}

.SideBar-module-scss-module__a9182W__avatarText {
  color: #4a5568;
  margin-top: .75rem;
  font-size: .875rem;
}

.SideBar-module-scss-module__a9182W__avatarText.SideBar-module-scss-module__a9182W__dark {
  color: #edf2f7;
}

.SideBar-module-scss-module__a9182W__avatarPreview {
  object-fit: cover;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.SideBar-module-scss-module__a9182W__tab {
  color: var(--on-surface);
  cursor: pointer;
  border-radius: 100px;
  align-items: center;
  margin-bottom: .5rem;
  padding: .5rem 1rem;
  transition: background-color .3s;
  display: flex;
}

.SideBar-module-scss-module__a9182W__tab.SideBar-module-scss-module__a9182W__active {
  background-color: var(--primary);
  color: var(--white);
}

.SideBar-module-scss-module__a9182W__tab.SideBar-module-scss-module__a9182W__dark {
  color: var(--white);
}

.SideBar-module-scss-module__a9182W__tab .SideBar-module-scss-module__a9182W__icon {
  margin-right: 5px;
}

.SideBar-module-scss-module__a9182W__tabsWrapper {
  flex-direction: column;
  display: flex;
}


/* [project]/src/components/atoms/PageHeader/LoginRegisterHeader.module.scss.module.css [app-client] (css) */
.LoginRegisterHeader-module-scss-module__fuUNSq__loginPage {
  margin: 0;
}

.LoginRegisterHeader-module-scss-module__fuUNSq__loginHeader {
  justify-content: space-between;
  align-items: center;
  height: 150px;
  display: flex;
}

.LoginRegisterHeader-module-scss-module__fuUNSq__loginHeader.LoginRegisterHeader-module-scss-module__fuUNSq__light {
  background-color: var(--surface);
}

.LoginRegisterHeader-module-scss-module__fuUNSq__loginHeader.LoginRegisterHeader-module-scss-module__fuUNSq__dark {
  background-color: var(--dark);
}

.LoginRegisterHeader-module-scss-module__fuUNSq__loginContainer {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.LoginRegisterHeader-module-scss-module__fuUNSq__loginTitle {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.LoginRegisterHeader-module-scss-module__fuUNSq__loginTitle h2 {
  margin: 0;
  font-size: 1.5rem;
}

.LoginRegisterHeader-module-scss-module__fuUNSq__loginTitle h2.LoginRegisterHeader-module-scss-module__fuUNSq__light {
  color: var(--on-surface);
}

.LoginRegisterHeader-module-scss-module__fuUNSq__loginTitle h2.LoginRegisterHeader-module-scss-module__fuUNSq__dark {
  color: var(--surface);
}

.LoginRegisterHeader-module-scss-module__fuUNSq__loginTitle p {
  opacity: .7;
  margin: 0;
  font-size: 1rem;
}

.LoginRegisterHeader-module-scss-module__fuUNSq__loginTitle p.LoginRegisterHeader-module-scss-module__fuUNSq__light {
  color: var(--secondary);
}

.LoginRegisterHeader-module-scss-module__fuUNSq__loginTitle p.LoginRegisterHeader-module-scss-module__fuUNSq__dark {
  color: var(--secondary2);
}


/* [project]/src/components/atoms/FooterBanner/FooterBanner.module.scss.module.css [app-client] (css) */
.FooterBanner-module-scss-module__hqqk8a__banner {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px;
  padding: 0;
  display: flex;
}

.FooterBanner-module-scss-module__hqqk8a__banner.FooterBanner-module-scss-module__hqqk8a__light {
  background: var(--decorative);
}

.FooterBanner-module-scss-module__hqqk8a__banner.FooterBanner-module-scss-module__hqqk8a__dark {
  background-color: var(--dark2);
}

.FooterBanner-module-scss-module__hqqk8a__container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
}

.FooterBanner-module-scss-module__hqqk8a__leftContent {
  flex-direction: column;
  flex: 2;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.FooterBanner-module-scss-module__hqqk8a__rightContent {
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  display: flex;
}

.FooterBanner-module-scss-module__hqqk8a__title {
  color: var(--surface);
  text-align: left;
  width: 100%;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.FooterBanner-module-scss-module__hqqk8a__description {
  color: var(--surface);
  text-align: left;
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.FooterBanner-module-scss-module__hqqk8a__footerButton {
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 90px;
  padding: 16px 24px;
  font-weight: 700;
  background-color: var(--white) !important;
  color: var(--on-surface) !important;
}


/* [project]/src/components/atoms/Button/Button.module.scss.module.css [app-client] (css) */
.Button-module-scss-module__EtFxQG__button {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 90px;
  padding: 16px 24px;
  font-weight: 700;
  transition: transform .3s;
}

.Button-module-scss-module__EtFxQG__button.Button-module-scss-module__EtFxQG__activeButton {
  background-color: var(--primary);
  color: var(--white);
}

.Button-module-scss-module__EtFxQG__button.Button-module-scss-module__EtFxQG__inactiveButton {
  background: none;
}

.Button-module-scss-module__EtFxQG__button.Button-module-scss-module__EtFxQG__inactiveButton.Button-module-scss-module__EtFxQG__light {
  color: var(--on-surface);
}

.Button-module-scss-module__EtFxQG__button.Button-module-scss-module__EtFxQG__inactiveButton.Button-module-scss-module__EtFxQG__dark {
  color: var(--white);
}


/*# sourceMappingURL=src_2770ec9e._.css.map*/