/* [project]/src/components/molecules/ThemeToggleButton.module.scss.module.css [app-client] (css) */
.ThemeToggleButton-module-scss-module__gfGR9G__button {
  cursor: pointer;
  border: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  transition: all .3s;
}

.ThemeToggleButton-module-scss-module__gfGR9G__button.ThemeToggleButton-module-scss-module__gfGR9G__light {
  background-color: var(--white);
  color: var(--dark);
}

.ThemeToggleButton-module-scss-module__gfGR9G__button.ThemeToggleButton-module-scss-module__gfGR9G__dark {
  background-color: var(--dark);
  color: var(--white);
}


/* [project]/src/components/organisms/Navbar.module.scss.module.css [app-client] (css) */
.Navbar-module-scss-module__L7muza__navbar {
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 14px;
  display: flex;
  box-shadow: 0 2px 5px #0000000d;
}

.Navbar-module-scss-module__L7muza__left {
  align-items: center;
  gap: 24px;
  display: flex;
}

.Navbar-module-scss-module__L7muza__right {
  align-items: center;
  gap: 16px;
  display: flex;
}

.Navbar-module-scss-module__L7muza__logoText {
  font-size: 18px;
  font-weight: bold;
}

.Navbar-module-scss-module__L7muza__menu {
  gap: 18px;
  display: flex;
}

.Navbar-module-scss-module__L7muza__menuItem {
  cursor: pointer;
  align-items: center;
  gap: 4px;
  display: flex;
}

.Navbar-module-scss-module__L7muza__menuItemActive {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  display: flex;
}

.Navbar-module-scss-module__L7muza__icon {
  cursor: pointer;
}

.Navbar-module-scss-module__L7muza__walletBtn {
  cursor: pointer;
  color: var(--text-color);
  border: 1px solid;
  border-color: var(--border-color);
  background: none;
  border-radius: 9999px;
  padding: 6px 12px;
}

.Navbar-module-scss-module__L7muza__walletBtn.Navbar-module-scss-module__L7muza__light {
  color: var(--on-surface);
  border-color: var(--on-surface);
}

.Navbar-module-scss-module__L7muza__walletBtn.Navbar-module-scss-module__L7muza__dark {
  color: var(--white);
  border-color: var(--white);
}

.Navbar-module-scss-module__L7muza__avatar {
  cursor: pointer;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
}


/* [project]/src/components/molecules/LanguageButton.module.scss.module.css [app-client] (css) */
.LanguageButton-module-scss-module__xvcPRG__languageButton {
  cursor: pointer;
  background: none;
  border: none;
}

.LanguageButton-module-scss-module__xvcPRG__languageButton.LanguageButton-module-scss-module__xvcPRG__light {
  color: var(--on-surface);
}

.LanguageButton-module-scss-module__xvcPRG__languageButton.LanguageButton-module-scss-module__xvcPRG__dark {
  color: var(--white);
}


/* [project]/src/app/global.scss.css [app-client] (css) */
* {
  font-family: DM Sans, sans-serif;
}

@import "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap";

html[data-theme="light"] {
  --white: #fff;
  --on-surface: #23262f;
  --primary: #3772ff;
  --secondary: #777e90;
  --dark: #141416;
  --success: #58bd7d;
  --critical: #d33535;
  --line: #e5e5e5;
}

html[data-theme="dark"] {
  --bg: #141416;
  --on-surface: #23262f;
  --primary: #3772ff;
  --secondary: #777e90;
  --white: #fff;
  --success: #58bd7d;
  --critical: #d33535;
  --line: #e5e5e5;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color .3s, color .3s;
}


/* [project]/src/components/atoms/Button.module.scss.module.css [app-client] (css) */
.Button-module-scss-module__dZF2Ya__button {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 90px;
  padding: 16px 24px;
  font-weight: 700;
  transition: transform .3s;
}

.Button-module-scss-module__dZF2Ya__button.Button-module-scss-module__dZF2Ya__activeButton {
  background-color: var(--primary);
  color: var(--white);
}

.Button-module-scss-module__dZF2Ya__button.Button-module-scss-module__dZF2Ya__inactiveButton {
  background: none;
}

.Button-module-scss-module__dZF2Ya__button.Button-module-scss-module__dZF2Ya__inactiveButton.Button-module-scss-module__dZF2Ya__light {
  color: var(--on-surface);
}

.Button-module-scss-module__dZF2Ya__button.Button-module-scss-module__dZF2Ya__inactiveButton.Button-module-scss-module__dZF2Ya__dark {
  color: var(--white);
}


/* [project]/src/components/organisms/HomaPageBanner.module.scss.module.css [app-client] (css) */
.HomaPageBanner-module-scss-module__wy-ACW__bannerSection {
  padding: 4rem 1.5rem;
}

.HomaPageBanner-module-scss-module__wy-ACW__container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
}

@media (width >= 768px) {
  .HomaPageBanner-module-scss-module__wy-ACW__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    display: flex;
  }
}

.HomaPageBanner-module-scss-module__wy-ACW__left, .HomaPageBanner-module-scss-module__wy-ACW__right {
  flex: 1;
}

.HomaPageBanner-module-scss-module__wy-ACW__right {
  justify-content: center;
  display: flex;
}

.HomaPageBanner-module-scss-module__wy-ACW__partners {
  font-size: 24px 700;
  font-weight: 32px;
}

.HomaPageBanner-module-scss-module__wy-ACW__bannerImage {
  object-fit: contain;
  width: 100%;
  max-height: 24rem;
}

@media (width >= 768px) {
  .HomaPageBanner-module-scss-module__wy-ACW__bannerImage {
    max-height: 32rem;
  }
}

.HomaPageBanner-module-scss-module__wy-ACW__title {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
}

.HomaPageBanner-module-scss-module__wy-ACW__description {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  font-weight: 400;
}

.HomaPageBanner-module-scss-module__wy-ACW__cryptoContainer {
  border-radius: 24px;
  flex-direction: column;
  gap: 16px;
  margin-top: 2rem;
  display: flex;
  box-shadow: 0 2px 4px #0000001a;
}

.HomaPageBanner-module-scss-module__wy-ACW__buttonContainer {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
}

.HomaPageBanner-module-scss-module__wy-ACW__buttonContainer button {
  cursor: pointer;
  border: none;
  border-radius: 24px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.HomaPageBanner-module-scss-module__wy-ACW__buttonContainer button.HomaPageBanner-module-scss-module__wy-ACW__activeButton {
  background-color: var(--primary);
  color: var(--white);
}

.HomaPageBanner-module-scss-module__wy-ACW__buttonContainer button.HomaPageBanner-module-scss-module__wy-ACW__inactiveButton {
  background: none;
}

.HomaPageBanner-module-scss-module__wy-ACW__buttonContainer button.HomaPageBanner-module-scss-module__wy-ACW__inactiveButton.HomaPageBanner-module-scss-module__wy-ACW__light {
  color: var(--on-surface);
}

.HomaPageBanner-module-scss-module__wy-ACW__buttonContainer button.HomaPageBanner-module-scss-module__wy-ACW__inactiveButton.HomaPageBanner-module-scss-module__wy-ACW__dark {
  color: var(--white);
}

.HomaPageBanner-module-scss-module__wy-ACW__cardContainer {
  box-shadow: none;
  border-top: 1px solid;
  border-radius: 0;
  gap: 22px;
  padding: 20px;
  display: flex;
}

.HomaPageBanner-module-scss-module__wy-ACW__cardContainer.HomaPageBanner-module-scss-module__wy-ACW__light {
  border-color: var(--line);
}

.HomaPageBanner-module-scss-module__wy-ACW__cardContainer.HomaPageBanner-module-scss-module__wy-ACW__dark {
  border-color: var(--on-surface);
}

.HomaPageBanner-module-scss-module__wy-ACW__card {
  text-align: center;
  border-radius: 12px;
  gap: 8px;
  width: 200px;
  margin-bottom: 32px;
  padding: 32px 40px;
  box-shadow: 0 2px 4px #0000001a;
}

.HomaPageBanner-module-scss-module__wy-ACW__card:hover {
  background: #ffffff1a;
  transform: translateY(-4px);
}

.HomaPageBanner-module-scss-module__wy-ACW__card.HomaPageBanner-module-scss-module__wy-ACW__dark:hover {
  background: #2f324180;
  transform: translateY(-4px);
}

.HomaPageBanner-module-scss-module__wy-ACW__header {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 8px;
  display: flex;
}

.HomaPageBanner-module-scss-module__wy-ACW__icon {
  width: 24px;
  height: 24px;
}

.HomaPageBanner-module-scss-module__wy-ACW__coinInfo {
  text-align: left;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  display: flex;
}

.HomaPageBanner-module-scss-module__wy-ACW__coinInfo .HomaPageBanner-module-scss-module__wy-ACW__coinName {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.HomaPageBanner-module-scss-module__wy-ACW__coinInfo .HomaPageBanner-module-scss-module__wy-ACW__coinSymbol {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 400;
}

.HomaPageBanner-module-scss-module__wy-ACW__price {
  margin: 8px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.HomaPageBanner-module-scss-module__wy-ACW__marketVolumeContainer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  display: flex;
}

.HomaPageBanner-module-scss-module__wy-ACW__marketVolumeContainer .HomaPageBanner-module-scss-module__wy-ACW__marketCap {
  font-weight: 400;
}

.HomaPageBanner-module-scss-module__wy-ACW__marketVolumeContainer .HomaPageBanner-module-scss-module__wy-ACW__volumeChange {
  text-align: center;
  border-radius: 24px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.HomaPageBanner-module-scss-module__wy-ACW__marketVolumeContainer .HomaPageBanner-module-scss-module__wy-ACW__volumeChange.HomaPageBanner-module-scss-module__wy-ACW__negative {
  background-color: var(--critical);
  color: var(--white);
}

.HomaPageBanner-module-scss-module__wy-ACW__marketVolumeContainer .HomaPageBanner-module-scss-module__wy-ACW__volumeChange.HomaPageBanner-module-scss-module__wy-ACW__positive {
  background-color: var(--success);
  color: var(--white);
}


/*# sourceMappingURL=src_984073b6._.css.map*/