/* [project]/src/components/atoms/Footer/Footer.module.scss.module.css [app-client] (css) */
.Footer-module-scss-module__8ayADa__footer {
  width: 100%;
  padding: 40px 20px;
}

.Footer-module-scss-module__8ayADa__footer.Footer-module-scss-module__8ayADa__dark {
  background-color: var(--dark1);
  color: var(--surface);
}

.Footer-module-scss-module__8ayADa__footer.Footer-module-scss-module__8ayADa__light {
  background-color: var(--white);
  color: var(--on-surface);
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__top {
  flex-flow: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__left {
  flex: 1;
  min-width: 250px;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__left .Footer-module-scss-module__8ayADa__logo {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__left .Footer-module-scss-module__8ayADa__title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__left p {
  margin: 5px 0;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__columns {
  flex-wrap: wrap;
  flex: 2;
  justify-content: space-between;
  gap: 2rem;
  display: flex;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__columns div {
  min-width: 120px;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__columns div h4 {
  margin-bottom: 8px;
  font-weight: 600;
}

.Footer-module-scss-module__8ayADa__footer .Footer-module-scss-module__8ayADa__columns div li {
  font-size: 14px;
  line-height: 1.8;
  list-style: none;
}

.Footer-module-scss-module__8ayADa__bottom {
  width: 100%;
}

.Footer-module-scss-module__8ayADa__bottom.Footer-module-scss-module__8ayADa__dark {
  background-color: var(--dark-hover);
  color: var(--secondary2);
}

.Footer-module-scss-module__8ayADa__bottom.Footer-module-scss-module__8ayADa__light {
  background-color: var(--surface);
  color: var(--secondary2);
}

.Footer-module-scss-module__8ayADa__bottom .Footer-module-scss-module__8ayADa__container {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.Footer-module-scss-module__8ayADa__bottom .Footer-module-scss-module__8ayADa__socials {
  gap: 10px;
  display: flex;
}


/* [project]/src/components/molecules/NavbarElements/ThemeToggleButton.module.scss.module.css [app-client] (css) */
.ThemeToggleButton-module-scss-module__HnXCJq__button {
  cursor: pointer;
  border: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  transition: all .3s;
}

.ThemeToggleButton-module-scss-module__HnXCJq__button.ThemeToggleButton-module-scss-module__HnXCJq__light {
  background-color: var(--white);
  color: var(--dark);
}

.ThemeToggleButton-module-scss-module__HnXCJq__button.ThemeToggleButton-module-scss-module__HnXCJq__dark {
  background-color: var(--dark);
  color: var(--white);
}


/* [project]/src/components/organisms/Navbar/Navbar.module.scss.module.css [app-client] (css) */
.Navbar-module-scss-module__SkgiEW__navbar {
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 14px;
  display: flex;
  box-shadow: 0 2px 5px #0000000d;
}

.Navbar-module-scss-module__SkgiEW__left {
  align-items: center;
  gap: 24px;
  display: flex;
}

.Navbar-module-scss-module__SkgiEW__right {
  align-items: center;
  gap: 16px;
  display: flex;
}

.Navbar-module-scss-module__SkgiEW__logoText {
  font-size: 18px;
  font-weight: bold;
}

.Navbar-module-scss-module__SkgiEW__menu {
  gap: 18px;
  display: flex;
}

.Navbar-module-scss-module__SkgiEW__menuItem {
  cursor: pointer;
  color: inherit;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  display: flex;
}

a span.Navbar-module-scss-module__SkgiEW__menuItem {
  text-decoration: none;
}

.Navbar-module-scss-module__SkgiEW__menuItemActive {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  text-decoration: none;
  display: flex;
}

.Navbar-module-scss-module__SkgiEW__icon {
  cursor: pointer;
}

.Navbar-module-scss-module__SkgiEW__walletBtn {
  cursor: pointer;
  color: var(--text-color);
  border: 1px solid;
  border-color: var(--border-color);
  background: none;
  border-radius: 9999px;
  padding: 6px 12px;
}

.Navbar-module-scss-module__SkgiEW__walletBtn.Navbar-module-scss-module__SkgiEW__light {
  color: var(--on-surface);
  border-color: var(--on-surface);
}

.Navbar-module-scss-module__SkgiEW__walletBtn.Navbar-module-scss-module__SkgiEW__dark {
  color: var(--white);
  border-color: var(--white);
}

.Navbar-module-scss-module__SkgiEW__avatar {
  cursor: pointer;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
}


/* [project]/src/components/molecules/NavbarElements/LanguageButton.module.scss.module.css [app-client] (css) */
.LanguageButton-module-scss-module__SOd4xW__languageButton {
  cursor: pointer;
  background: none;
  border: none;
  align-items: center;
  display: flex;
}

.LanguageButton-module-scss-module__SOd4xW__languageButton.LanguageButton-module-scss-module__SOd4xW__light {
  color: var(--on-surface);
}

.LanguageButton-module-scss-module__SOd4xW__languageButton.LanguageButton-module-scss-module__SOd4xW__dark {
  color: var(--white);
}


/* [project]/src/app/global.scss.css [app-client] (css) */
* {
  font-family: DM Sans, sans-serif;
}

@import "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap";

html[data-theme="light"] {
  --white: #fff;
  --on-surface: #23262f;
  --primary: #3772ff;
  --secondary: #777e90;
  --secondary2: #b1b5c3;
  --dark: #141416;
  --success: #58bd7d;
  --critical: #d33535;
  --line: #e5e5e5;
  --stroke: #e6e8ec;
  --surface: #f7f7f7;
  --interactive: #2e72d2;
  --warning: #fabe3c;
  --highlight: #1e58c8;
  --decorative: linear-gradient(90deg, #383fde, #8444d4);
  --dark2: #18191d;
  --gray: #3c404b;
}

html[data-theme="dark"] {
  --bg: #141416;
  --on-surface: #23262f;
  --primary: #3772ff;
  --secondary: #777e90;
  --secondary2: #b1b5c3;
  --white: #fff;
  --success: #58bd7d;
  --critical: #d33535;
  --line: #e5e5e5;
  --stroke: #e6e8ec;
  --surface: #f7f7f7;
  --interactive: #2e72d2;
  --warning: #fabe3c;
  --highlight: #1e58c8;
  --decorative: linear-gradient(90deg, #383fde, #8444d4);
  --dark2: #18191d;
  --gray: #3c404b;
  --dark-hover: #222630;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color .3s, color .3s;
}


/* [project]/src/components/molecules/MarketData/MarketUpdateRow.module.scss.module.css [app-client] (css) */
.MarketUpdateRow-module-scss-module__GcmFYG__row {
  border-bottom: 1px solid var(--line);
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  font-size: .9rem;
  display: flex;
}

.MarketUpdateRow-module-scss-module__GcmFYG__row.MarketUpdateRow-module-scss-module__GcmFYG__dark {
  border-bottom: 1px solid var(--on-surface);
}

.MarketUpdateRow-module-scss-module__GcmFYG__row:hover {
  background: #ffffff1a;
  transform: translateY(-4px);
}

.MarketUpdateRow-module-scss-module__GcmFYG__row.MarketUpdateRow-module-scss-module__GcmFYG__dark:hover {
  background: #2f324180;
  transform: translateY(-4px);
}

.MarketUpdateRow-module-scss-module__GcmFYG__rank {
  text-align: center;
  width: 40px;
}

.MarketUpdateRow-module-scss-module__GcmFYG__coin {
  align-items: center;
  gap: .75rem;
  min-width: 160px;
  display: flex;
}

.MarketUpdateRow-module-scss-module__GcmFYG__coin .MarketUpdateRow-module-scss-module__GcmFYG__logo {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.MarketUpdateRow-module-scss-module__GcmFYG__coin .MarketUpdateRow-module-scss-module__GcmFYG__nameSymbol {
  align-items: center;
  gap: 8px;
  display: flex;
}

.MarketUpdateRow-module-scss-module__GcmFYG__coin .MarketUpdateRow-module-scss-module__GcmFYG__name {
  font-weight: 600;
}

.MarketUpdateRow-module-scss-module__GcmFYG__coin .MarketUpdateRow-module-scss-module__GcmFYG__symbol {
  border-left: 1px solid var(--stroke);
  color: var(--secondary);
  padding-left: 8px;
  font-size: .8rem;
}

.MarketUpdateRow-module-scss-module__GcmFYG__price {
  text-align: right;
  width: 100px;
}

.MarketUpdateRow-module-scss-module__GcmFYG__change {
  text-align: right;
  width: 80px;
  font-weight: 600;
}

.MarketUpdateRow-module-scss-module__GcmFYG__green {
  color: var(--success);
}

.MarketUpdateRow-module-scss-module__GcmFYG__red {
  color: var(--critical);
}

.MarketUpdateRow-module-scss-module__GcmFYG__marketCap {
  text-align: right;
  width: 140px;
}

.MarketUpdateRow-module-scss-module__GcmFYG__sparkline {
  text-align: center;
  width: 100px;
}

.MarketUpdateRow-module-scss-module__GcmFYG__tradeButton {
  cursor: pointer;
  border-radius: 90px;
  flex-shrink: 0;
  padding: .4rem 1rem;
  transition: all .3s;
}

.MarketUpdateRow-module-scss-module__GcmFYG__tradeButton.MarketUpdateRow-module-scss-module__GcmFYG__light {
  background-color: var(--white);
  color: var(--on-surface);
  border: 2px solid var(--stroke);
}

.MarketUpdateRow-module-scss-module__GcmFYG__tradeButton.MarketUpdateRow-module-scss-module__GcmFYG__dark {
  background-color: var(--on-surface);
  color: var(--white);
  border: 2px solid var(--stroke);
}

.MarketUpdateRow-module-scss-module__GcmFYG__tradeButton.MarketUpdateRow-module-scss-module__GcmFYG__active {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}


/* [project]/src/components/atoms/Button/Button.module.scss.module.css [app-client] (css) */
.Button-module-scss-module__EtFxQG__button {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 90px;
  padding: 16px 24px;
  font-weight: 700;
  transition: transform .3s;
}

.Button-module-scss-module__EtFxQG__button.Button-module-scss-module__EtFxQG__activeButton {
  background-color: var(--primary);
  color: var(--white);
}

.Button-module-scss-module__EtFxQG__button.Button-module-scss-module__EtFxQG__inactiveButton {
  background: none;
}

.Button-module-scss-module__EtFxQG__button.Button-module-scss-module__EtFxQG__inactiveButton.Button-module-scss-module__EtFxQG__light {
  color: var(--on-surface);
}

.Button-module-scss-module__EtFxQG__button.Button-module-scss-module__EtFxQG__inactiveButton.Button-module-scss-module__EtFxQG__dark {
  color: var(--white);
}


/* [project]/src/components/atoms/MiniChart/MiniChart.module.scss.module.css [app-client] (css) */
.MiniChart-module-scss-module__yk5ZrG__chart {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.MiniChart-module-scss-module__yk5ZrG__price {
  color: #333;
  margin-top: 8px;
  font-size: 14px;
}


/* [project]/src/components/molecules/MarketPageSections/MarketBannar/MarketBanner.module.scss.module.css [app-client] (css) */
.MarketBanner-module-scss-module__2gYmRW__marketBanner {
  background-color: var(--bg-color);
  padding: 4rem 2rem;
  transition: background-color .3s;
}

.MarketBanner-module-scss-module__2gYmRW__marketBanner.MarketBanner-module-scss-module__2gYmRW__dark {
  background-color: var(--dark);
}

.MarketBanner-module-scss-module__2gYmRW__marketBanner.MarketBanner-module-scss-module__2gYmRW__light {
  background-color: var(--surface);
}

.MarketBanner-module-scss-module__2gYmRW__marketBanner .MarketBanner-module-scss-module__2gYmRW__container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.MarketBanner-module-scss-module__2gYmRW__marketBanner .MarketBanner-module-scss-module__2gYmRW__textContent {
  flex: 1;
  min-width: 300px;
}

.MarketBanner-module-scss-module__2gYmRW__marketBanner .MarketBanner-module-scss-module__2gYmRW__textContent .MarketBanner-module-scss-module__2gYmRW__title {
  color: var(--text-color);
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.MarketBanner-module-scss-module__2gYmRW__marketBanner .MarketBanner-module-scss-module__2gYmRW__textContent .MarketBanner-module-scss-module__2gYmRW__description {
  color: var(--secondary);
  font-size: 1.2rem;
}

.MarketBanner-module-scss-module__2gYmRW__marketBanner .MarketBanner-module-scss-module__2gYmRW__textContent .MarketBanner-module-scss-module__2gYmRW__description span {
  font-weight: 600;
}

.MarketBanner-module-scss-module__2gYmRW__marketBanner .MarketBanner-module-scss-module__2gYmRW__textContent .MarketBanner-module-scss-module__2gYmRW__description span.MarketBanner-module-scss-module__2gYmRW__dark {
  color: var(--surface);
}

.MarketBanner-module-scss-module__2gYmRW__marketBanner .MarketBanner-module-scss-module__2gYmRW__textContent .MarketBanner-module-scss-module__2gYmRW__description span.MarketBanner-module-scss-module__2gYmRW__light {
  color: var(--dark);
}

.MarketBanner-module-scss-module__2gYmRW__marketBanner .MarketBanner-module-scss-module__2gYmRW__imageContent {
  text-align: right;
  flex: 1;
  min-width: 300px;
}

.MarketBanner-module-scss-module__2gYmRW__marketBanner .MarketBanner-module-scss-module__2gYmRW__imageContent .MarketBanner-module-scss-module__2gYmRW__image {
  border-radius: 12px;
  max-width: 100%;
  height: auto;
}


/* [project]/src/components/atoms/ButtonGroup/ButtonGroup.module.scss.module.css [app-client] (css) */
.ButtonGroup-module-scss-module__p3yMNa__buttonContainer {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  max-width: 1140px;
  margin: 20px auto;
  padding: 0 15px;
  display: flex;
}

.ButtonGroup-module-scss-module__p3yMNa__buttonContainer button {
  cursor: pointer;
  border: none;
  border-radius: 24px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.ButtonGroup-module-scss-module__p3yMNa__buttonContainer button.ButtonGroup-module-scss-module__p3yMNa__activeButton {
  background-color: var(--primary);
  color: var(--white);
}

.ButtonGroup-module-scss-module__p3yMNa__buttonContainer button.ButtonGroup-module-scss-module__p3yMNa__inactiveButton {
  background: none;
}

.ButtonGroup-module-scss-module__p3yMNa__buttonContainer button.ButtonGroup-module-scss-module__p3yMNa__inactiveButton.ButtonGroup-module-scss-module__p3yMNa__light {
  color: var(--on-surface);
}

.ButtonGroup-module-scss-module__p3yMNa__buttonContainer button.ButtonGroup-module-scss-module__p3yMNa__inactiveButton.ButtonGroup-module-scss-module__p3yMNa__dark {
  color: var(--white);
}


/* [project]/src/components/molecules/MarketPageSections/MarketCard/MarketCard.module.scss.module.css [app-client] (css) */
.MarketCard-module-scss-module__peF4oq__marketContainer {
  border-radius: 24px;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 80px;
  padding: 0 1rem;
  display: flex;
}

.MarketCard-module-scss-module__peF4oq__marketContainer.MarketCard-module-scss-module__peF4oq__light {
  background-color: var(--white);
}

.MarketCard-module-scss-module__peF4oq__marketContainer.MarketCard-module-scss-module__peF4oq__dark {
  background-color: var(--dark2);
}

.MarketCard-module-scss-module__peF4oq__cardContainer {
  border-top: 1px solid;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 20px;
  display: flex;
}

.MarketCard-module-scss-module__peF4oq__cardContainer.MarketCard-module-scss-module__peF4oq__light {
  border-color: var(--line);
}

.MarketCard-module-scss-module__peF4oq__cardContainer.MarketCard-module-scss-module__peF4oq__dark {
  border-color: var(--on-surface);
}

.MarketCard-module-scss-module__peF4oq__card {
  border-right: 1px solid;
  width: calc(25% - 16.5px);
  padding: 20px;
}

.MarketCard-module-scss-module__peF4oq__card.MarketCard-module-scss-module__peF4oq__light {
  border-color: var(--line);
}

.MarketCard-module-scss-module__peF4oq__card.MarketCard-module-scss-module__peF4oq__dark {
  border-color: var(--on-surface);
}

.MarketCard-module-scss-module__peF4oq__card:last-child {
  border-right: none;
}

.MarketCard-module-scss-module__peF4oq__topSection {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
}

.MarketCard-module-scss-module__peF4oq__left {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.MarketCard-module-scss-module__peF4oq__left .MarketCard-module-scss-module__peF4oq__icon {
  width: 32px;
  height: 32px;
  margin-bottom: .5rem;
}

.MarketCard-module-scss-module__peF4oq__left .MarketCard-module-scss-module__peF4oq__name {
  font-size: 1rem;
  font-weight: 600;
}

.MarketCard-module-scss-module__peF4oq__right {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 50%;
  display: flex;
}

.MarketCard-module-scss-module__peF4oq__right .MarketCard-module-scss-module__peF4oq__volumeChange {
  color: var(--white);
  border-radius: 100px;
  margin-top: .5rem;
  padding: 2px 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.MarketCard-module-scss-module__peF4oq__right .MarketCard-module-scss-module__peF4oq__volumeChange.MarketCard-module-scss-module__peF4oq__positive {
  background-color: var(--success);
}

.MarketCard-module-scss-module__peF4oq__right .MarketCard-module-scss-module__peF4oq__volumeChange.MarketCard-module-scss-module__peF4oq__negative {
  background-color: var(--critical);
}

.MarketCard-module-scss-module__peF4oq__priceContainer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.MarketCard-module-scss-module__peF4oq__price {
  text-align: left;
  flex: 0 auto;
  font-size: 1.1rem;
  font-weight: 600;
}

.MarketCard-module-scss-module__peF4oq__symbol {
  text-align: right;
  color: var(--secondary);
  margin-left: auto;
  font-size: 1rem;
  font-weight: 400;
}


/* [project]/src/components/molecules/MarketPageSections/LearnBanner/Learn.module.scss.module.css [app-client] (css) */
.Learn-module-scss-module__KILmQa__learnSection {
  padding: 40px 20px;
}

.Learn-module-scss-module__KILmQa__container {
  max-width: 1200px;
  margin: 0 auto;
}

.Learn-module-scss-module__KILmQa__header {
  text-align: center;
}

.Learn-module-scss-module__KILmQa__title {
  font-size: 2rem;
  font-weight: bold;
}

.Learn-module-scss-module__KILmQa__description {
  margin-top: 10px;
  font-size: 1.2rem;
}

.Learn-module-scss-module__KILmQa__videoCards {
  justify-content: space-between;
  margin-top: 30px;
  display: flex;
}

.Learn-module-scss-module__KILmQa__videoCard {
  width: 30%;
  text-align: flex-start;
  border-radius: 8px;
  padding: 20px;
}

.Learn-module-scss-module__KILmQa__videoCardPlaceholder {
  background-color: var(--secondary);
  border-radius: 8px;
  height: 180px;
  position: relative;
}

.Learn-module-scss-module__KILmQa__videoThumbnail {
  object-fit: cover;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Learn-module-scss-module__KILmQa__cardButton {
  margin-top: 15px;
}

.Learn-module-scss-module__KILmQa__customButton {
  border-radius: 4px;
}

.Learn-module-scss-module__KILmQa__cardTitle {
  margin-top: 50px;
}

.Learn-module-scss-module__KILmQa__authorDateContainer {
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  display: flex;
}

.Learn-module-scss-module__KILmQa__greenDot {
  background-color: var(--success);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 12px;
}

.Learn-module-scss-module__KILmQa__authorDate {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.Learn-module-scss-module__KILmQa__author {
  margin-right: 20px;
}

.Learn-module-scss-module__KILmQa__date {
  color: #777;
  text-align: right;
  font-size: .9rem;
}

.Learn-module-scss-module__KILmQa__loadDiv {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  display: flex;
}

.Learn-module-scss-module__KILmQa__loadButton {
  border: 2px solid var(--line);
  align-items: center;
  gap: 12px;
  display: flex;
}

.Learn-module-scss-module__KILmQa__loadButton.Learn-module-scss-module__KILmQa__light {
  background-color: var(--white);
  color: var(--on-surface);
}

.Learn-module-scss-module__KILmQa__loadButton.Learn-module-scss-module__KILmQa__dark {
  background-color: var(--dark);
  color: var(--surface);
}


/*# sourceMappingURL=src_b5f96b74._.css.map*/