/* [project]/src/components/molecules/ThemeToggleButton.module.scss.module.css [app-client] (css) */
.ThemeToggleButton-module-scss-module__gfGR9G__button {
  cursor: pointer;
  border: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  transition: all .3s;
}

.ThemeToggleButton-module-scss-module__gfGR9G__button.ThemeToggleButton-module-scss-module__gfGR9G__light {
  background-color: var(--white);
  color: var(--dark);
}

.ThemeToggleButton-module-scss-module__gfGR9G__button.ThemeToggleButton-module-scss-module__gfGR9G__dark {
  background-color: var(--dark);
  color: var(--white);
}


/* [project]/src/components/organisms/Navbar.module.scss.module.css [app-client] (css) */
.Navbar-module-scss-module__L7muza__navbar {
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 14px;
  display: flex;
  box-shadow: 0 2px 5px #0000000d;
}

.Navbar-module-scss-module__L7muza__left {
  align-items: center;
  gap: 24px;
  display: flex;
}

.Navbar-module-scss-module__L7muza__right {
  align-items: center;
  gap: 16px;
  display: flex;
}

.Navbar-module-scss-module__L7muza__logoText {
  font-size: 18px;
  font-weight: bold;
}

.Navbar-module-scss-module__L7muza__menu {
  gap: 18px;
  display: flex;
}

.Navbar-module-scss-module__L7muza__menuItem {
  cursor: pointer;
  align-items: center;
  gap: 4px;
  display: flex;
}

.Navbar-module-scss-module__L7muza__menuItemActive {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  display: flex;
}

.Navbar-module-scss-module__L7muza__icon {
  cursor: pointer;
}

.Navbar-module-scss-module__L7muza__walletBtn {
  cursor: pointer;
  color: var(--text-color);
  border: 1px solid;
  border-color: var(--border-color);
  background: none;
  border-radius: 9999px;
  padding: 6px 12px;
}

.Navbar-module-scss-module__L7muza__walletBtn.Navbar-module-scss-module__L7muza__light {
  color: var(--on-surface);
  border-color: var(--on-surface);
}

.Navbar-module-scss-module__L7muza__walletBtn.Navbar-module-scss-module__L7muza__dark {
  color: var(--white);
  border-color: var(--white);
}

.Navbar-module-scss-module__L7muza__avatar {
  cursor: pointer;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
}


/* [project]/src/components/molecules/LanguageButton.module.scss.module.css [app-client] (css) */
.LanguageButton-module-scss-module__xvcPRG__languageButton {
  cursor: pointer;
  background: none;
  border: none;
  align-items: center;
  display: flex;
}

.LanguageButton-module-scss-module__xvcPRG__languageButton.LanguageButton-module-scss-module__xvcPRG__light {
  color: var(--on-surface);
}

.LanguageButton-module-scss-module__xvcPRG__languageButton.LanguageButton-module-scss-module__xvcPRG__dark {
  color: var(--white);
}


/* [project]/src/app/global.scss.css [app-client] (css) */
* {
  font-family: DM Sans, sans-serif;
}

@import "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap";

html[data-theme="light"] {
  --white: #fff;
  --on-surface: #23262f;
  --primary: #3772ff;
  --secondary: #777e90;
  --secondary2: #b1b5c3;
  --dark: #141416;
  --success: #58bd7d;
  --critical: #d33535;
  --line: #e5e5e5;
  --stroke: #e6e8ec;
  --surface: #f7f7f7;
  --interactive: #2e72d2;
  --warning: #fabe3c;
  --highlight: #1e58c8;
  --decorative: linear-gradient(90deg, #383fde, #8444d4);
  --dark2: #18191d;
  --gray: #3c404b;
}

html[data-theme="dark"] {
  --bg: #141416;
  --on-surface: #23262f;
  --primary: #3772ff;
  --secondary: #777e90;
  --secondary2: #b1b5c3;
  --white: #fff;
  --success: #58bd7d;
  --critical: #d33535;
  --line: #e5e5e5;
  --stroke: #e6e8ec;
  --surface: #f7f7f7;
  --interactive: #2e72d2;
  --warning: #fabe3c;
  --highlight: #1e58c8;
  --decorative: linear-gradient(90deg, #383fde, #8444d4);
  --dark2: #18191d;
  --gray: #3c404b;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color .3s, color .3s;
}


/* [project]/src/components/atoms/Button.module.scss.module.css [app-client] (css) */
.Button-module-scss-module__dZF2Ya__button {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 90px;
  padding: 16px 24px;
  font-weight: 700;
  transition: transform .3s;
}

.Button-module-scss-module__dZF2Ya__button.Button-module-scss-module__dZF2Ya__activeButton {
  background-color: var(--primary);
  color: var(--white);
}

.Button-module-scss-module__dZF2Ya__button.Button-module-scss-module__dZF2Ya__inactiveButton {
  background: none;
}

.Button-module-scss-module__dZF2Ya__button.Button-module-scss-module__dZF2Ya__inactiveButton.Button-module-scss-module__dZF2Ya__light {
  color: var(--on-surface);
}

.Button-module-scss-module__dZF2Ya__button.Button-module-scss-module__dZF2Ya__inactiveButton.Button-module-scss-module__dZF2Ya__dark {
  color: var(--white);
}


/* [project]/src/components/organisms/HomaPageBanner.module.scss.module.css [app-client] (css) */
.HomaPageBanner-module-scss-module__wy-ACW__bannerSection {
  padding: 4rem 1.5rem;
}

.HomaPageBanner-module-scss-module__wy-ACW__bannerSection.HomaPageBanner-module-scss-module__wy-ACW__dark {
  background-color: var(--dark2);
}

.HomaPageBanner-module-scss-module__wy-ACW__bannerSection.HomaPageBanner-module-scss-module__wy-ACW__light {
  background-color: var(--surface);
}

.HomaPageBanner-module-scss-module__wy-ACW__container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
}

@media (width >= 768px) {
  .HomaPageBanner-module-scss-module__wy-ACW__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    display: flex;
  }
}

.HomaPageBanner-module-scss-module__wy-ACW__left, .HomaPageBanner-module-scss-module__wy-ACW__right {
  flex: 1;
}

.HomaPageBanner-module-scss-module__wy-ACW__right {
  justify-content: center;
  display: flex;
}

.HomaPageBanner-module-scss-module__wy-ACW__partners {
  font-size: 24px 700;
  font-weight: 32px;
}

.HomaPageBanner-module-scss-module__wy-ACW__bannerImage {
  object-fit: contain;
  width: 100%;
  max-height: 24rem;
}

@media (width >= 768px) {
  .HomaPageBanner-module-scss-module__wy-ACW__bannerImage {
    max-height: 32rem;
  }
}

.HomaPageBanner-module-scss-module__wy-ACW__title {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
}

.HomaPageBanner-module-scss-module__wy-ACW__description {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  font-weight: 400;
}


/* [project]/src/components/molecules/MarketUpdateRow.module.scss.module.css [app-client] (css) */
.MarketUpdateRow-module-scss-module__r_B66q__row {
  border-bottom: 1px solid var(--line);
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  font-size: .9rem;
  display: flex;
}

.MarketUpdateRow-module-scss-module__r_B66q__row.MarketUpdateRow-module-scss-module__r_B66q__dark {
  border-bottom: 1px solid var(--on-surface);
}

.MarketUpdateRow-module-scss-module__r_B66q__row:hover {
  background: #ffffff1a;
  transform: translateY(-4px);
}

.MarketUpdateRow-module-scss-module__r_B66q__row.MarketUpdateRow-module-scss-module__r_B66q__dark:hover {
  background: #2f324180;
  transform: translateY(-4px);
}

.MarketUpdateRow-module-scss-module__r_B66q__rank {
  text-align: center;
  width: 40px;
}

.MarketUpdateRow-module-scss-module__r_B66q__coin {
  align-items: center;
  gap: .75rem;
  min-width: 160px;
  display: flex;
}

.MarketUpdateRow-module-scss-module__r_B66q__coin .MarketUpdateRow-module-scss-module__r_B66q__logo {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.MarketUpdateRow-module-scss-module__r_B66q__coin .MarketUpdateRow-module-scss-module__r_B66q__nameSymbol {
  align-items: center;
  gap: 8px;
  display: flex;
}

.MarketUpdateRow-module-scss-module__r_B66q__coin .MarketUpdateRow-module-scss-module__r_B66q__name {
  font-weight: 600;
}

.MarketUpdateRow-module-scss-module__r_B66q__coin .MarketUpdateRow-module-scss-module__r_B66q__symbol {
  border-left: 1px solid var(--stroke);
  color: var(--secondary);
  padding-left: 8px;
  font-size: .8rem;
}

.MarketUpdateRow-module-scss-module__r_B66q__price {
  text-align: right;
  width: 100px;
}

.MarketUpdateRow-module-scss-module__r_B66q__change {
  text-align: right;
  width: 80px;
  font-weight: 600;
}

.MarketUpdateRow-module-scss-module__r_B66q__green {
  color: var(--success);
}

.MarketUpdateRow-module-scss-module__r_B66q__red {
  color: var(--critical);
}

.MarketUpdateRow-module-scss-module__r_B66q__marketCap {
  text-align: right;
  width: 140px;
}

.MarketUpdateRow-module-scss-module__r_B66q__sparkline {
  text-align: center;
  width: 100px;
}

.MarketUpdateRow-module-scss-module__r_B66q__tradeButton {
  cursor: pointer;
  border-radius: 90px;
  flex-shrink: 0;
  padding: .4rem 1rem;
  transition: all .3s;
}

.MarketUpdateRow-module-scss-module__r_B66q__tradeButton.MarketUpdateRow-module-scss-module__r_B66q__light {
  background-color: var(--white);
  color: var(--on-surface);
  border: 2px solid var(--stroke);
}

.MarketUpdateRow-module-scss-module__r_B66q__tradeButton.MarketUpdateRow-module-scss-module__r_B66q__dark {
  background-color: var(--on-surface);
  color: var(--white);
  border: 2px solid var(--stroke);
}

.MarketUpdateRow-module-scss-module__r_B66q__tradeButton.MarketUpdateRow-module-scss-module__r_B66q__active {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}


/* [project]/src/components/atoms/MiniChart.module.scss.module.css [app-client] (css) */
.MiniChart-module-scss-module__2oz9Ba__chart {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.MiniChart-module-scss-module__2oz9Ba__price {
  color: #333;
  margin-top: 8px;
  font-size: 14px;
}


/* [project]/src/components/molecules/HowItWork.module.scss.module.css [app-client] (css) */
section.HowItWork-module-scss-module__ruISOW__dark {
  background-color: var(--dark2);
}

section.HowItWork-module-scss-module__ruISOW__light {
  background-color: var(--surface);
}

.HowItWork-module-scss-module__ruISOW__container {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.HowItWork-module-scss-module__ruISOW__title {
  color: var(--on-surface);
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.HowItWork-module-scss-module__ruISOW__title.HowItWork-module-scss-module__ruISOW__dark {
  color: var(--secondary2);
}

.HowItWork-module-scss-module__ruISOW__title.HowItWork-module-scss-module__ruISOW__light {
  color: var(--on-surface);
}

.HowItWork-module-scss-module__ruISOW__subtitle {
  margin-bottom: 3rem;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.HowItWork-module-scss-module__ruISOW__subtitle.HowItWork-module-scss-module__ruISOW__light {
  color: var(--secondary);
}

.HowItWork-module-scss-module__ruISOW__subtitle.HowItWork-module-scss-module__ruISOW__dark {
  color: var(--secondary2);
}

.HowItWork-module-scss-module__ruISOW__steps {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  display: flex;
  position: relative;
}

.HowItWork-module-scss-module__ruISOW__step {
  flex: 1;
  max-width: 300px;
  height: auto;
}

.HowItWork-module-scss-module__ruISOW__icon {
  width: 96px;
  height: 96px;
  margin: 0 auto 1rem;
  display: block;
}

.HowItWork-module-scss-module__ruISOW__stepNumber {
  margin-bottom: .5rem;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.HowItWork-module-scss-module__ruISOW__stepNumber.HowItWork-module-scss-module__ruISOW__light {
  color: var(--on-surface);
}

.HowItWork-module-scss-module__ruISOW__stepNumber.HowItWork-module-scss-module__ruISOW__dark {
  color: var(--secondary2);
}

.HowItWork-module-scss-module__ruISOW__stepTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.HowItWork-module-scss-module__ruISOW__stepTitle.HowItWork-module-scss-module__ruISOW__light {
  color: var(--secondary);
}

.HowItWork-module-scss-module__ruISOW__stepTitle.HowItWork-module-scss-module__ruISOW__dark {
  color: var(--surface);
}

.HowItWork-module-scss-module__ruISOW__stepDesc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.HowItWork-module-scss-module__ruISOW__stepDesc.HowItWork-module-scss-module__ruISOW__light {
  color: var(--secondary);
}

.HowItWork-module-scss-module__ruISOW__stepDesc.HowItWork-module-scss-module__ruISOW__dark {
  color: var(--secondary2);
}

.HowItWork-module-scss-module__ruISOW__divider {
  margin: 0 auto;
  padding-top: 2rem;
  display: block;
}


/* [project]/src/components/molecules/WhatIsRockie.module.scss.module.css [app-client] (css) */
.WhatIsRockie-module-scss-module__mvLgsW__container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  display: flex;
}

.WhatIsRockie-module-scss-module__mvLgsW__contentWrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  max-width: 1200px;
  display: flex;
}

.WhatIsRockie-module-scss-module__mvLgsW__imageContainer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 45%;
  display: flex;
}

.WhatIsRockie-module-scss-module__mvLgsW__image {
  object-fit: contain;
  width: 100%;
  max-width: 400px;
}

.WhatIsRockie-module-scss-module__mvLgsW__textContainer {
  width: 50%;
  padding-left: 20px;
}

.WhatIsRockie-module-scss-module__mvLgsW__title, .WhatIsRockie-module-scss-module__mvLgsW__subtitle, .WhatIsRockie-module-scss-module__mvLgsW__steps, .WhatIsRockie-module-scss-module__mvLgsW__button {
  margin-bottom: 20px;
}

.WhatIsRockie-module-scss-module__mvLgsW__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.WhatIsRockie-module-scss-module__mvLgsW__title.WhatIsRockie-module-scss-module__mvLgsW__light {
  color: var(--on-surface);
}

.WhatIsRockie-module-scss-module__mvLgsW__title.WhatIsRockie-module-scss-module__mvLgsW__dark {
  color: var(--surface);
}

.WhatIsRockie-module-scss-module__mvLgsW__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.WhatIsRockie-module-scss-module__mvLgsW__subtitle.WhatIsRockie-module-scss-module__mvLgsW__light {
  color: var(--secondary);
}

.WhatIsRockie-module-scss-module__mvLgsW__subtitle.WhatIsRockie-module-scss-module__mvLgsW__dark {
  color: var(--secondary2);
}

.WhatIsRockie-module-scss-module__mvLgsW__stepTitle {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  display: flex;
}

.WhatIsRockie-module-scss-module__mvLgsW__stepTitle.WhatIsRockie-module-scss-module__mvLgsW__light {
  color: var(--on-surface);
}

.WhatIsRockie-module-scss-module__mvLgsW__stepTitle.WhatIsRockie-module-scss-module__mvLgsW__dark {
  color: var(--surface);
}

.WhatIsRockie-module-scss-module__mvLgsW__stepDesc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.WhatIsRockie-module-scss-module__mvLgsW__stepDesc.WhatIsRockie-module-scss-module__mvLgsW__light {
  color: var(--secondary);
}

.WhatIsRockie-module-scss-module__mvLgsW__stepDesc.WhatIsRockie-module-scss-module__mvLgsW__dark {
  color: var(--secondary2);
}


/* [project]/src/components/molecules/FreeMoney.module.scss.module.css [app-client] (css) */
.FreeMoney-module-scss-module__qbEY4W__freemoney.FreeMoney-module-scss-module__qbEY4W__light {
  background-color: var(--surface);
}

.FreeMoney-module-scss-module__qbEY4W__freemoney.FreeMoney-module-scss-module__qbEY4W__dark {
  background-color: var(--dark2);
}

.FreeMoney-module-scss-module__qbEY4W__container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  display: flex;
}

.FreeMoney-module-scss-module__qbEY4W__contentWrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  max-width: 1200px;
  display: flex;
}

.FreeMoney-module-scss-module__qbEY4W__imageContainer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 45%;
  display: flex;
}

.FreeMoney-module-scss-module__qbEY4W__image {
  object-fit: contain;
  width: 100%;
  max-width: 400px;
}

.FreeMoney-module-scss-module__qbEY4W__textContainer {
  width: 50%;
  padding-left: 20px;
}

.FreeMoney-module-scss-module__qbEY4W__title, .FreeMoney-module-scss-module__qbEY4W__subtitle, .FreeMoney-module-scss-module__qbEY4W__steps, .FreeMoney-module-scss-module__qbEY4W__button {
  margin-bottom: 20px;
}

.FreeMoney-module-scss-module__qbEY4W__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.FreeMoney-module-scss-module__qbEY4W__title.FreeMoney-module-scss-module__qbEY4W__light {
  color: var(--on-surface);
}

.FreeMoney-module-scss-module__qbEY4W__title.FreeMoney-module-scss-module__qbEY4W__dark {
  color: var(--surface);
}

.FreeMoney-module-scss-module__qbEY4W__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.FreeMoney-module-scss-module__qbEY4W__subtitle.FreeMoney-module-scss-module__qbEY4W__light {
  color: var(--secondary);
}

.FreeMoney-module-scss-module__qbEY4W__subtitle.FreeMoney-module-scss-module__qbEY4W__dark {
  color: var(--secondary2);
}

.FreeMoney-module-scss-module__qbEY4W__stepTitle {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  display: flex;
}

.FreeMoney-module-scss-module__qbEY4W__stepTitle.FreeMoney-module-scss-module__qbEY4W__light {
  color: var(--on-surface);
}

.FreeMoney-module-scss-module__qbEY4W__stepTitle.FreeMoney-module-scss-module__qbEY4W__dark {
  color: var(--surface);
}

.FreeMoney-module-scss-module__qbEY4W__stepDesc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.FreeMoney-module-scss-module__qbEY4W__stepDesc.FreeMoney-module-scss-module__qbEY4W__light {
  color: var(--secondary);
}

.FreeMoney-module-scss-module__qbEY4W__stepDesc.FreeMoney-module-scss-module__qbEY4W__dark {
  color: var(--secondary2);
}


/* [project]/src/components/molecules/OurCustomer.module.scss.module.css [app-client] (css) */
.OurCustomer-module-scss-module__6bWKPq__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  display: block;
}

.OurCustomer-module-scss-module__6bWKPq__contentWrapper {
  flex-direction: column;
  gap: 3rem;
  display: flex;
}

@media (width >= 768px) {
  .OurCustomer-module-scss-module__6bWKPq__contentWrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.OurCustomer-module-scss-module__6bWKPq__leftSide {
  max-width: 400px;
}

.OurCustomer-module-scss-module__6bWKPq__title {
  font-size: 2rem;
  font-weight: bold;
  line-height: normal;
}

.OurCustomer-module-scss-module__6bWKPq__title.OurCustomer-module-scss-module__6bWKPq__light {
  color: var(--on-surface);
}

.OurCustomer-module-scss-module__6bWKPq__title.OurCustomer-module-scss-module__6bWKPq__dark {
  color: var(--surface);
}

.OurCustomer-module-scss-module__6bWKPq__subtitle {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.OurCustomer-module-scss-module__6bWKPq__subtitle.OurCustomer-module-scss-module__6bWKPq__light {
  color: var(--on-surface);
}

.OurCustomer-module-scss-module__6bWKPq__subtitle.OurCustomer-module-scss-module__6bWKPq__dark {
  color: var(--surface);
}

.OurCustomer-module-scss-module__6bWKPq__description {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.OurCustomer-module-scss-module__6bWKPq__description.OurCustomer-module-scss-module__6bWKPq__light {
  color: var(--secondary);
}

.OurCustomer-module-scss-module__6bWKPq__description.OurCustomer-module-scss-module__6bWKPq__dark {
  color: var(--secondary2);
}

.OurCustomer-module-scss-module__6bWKPq__avatars {
  align-items: center;
  gap: .75rem;
  margin-top: 1.5rem;
  display: flex;
}

.OurCustomer-module-scss-module__6bWKPq__avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.OurCustomer-module-scss-module__6bWKPq__avatar.OurCustomer-module-scss-module__6bWKPq__light {
  background-color: var(--secondary2);
}

.OurCustomer-module-scss-module__6bWKPq__avatar.OurCustomer-module-scss-module__6bWKPq__dark {
  background-color: var(--gray);
}

.OurCustomer-module-scss-module__6bWKPq__primaryText {
  color: var(--primary);
  font-size: .875rem;
  font-weight: 600;
  line-height: normal;
}

.OurCustomer-module-scss-module__6bWKPq__lightText {
  color: var(--on-surface);
}

.OurCustomer-module-scss-module__6bWKPq__darkText {
  color: var(--surface);
}

.OurCustomer-module-scss-module__6bWKPq__OurCustomersCard {
  border-radius: .5rem;
  width: 100%;
  max-width: 600px;
  padding: 1.5rem;
  transition: transform .2s, background .2s;
  position: relative;
  box-shadow: 0 2px 10px #0000000d;
}

.OurCustomer-module-scss-module__6bWKPq__OurCustomersCard:hover {
  background: #ffffff1a;
  transform: translateY(-4px);
}

.OurCustomer-module-scss-module__6bWKPq__OurCustomersCard.OurCustomer-module-scss-module__6bWKPq__dark {
  background: var(--dark);
  color: var(--white);
}

.OurCustomer-module-scss-module__6bWKPq__OurCustomersCard.OurCustomer-module-scss-module__6bWKPq__dark:hover {
  background: #2f324180;
}

.OurCustomer-module-scss-module__6bWKPq__OurCustomersCard.OurCustomer-module-scss-module__6bWKPq__dark .OurCustomer-module-scss-module__6bWKPq__reviewerRole {
  color: var(--secondary2);
}

.OurCustomer-module-scss-module__6bWKPq__OurCustomersCard.OurCustomer-module-scss-module__6bWKPq__dark .OurCustomer-module-scss-module__6bWKPq__logo {
  opacity: .8;
}

.OurCustomer-module-scss-module__6bWKPq__blueLine {
  background-color: #2563eb;
  border-radius: 2px;
  width: 4px;
  position: absolute;
  top: 1.5rem;
  bottom: 1.5rem;
  left: 0;
}

.OurCustomer-module-scss-module__6bWKPq__comment {
  padding-left: 1rem;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.OurCustomer-module-scss-module__6bWKPq__comment.OurCustomer-module-scss-module__6bWKPq__light {
  color: var(--on-surface);
}

.OurCustomer-module-scss-module__6bWKPq__comment.OurCustomer-module-scss-module__6bWKPq__dark {
  color: var(--surface);
}

.OurCustomer-module-scss-module__6bWKPq__footer {
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  padding-left: 1rem;
  display: flex;
}

.OurCustomer-module-scss-module__6bWKPq__reviewer {
  align-items: center;
  gap: .75rem;
  display: flex;
}

.OurCustomer-module-scss-module__6bWKPq__reviewerName {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.OurCustomer-module-scss-module__6bWKPq__reviewerName.OurCustomer-module-scss-module__6bWKPq__light {
  color: var(--on-surface);
}

.OurCustomer-module-scss-module__6bWKPq__reviewerName.OurCustomer-module-scss-module__6bWKPq__dark {
  color: var(--surface);
}

.OurCustomer-module-scss-module__6bWKPq__reviewerRole {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.OurCustomer-module-scss-module__6bWKPq__reviewerRole.OurCustomer-module-scss-module__6bWKPq__light {
  color: var(--secondary);
}

.OurCustomer-module-scss-module__6bWKPq__reviewerRole.OurCustomer-module-scss-module__6bWKPq__dark {
  color: var(--secondary2);
}

.OurCustomer-module-scss-module__6bWKPq__logo {
  opacity: .5;
  height: 20px;
}


/* [project]/src/components/molecules/CryptoSection.module.scss.module.css [app-client] (css) */
.CryptoSection-module-scss-module__mP4fra__cardContainer {
  box-shadow: none;
  border-top: 1px solid;
  border-radius: 0;
  flex-wrap: wrap;
  gap: 22px;
  padding: 20px;
  display: flex;
}

.CryptoSection-module-scss-module__mP4fra__buttonContainer {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
}

.CryptoSection-module-scss-module__mP4fra__buttonContainer button {
  cursor: pointer;
  border: none;
  border-radius: 24px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.CryptoSection-module-scss-module__mP4fra__buttonContainer button.CryptoSection-module-scss-module__mP4fra__activeButton {
  background-color: var(--primary);
  color: var(--white);
}

.CryptoSection-module-scss-module__mP4fra__buttonContainer button.CryptoSection-module-scss-module__mP4fra__inactiveButton {
  background: none;
}

.CryptoSection-module-scss-module__mP4fra__buttonContainer button.CryptoSection-module-scss-module__mP4fra__inactiveButton.CryptoSection-module-scss-module__mP4fra__light {
  color: var(--on-surface);
}

.CryptoSection-module-scss-module__mP4fra__buttonContainer button.CryptoSection-module-scss-module__mP4fra__inactiveButton.CryptoSection-module-scss-module__mP4fra__dark {
  color: var(--white);
}

.CryptoSection-module-scss-module__mP4fra__cardContainer {
  box-shadow: none;
  border-top: 1px solid;
  border-radius: 0;
  gap: 22px;
  padding: 20px;
  display: flex;
}

.CryptoSection-module-scss-module__mP4fra__cardContainer.CryptoSection-module-scss-module__mP4fra__light {
  border-color: var(--line);
}

.CryptoSection-module-scss-module__mP4fra__cardContainer.CryptoSection-module-scss-module__mP4fra__dark {
  border-color: var(--on-surface);
}

.CryptoSection-module-scss-module__mP4fra__card {
  text-align: center;
  border-radius: 12px;
  gap: 8px;
  width: 200px;
  margin-bottom: 32px;
  padding: 32px 40px;
  box-shadow: 0 2px 4px #0000001a;
}

.CryptoSection-module-scss-module__mP4fra__card:hover {
  background: #ffffff1a;
  transform: translateY(-4px);
}

.CryptoSection-module-scss-module__mP4fra__card.CryptoSection-module-scss-module__mP4fra__dark:hover {
  background: #2f324180;
  transform: translateY(-4px);
}

.CryptoSection-module-scss-module__mP4fra__header {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 8px;
  display: flex;
}

.CryptoSection-module-scss-module__mP4fra__icon {
  width: 24px;
  height: 24px;
}

.CryptoSection-module-scss-module__mP4fra__coinInfo {
  text-align: left;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  display: flex;
}

.CryptoSection-module-scss-module__mP4fra__coinInfo .CryptoSection-module-scss-module__mP4fra__coinName {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.CryptoSection-module-scss-module__mP4fra__coinInfo .CryptoSection-module-scss-module__mP4fra__coinSymbol {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 400;
}

.CryptoSection-module-scss-module__mP4fra__price {
  margin: 8px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.CryptoSection-module-scss-module__mP4fra__marketVolumeContainer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  display: flex;
}

.CryptoSection-module-scss-module__mP4fra__marketVolumeContainer .CryptoSection-module-scss-module__mP4fra__marketCap {
  font-weight: 400;
}

.CryptoSection-module-scss-module__mP4fra__marketVolumeContainer .CryptoSection-module-scss-module__mP4fra__volumeChange {
  text-align: center;
  border-radius: 24px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.CryptoSection-module-scss-module__mP4fra__marketVolumeContainer .CryptoSection-module-scss-module__mP4fra__volumeChange.CryptoSection-module-scss-module__mP4fra__negative {
  background-color: var(--critical);
  color: var(--white);
}

.CryptoSection-module-scss-module__mP4fra__marketVolumeContainer .CryptoSection-module-scss-module__mP4fra__volumeChange.CryptoSection-module-scss-module__mP4fra__positive {
  background-color: var(--success);
  color: var(--white);
}


/*# sourceMappingURL=src_25b3d2e5._.css.map*/