.app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f9;
  height: 100vh;
}

.app-title {
  text-align: center;
  color: #333;
  font-size: 2.5em;
  margin-bottom: 40px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
