@import url("https://fonts.googleapis.com/css2?family=Headland+One&display=swap");
body {
  font-family: "Headland One", serif;
  background-color: #f5f5dc;
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
.navbr,
.dropdown-menu {
  background-color: #cbb799;
  box-shadow: 0px 0px 7px 3px #432818;
}
.bg-pink {
  background-color: #ff9aa2;
}
.bg-lightPink {
  background-color: #fae5e7;
}
.outlined-green {
  background: transparent;
  border: 2px solid #b297da;
  color: #b297da;
}
.bg-brown {
  background-color: #432818cc;
}
.loginscreen {
  background: url(../hogwarts-lib.png) no-repeat center;
  background-size: cover;
}
