@import url("https://fonts.googleapis.com/css2?family=Headland+One&display=swap");
body {
  font-family: "Headland One", serif;
  background-color: #f7f8f6;
}
.navbr {
  background-color: #e2f0cb80;
}
