@import url("https://fonts.googleapis.com/css2?family=Headland+One&display=swap");
body {
  font-family: "Headland One", serif;
  background-color: #f7f8f6;
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
.navbr,
.dropdown-menu {
  background-color: #e9f5d5;
}
.bg-pink {
  background-color: #ff9aa2;
}
.bg-lightPink {
  background-color: #fae5e7;
}
.outlined-green {
  background: transparent;
  border: 2px solid #b297da;
  color: #b297da;
}
