.navbar-toggler {
  border: none;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("https://img.icons8.com/?size=100&id=8113&format=png&color=000000");
}
.offcanvas {
  --bs-offcanvas-width: 95%;
}
.navbar .offcanvas-body .navbar-nav > li > a:hover {
  color: #4285f4;
}
.navbar .offcanvas-body .navbar-nav > li > .active {
  color: #4285f4;
}


.main-image{
  top: -1%;
}


.btn {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
}