* {
  box-sizing: border-box;
}

.icon {
  background-color: #4285f4;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 10;
  color: #fff;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("https://img.icons8.com/?size=100&id=8113&format=png&color=000000");
}
.offcanvas {
  --bs-offcanvas-width: 95%;
}
.navbar .offcanvas-body .navbar-nav > li > a:hover {
  color: #4285f4;
}
.navbar .offcanvas-body .navbar-nav > li > .active {
  color: #4285f4;
}

.main-image {
  top: -1%;
}

.btn {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
}

.feature-card {
  background-color: #fff;
}

.text {
  padding: 15%;
  background: #f1f1f1;
  border-radius: 10px;
  text-align: center;
}

.text h3 {
  font-size: 18px;
  color: #000;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.text-color {
  font-size: 1rem;
  color: gray;
  line-height: 1.7;
}

.container-team {
  animation: moveUp 1.5s;
}

.container-features {
  animation: moveUp 1.5s;
}

@keyframes moveUp {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.feature-card {
  position: relative;
  border: none;
  transition: all 0.3s ease-in-out;
}

.feature-card:hover .text {
  background-color: #4285f4;

  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.feature-card:hover .text h3 {
  color: #fff !important;
}
.feature-card:hover .text p {
  color: #fff !important;
}

.feature-card:hover .icon {
  background-color: white !important;
  color: #4285f4 !important;
  /* Kart arka plan rengi */
}

.team-card .team-image:hover .icon-bar {
  transform: translateY(-100%);
  z-index: 2;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  transition: 0.3s all ease;
  background: #4285f4;
}

.team-card .team-image:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.team-card .team-image .person {
  position: relative;
  transition: 0.3s all ease-in-out;
}
