#p1 {
  font-size: 30px;
  color: rgb(209, 75, 22);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  background-color: #081411;
}

.paragraf {
  font-size: 20px;
  color: rgb(201, 178, 53);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: #100231;
}

#p2 {
  color: rgb(212, 226, 21);
  background-color: rgb(0, 0, 0);
  text-align: right;
}

p {
  font-weight: lighter;
}

h1 {
  color: #afc013;
  text-align: center;
  font-weight: 900;
  background-color: #000;
}
