// Değişken tanımlama

$bgColor: #f3513d
$xS: 10px
$xMid: 20px
$xL: 30px
$w: 150px
$h: 150px


@mixin boxFunction($bgColor, $w, $h)
    background-color: $bgColor
    width: $w
    height: $h
    font-size: 20px
    text-align: center


.container 
    display: flex
    justify-content: space-around
    align-items: center
    
    &:hover // --> .container:hover
        background-color: yellow
    

    .box1
        @include boxFunction(orange, 100 * 3, $h)
    
    .box2
        @include boxFunction($bgColor, $w, 200px)
    
    
    .box3
        @extend .box1
        width: $xL * 3
    


