
.box{
    height: 50px;
    width: 250px;
    margin: 10px;
}
.red{
    background-color: red;
    margin-left: 50px;
    padding-top: 20px;
}
.blue{
    background-color: blue;
    margin-left: 100px;
}
.green{
    background-color: green;
    margin-top: 50px;
}
