$sitePrimaryColor: #6247ea;
$siteSecondaryColor: #ec9d5f;
$pTextColor: #f9f9ff;
$whiteColor: #ffffff;
$titleColor: #222222;
$descriptionColor: #777777;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  line-height: 24px;
}

.banner-section {
  background-color: $sitePrimaryColor;
  padding: 225px 0px;

  h2 {
    font-size: 36px;

    text-transform: uppercase;
  }

  p {
    font-size: 14px;
  }

  .btn {
    border: 5px;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 50px;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $sitePrimaryColor !important;
    }
  }
}

.features-unique {
  .titles {
    h2 {
      font-size: 36px;
    }

    p {
      font-size: 14px;
      font-weight: 300;
      max-width: 570px;
    }
  }

  .feature-inner {
    padding-bottom: 2rem;

    .feature-item {
      padding: 60px 20px 60px 30px;
      transition: all 300ms linear 0s;

      &:hover {
        box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
        border-color: $border;
      }

      h4 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

.price-area {
  .main-title {
    h2 {
      font-size: 36px;
    }

    p {
      font-size: 14px;
      max-width: 570px;
    }
  }

  .list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
      margin-bottom: 20px;
    }
  }

  .price-item {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 45px;
    border: $whiteColor;

    h5 {
      font-size: 14px;
    }

    &:hover {
      box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
      border-color: $border;
      h2 {
        color: $sitePrimaryColor !important;
      }
      border-top: 2px solid !important;
      border-top-color: $sitePrimaryColor !important;
    }
  }
}
