#p1{ 
    color: red;
    font-size: 20px;
    background-color: yellow;
}
#p2{ /* id */
    color: blue;
    font-size: 20px;
    background-color: rgb(0, 255, 140);
}

.paragraf{ /* class */
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1{ /* tag */
    color: rgb(0, 128, 255);
    font-size: 20px;
    background-color: rgb(128, 39, 104);
    font-weight: bold;
}
