* {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {

    nav {
        .navbar-brand {
            font-weight: 500;
            font-size: 2rem;
        }

        .navbar-nav {
            li {
                padding: 5px 12px;

                a {
                    color: black;
                    display: inline-block;


                    &:hover {
                        color: #4285f4 !important;


                    }
                }
            }
        }
    }
}

.hero {
    .container {
        .hero-content {
            h1 {
                font-size: 3.5rem;
                font-weight: 900;
                color: black;
                margin-bottom: 8px;
            }

            p {
                color: #6c757d;
                font-size: 1rem;
                font-weight: 300;
            }

            .btn {
                border-width: 2px;
                background: #4285f4;
                border-color: #4285f4;
                color: #fff;
                position: relative;
                top: 0;
                border-radius: 30px;
                font-size: 16px;
                padding: 10px 30px;
                transition: .3s all ease;
                box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);

                &:hover {
                    color: #fff;
                    background-color: #0062cc;
                    border-color: #005cbf;
                    top: -2px;
                }
            }
        }
    }
}