/* body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(117, 117, 117);
} */

.box {
    background-color: rgb(156, 79, 16);
    width: 150px;
    height: 150px;
    /* transition-property: width, height, background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out; */
    /* transition: all 300ms ease-in-out; */

    /* animation-name: aa;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    } */

    animation: aa 3s linear infinite normal 1s;

}

.box:hover {
    background-color: rgb(232, 13, 144);
    width: 50%;
    height: 900px;
}

/* @keyframes aa {
    0% {
        background-color: orange;
        width: 150px;
        height: 150px;
    }

    50% {
        background-color: green;
        width: 50%;
        height: 900px;
    }

    100% {
        background-color: blue;
        width: 150px;
        height: 150px;
    }
} */


@keyframes aa {
    0% {
        background-color: orange;
        transform: translate(0, 0);
    }

    50% {
        background-color: green;
        transform: translate(200px, 200px) rotate(180deg);
    }

    75% {
        background-color: green;
        transform: translate(-200px, -200px) rotate(180deg);
    }

    100% {
        background-color: blue;
        transform: translate(0, 0);
    }
}

/* body {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 7rem;
    padding-bottom: 7rem;
} */

.container {
    width: 100%;
    height: 700px;
}

.box2 {
    width: 150px;
    height: 150px;
    background-color: greenyellow;
    animation: boxbox 2s linear infinite normal;
    transition-property: all;

}

@keyframes boxbox {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(0, 780px) rotate(90deg);
    }

    50% {
        transform: translate(1750px, 780px) rotate(180deg);
    }

    75% {
        transform: translate(1700px, 0) rotate(270deg);
    }

    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}