#root {
  margin: 0 auto;

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

  .form-title {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0.5rem;
  }

  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
  }

  .error {
    width: 300px;
    color: rgb(240, 72, 72);
    border: 1px solid red;
  }
}

.input-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}