$primary: #3772ff;
$white: #fff;
$black: #18191d;
$secondary: #777e90;
$tertiary: #f7f7f7;
$danger: #d33535;
$success: #58bd7d;
$warning: #fabe3c;

$table-hover-bg: #ebf1ff;
$body-bg-dark: #141416;
$accordion-border-width: 0;
$accordion-button-active-bg: auto;
$accordion-button-active-color: auto;

// $nav-link-color: $black;
// $link-color-dark: $white;

$font-family-base: "DM Sans";

$navbar-light-bg: $white;

$h1-font-size: 4rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px,
);
