#p1{
    color: red;
    background-color: yellow;
    text-align: left;
}
.paragraf{
    color: rgb(3, 44, 5);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-align: center;
    background-color: gray;
}
#p2{
    color: white;
    background-color: black;
    text-align: right;
}
h1{
    color: rgb(75, 193, 185);
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
