.p{
    color: coral;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#p1{
color: blueviolet;
background-color: burlywood;
}
#p2{
    color: aqua;
    background-color: bisque;
}