@import '../../styles/scss/variables';
@import '../../styles/scss/mixins';

.layout {
   display: flex;
   flex-direction: column;
   min-height: 100vh;

   &__main {
      flex: 1;
      padding-top: 4rem; 
   }
}