.box{
   height: 40px;
   font-weight: 30px;
   width: 250px;
   margin: 10px;
   color: rgb(27, 27, 27);

}
.red{
background-color: rgb(160, 112, 95);
}
.blue{
   background-color: rgb(95, 110, 160);

}
.green{
   background-color: rgb(95, 160, 121);

}