body {
  background-image: url(../public/bg.jpg);
}

.weather-card {
  background: rgba(255, 255, 255, 0.8);

  border-radius: 16px;
  max-width: 400px;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.temperature-display {
  display: flex;
  align-items: center;
  gap: 15px;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.weather-details i {
  font-size: 30px;
  color: #0288d1;
}
