*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    gap: 5px;
    height: 70px;
    position: sticky;
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    top:0;
    left:0;
}
.navbar::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.navbar.sticky::after {
    opacity: 1;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 59%;
}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar ul li a {
    color: #24272c;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    margin: 0px 6px;
    padding: 12px 8px;
}
.navbar ul li a:hover {
    color: #ff5714;

}
.logo{
    height: 24px;
    width: auto;
}
.navbtn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0px;
    background-color: #FF5714;
    margin-left: 3px;
}
.navbtn-logo{
    width: 16px;
    height: 16px;
    color: #fff;
}
.navB{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px 0px 0px 8px;
    padding: 0px 0px 0px 24px;
}
.bol1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Image20241226192444.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 798px;
}
.container{
    width: 100%;
    background-color: rgba(22, 28, 45, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .container{
        display: flex;
        flex-shrink: 1;
        height: auto;
    }
}
.bgText{
    width: 59%;
    height: 798px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bgSText{
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    color: #FFFFFF80;
    max-width: 600px;
    letter-spacing: 0.5;
    line-height: 1.6;
}
.imgText{
    font-family: "Roboto Slab", serif;
    font-size: 42px;
    margin: 0px 0px 24px;
    letter-spacing: 0.2px;
    line-height: 1.5;
    color: #fff;
}
.underlined{
    color:#fff;
    font-family: "Roboto Slab", serif;
    font-size: 42px;
    text-decoration: underline;
    text-decoration-color: #F9BE64;
}
.bgBtn{
    margin: 24px 0px 0px;
    padding: 8px 0px 0px;
}
.bgBtn button{
    background-color: #ff5714; 
    border: 1px solid #ff5714 ;
    color: #fff ;
    box-shadow: 0 3px 5px 0 rgba(255, 87, 20, 0.1);
    margin-right: .5rem ;
    padding: 8px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    border-radius: 6px;
    outline: none;
}
.bol5{
    display: flex;
    justify-content: center;
    background-color: #f8f9fc;
}
.psec{
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    justify-content: center;
    align-items: center;
    width: 59%; 
}
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 190px;
}
.phead{
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    color: #ff5714;
    margin: 0px 0px 8px;
    font-weight: 600;
}
.ptitle{
    font-family: "Roboto Slab", serif;
    font-size: 28px;
    letter-spacing: 0.5px;
    margin: 0px 0px 16px;
    color:#24272c;
}
.ptext{
    font-family: "Roboto", sans-serif;
    color: #8492a6;
    font-size: 15px;
    margin: 0px 258px;
    max-width: 600px;
    text-align: center;
    line-height: 1.6;
}
.srow{
    display: flex;
    flex-direction: row;
    margin: 0px - 12px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.row-img{
    width: 261px;
    height: 195.75px;
    border-radius: 17px;
    padding: 8px 12px 0px;
    margin: 24px 0px 0px;
}
.bol6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 380px;
    background: url("cta.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 380px;
}
.bolBg{
    width: 100%;
    height: 380px;
    background-color: #161C2dbf;
}
.h6{
    font-family: "Roboto Slab", serif;
    font-size: 28px;
    text-align: center;
    color: #fff;
    margin: 0px 0px 16px;
    width: 59%;
}
.t6{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #FFFFFF80;
    margin: 0px 258px;
    max-width: 600px;
    text-align: center;
    line-height: 1.6;
}