/* Body ve genel stiller */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

section {
  height: 100vh; /* Scroll alanı oluştur */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  height: 100vh; /* Scroll alanı oluştur */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  width: 70%;
  transform: translateY(50px);
  background: #625be7;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  font-size: 18px;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Animasyon */
}

/* .box:nth-child(2) {
  transition-delay: 0.2s;
}

.box:nth-child(3) {
  transition-delay: 0.4s;
}

.box:nth-child(4) {
  transition-delay: 0.6s;
} */

@support (animation-timeline:works) {
  .box {
    animation: 1s linear ease-out sliding
    animation-timeline: sliding-timeline; }
   @scroll-timeline sliding-timeline{
    time-range:1s
   }
   @keyframes identifier {
    from{opacity:0}
    to{opacity:1}
    
   }
 
}
