.main-trading {
    .-row {
        max-width: 100%;
    }

    margin-top: 24px;
    overflow: hidden;

    .trading-title {
        margin: 20px;
        background-color: var(--subhero-background-color);
        padding: 40px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;

        h1 {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;

        }
    }

    .trading-view-section {
        max-width: 100%;

        .trading-view {
            background-color: var(--subhero-background-color);
            margin: 40px;
            border-bottom-right-radius: 12px;
            border-bottom-left-radius: 12px;
            padding: 40px;
            margin-left: 20px;
            margin-top: 4px;
        }

        .tradingview_widget {
            width: 100%;
        }
    }

    .group-MBOVGQRI:last-child {
        display: none !important;
    }

    .chart-page {
        border: 0 !important;
    }

    @media screen and (max-width:1200px) {
        .row-8-trading {
            width: 100%;
        }
    }
}

.row-8-trading {
    width: 65%;
}