*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media ()

.container{

}

.header-top{
    display: grid;
    grid-template-columns:1fr 2fr 1fr ;
    height: 45px;
    background-color:  rgba(35,63,146,1);


}

.navbar-top ul{
    list-style: none;
    display: flex;
    
}