* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit';
  --orange: rgba(255, 185, 31, 1);
  --gray: rgba(248, 248, 248, 1);
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 1100px) {
  .container {
    max-width: 1084px;
    width: 100%;
  }
}

@media (min-width: 1279px) {
  .container {
    max-width: 1260px;
    width: 100%;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.header-top {
  height: 45px;
  background-color: rgba(35, 63, 146, 1);
  min-width: 100%;
  font-size: 15px;
}

.header-top .container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100%;
  align-items: center;
  color: white;
  padding: 9px 15px;
}

.fa-bolt {
  color: var(--orange);
  margin-right: 4px;
  justify-content: center;
}

.flash{
  display: flex;
  justify-content: center;
}
.header-top strong {
  color: var(--orange);
}

.navbar-top ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar-top ul li {
  margin-right: 13px;
}

.navbar-top ul li a {
  color: white;
  text-decoration: none;
  font-size: 93%;
}

.navbar-top ul li a:hover {
  color: var(--orange);
}

.header-menu .container {
  padding: 26px 15px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.header-menu .logo {
  width: 150px;
  height: 58px;
}

.searchbar {
  color: rgba(32, 32, 32, 1);
  background-color: var(--gray);
  height: 48px;
  border-radius: 60px;
  display: flex;
  align-items: center;
}
.header-menu .searchbar select {
  width: 190px;
  border-width: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 30px;
  padding-right: 18px;
  margin-right: 7px;
  background-color: transparent;
  font-size: 15px;
}

.search-content {
  border-width: 0;
  width: 100%;
  font-size: 15px;
  background-color: var(--gray);
}
.search-button {
  border-radius: 100%;
  width: 70px;
  height: 40px;
  background-color: var(--orange);
  border: none;
  transition: 0.3s;
}
.search-button:hover {
  background-color: black;
  cursor: pointer;
}
.search-button:hover .fa-magnifying-glass {
  color: var(--orange);
}
.fa-magnifying-glass {
  font-size: 20px;
}

.header-right {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  align-items: center;
}

.header-socials{
  display: flex;
  justify-content: center;
}
.header-language select,
.header-currency select {
  border-width: 0;
  margin-right: 7px;
  background-color: transparent;
  font-size: 15px;
}

.fa-user,
.fa-heart,
.fa-cart-shopping {
  padding: 14px;
}