:root {
  line-height: 1.5;
  background-color: #303030;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter Tight", serif;
}
