* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background-color: #fffdec;
  height: 200px;
  font-size: 3rem;
  text-align: center;
  font-family: "Playwrite MX Guides", serif;
}
nav {
  font-family: "Dancing Script", serif;
}

nav ul {
  background-color: #86a788;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2.5rem;
}
nav ul li {
  display: inline;
  font-size: 1.5rem;
}

.container {
  margin: 0 auto;
  background-color: #ffcfcf;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 250px;
  border: 2px solid #86a788;
  border-radius: 25px;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffe2e2;
}

.fav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 0.5rem;
  font-size: 1.5rem;
}

img {
  max-width: 200px;
  max-height: 100px;
}

.card_footer {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  border: 2px solid #86a788;
  border-radius: 25px;
}

@media screen {
}
