* {
  box-sizing: border-box;
}

body {
  background-image: url(https://as2.ftcdn.net/v2/jpg/00/92/31/43/1000_F_92314330_wi5Y2X94nzEKuN64Re7cz1m6GeG57Smu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
