* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fff;
}

.bgImage {
    padding: 2rem;
    background-image: url('https://picsum.photos/1920/1080');
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 400px;
}