.box{
    height: 50px;
    width: 250px;
    margin: 10px;
}
.red{
    background-color: red;
    margin-left: 50px;
    margin-top: 20px;
}
.blue{
    background-color: rgb(17, 0, 255);
    margin-left: 50px;
    margin-top: 20px;
}
.green{
    background-color: rgb(86, 144, 109);
    margin-left: 50px;
    margin-top: 20px;
}