#p1{
    
    color: rgb(23, 23, 100);
    background-color: aqua;
}
.paragraf{
    color: beige;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;

}
#p2{
    color: aliceblue;
    background-color: beige;
}
h1{
    color: #5e9b86;
    background-color: beige;
    text-align: left;

}
