.hero {
    background-color: var(--hero-background-color);

    .hero-row {
        margin-top: 50px;

        .hero-left-section {
            .hero-title {
                font-weight: 700;
                margin-bottom: 24px;
                letter-spacing: -0.02em;
            }

            .hero-description {
                font-weight: 400;
                letter-spacing: -0.01em;
                line-height: 28px;
                margin-bottom: 3rem;
                color: var(--secondary-color);
            }

            .hero-button {
                font-weight: 700;
                margin-bottom: 3rem;
                margin-top: 48px;
            }
        }
    }
}

.subhero-main {
    position: relative;
    z-index: 5;

    .simplex-background {
        position: absolute;
        width: 100%;
        z-index: -1;
        background-color: var(--hero-background-color);
        left: 0;
        top: 0;
        height: 84px;
    }
}