.login-container {
  text-align: center;
  .login-form {
    margin: 100px auto;
    button {
      background-color: transparent;
      border: none;
      padding: 8px 20px;
      margin-left: 8px;
      border-radius: 100px;
      &.primary {
        background-color: var(--color-primary);
        color: var(--color-white);
        margin: 0;
      }
      &.submit {
        width: 100%;
        margin: 40px 0 24px 0;
        padding: 18px 0;
        font-weight: 600;
      }
    }
    .login-top {
      margin-bottom: 40px;
    }
    form {
      text-align: left;
      max-width: 690px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 28px;
      .email {
        display: flex;
      }
      label {
        display: block;
        font-size: 20px;
        font-weight: 500;
        color: var(--color-secondary);
        margin-bottom: 12px;
      }
      input {
        box-sizing: border-box;
        background-color: var(--color-bg-section);
        width: 100%;
        padding: 10px 20px;
        color: var(--color-secondary2);
        font-size: 18px;
        margin-bottom: 8px;
        border-radius: 8px;
        border: 1px solid rgb(229, 229, 229);
      }
      .remember-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .remember {
          display: flex;
          align-items: center;
          label {
            margin: 0;
          }
          input {
            width: fit-content;
            margin: 0;
            margin-right: 4px;
          }
        }
        a {
          color: var(--color-critical);
        }
      }
    }
  }
  p {
    font-weight: 500;
    color: var(--color-text);
    a {
      color: var(--color-primary);
      text-decoration: none;
      margin-left: 3px;
    }
  }
}
