* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 1);
  }
  
  .header-container {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: rgba(255, 255, 255, 1);
  }
  
  .top-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    background-color:rgba(35, 63, 146, 1); 
    color: rgba(255, 255, 255, 1); 
    padding: 10px 120px;
    font-size: 14px;
  }
  
  .left-info {
    align-self: center;   
    justify-self: start;  
    font-weight: 400; 
  }
  
  .flash-sale-highlight {
    color: #FFB91F; 
    font-weight: 500; 
  }
  
  .center-info {
    align-self: center;
    text-align: center; 
    font-weight: 400; 
  }
  
  .right-info {
    display: flex;
    align-items: center;
    font-weight: 400;    
    justify-content: flex-end; 
    gap: 15px;                 
  }
  
  .right-info a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }

  .right-info a:hover{
    color: #FFB91F;
  }
  

.middle-bar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;   
    column-gap: 20px;     
    padding: 20px 120px;
    background-color: rgba(255, 255, 255, 1);
  }
  
  .logo img {
    height: auto;
    width :120px;; 
  }
  
  .search-wrapper {
    display: flex; 
    justify-content: center; 
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: rgba(248, 248, 248, 1); 
    border-radius: 60px;  
    padding: 5px 15px;
    gap: 10px;
    min-width: 400px;    
    border: 1px solid rgba(248, 248, 248, 1) 
  }

  .category-dropdown {
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
    padding-right: 18px;
    margin-right: 7px;
    font-weight: 170;  
  }
  
  .divider {
    width: 1px;
    height: 24px;
    background-color: rgba(123, 91, 91, 0.15);
  }
  

  .search-container input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-size: 14px;
    color: #000;
  }
  
 
  .search-btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #FFB91F;
    border: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  
  .search-btn:hover{
    background-color: #000;
  }
  
  .search-btn i {
    font-size: 16px;
    color: #000;
  }

  .search-btn i:hover{
    color: #FFB91F;
  }
  

  .actions {
    display: flex;
    align-items: center;
    gap: 30px; 
  }
  
  
  .lang-currency {
    display: flex;
    gap: 20px;
  }

  .lang, .currency {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #000;
  }

  .lang:hover,.currency:hover {
    color: #FFB91F;
  }

  
  .icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .icons a {
    position: relative;     
    font-size: 18px;       
    color: #201f1f;
    text-decoration: none;
  }

  .icons a:hover {
    color: #FFB91F;
  }
  
  .badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #FFB91F;
    color: #000;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
  }
  
  /* 3) ALT NAV MENÜSÜ */
  .nav-bar {
    display: grid;
    grid-template-columns: 1fr auto;  
    border-top: 1px solid #eee; 
    padding: 0px 120px;
    justify-content: space-between;
    align-items: center;  
  }
  
  .nav-bar ul {
    display: flex;
    list-style: none;
    gap: 40px;
  }
  
  .nav-bar li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 14px;
  }
  
  .nav-bar li a:hover {
    color: #FFB91F;
  }
  
  .phone-block {
    display: flex;
    align-items: center;
    background-color: #FFB91F; 
    padding: 13px 65px;
  }
  
  .phone-block .icon i {
    font-size: 30px;
    color: #000;
    padding-right: 10px;
  }
  
  .phone-info span {
    display: block;
    font-size: 12px;
    color: #000; 
  }
  
  .phone-info strong {
    display: block;
    font-size: 22px;
    color: #000;
    margin-top: 2px; 
  }