.c1{
  width: 22rem;
  background: linear-gradient(135deg,rgb(106, 70, 132), #1e90ff);
  border-radius: 20px ;
}
.searchBar{
  width: 20px; 
  cursor: pointer; 
}
.wi{
  width: 100px ;
}
.icon{
  width:30px;
  margin-right: 10px; 
}