.order-book {
    border-radius: 12px;
    margin-left: 20px;
    background-color: var(--subhero-background-color);

    .main-order-book {

        position: relative;

        .line {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: var(--marketcap-border-color);
        }

        .title {
            padding: 20px 40px;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            padding-left: 27px;
            line-height: 32px;
        }
    }

    .table-responsive {
        thead {
            tr {
                th {
                    font-weight: 700;
                    border: 0;
                    font-size: 18px;
                    background-color: var(--subhero-background-color);
                    color: var(--text-color);
                    line-height: 24px;
                }
            }
        }

        tbody {
            tr {
                td {
                    font-style: normal;
                    border: 0;
                    font-weight: 400;
                    font-size: 16px;
                    background-color: var(--subhero-background-color);
                    color: var(--text-color);
                    line-height: 24px;

                    span {
                        font-weight: bold;
                    }

                    &.order-book-line {
                        .tag {
                            color: var(--secondary-color);
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 24px;
                        }

                        .value {
                            .amount-value {
                                font-size: 24px;
                            }

                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 32px;
                        }
                    }
                }

                &.max-amount-row {
                    padding-top: 15px;
                    border-top: 1px solid var(--marketcap-border-color);
                    border-bottom: 1px solid var(--marketcap-border-color);
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}