$primary: #3772ff;
$secondary: #f7f7f7;
$danger: #D33535;
$success: #58BD7D;
$dark: #B1B5C3;

$font-sizes: (
  1: 40px,
  2: 24px,
  3: 20px,
  4: 16px,
  5: 14px,
  6: 12px,
  18: 18px,
  48: 48px
);