$primary: #EDDFE0;
$secondary: #ADA991;
$success: #a3c593; 
$danger: #e57373; 
$warning: #ffc107; 
$info: #ffcc99;
$light: white; 
$font-family-base: 'Playfair Display', serif;
$background-light: #fafcff; 
$border-color: #ddd;
$border-radius: 10px;
$card-shadow: rgba(0, 0, 0, 0.05);
 
