.bgImage {
  background-image: url("https://s.tmimgcdn.com/scr/800x500/296200/premium-vektor-arkaplan-resimleri--yuksek-kaliteli-arkaplan--modern-hd-arka-plan-goruntuleri_296286-original.jpg");
  height: 500px;
  width: 300px;
  background-position-x: center;
  background-position-y: center;
  background-size: auto;
  color: white;
}
