* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.container {
  width: calc(100% - 224px);
  height: auto;
  margin: 0 auto;
  padding: 20px 0;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid gainsboro;
}

.side-filter {
  padding: 10px;
  display: inline-block;
  height: 800px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid gainsboro;
}

.box {
  width: 200px;
  height: 300px;
  border: 1px solid gainsboro;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.phone-image {
  width: 150px;
}

.title {
  color: rgb(255, 85, 0);
  display: inline;
  font-size: xx-large;
}

.top-bar {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.search-bar {
  display: inline;
  font-size: medium;
  height: 30px;
  margin: 10px;
}

.brands {
  display: inline;
}

.outer-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}



@media screen and (max-width: 768px) {
  /* .side-filter {
    width: 400px;
    height: 200px;
    margin: 10px auto;
    display: block;
  } */
}

.side-filter input{
  box-sizing: content-box;
}
