@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Syne+Mono&display=swap');
$font-family-base: "Syne Mono", serif;
$primary: #c1d8c3;
$secondary: #ec9d5f;
$body-color: #222222;
$carousel-indicator-width: 10px;
$carousel-indicator-height: 10px;