#container {
  height: 100vh;
  overflow-y: scroll;
  scroll-timeline-name: --squareTimeline;
  position: relative;
}
section {
  height: 100vh; /* Scroll alanı oluştur */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#square {
  background-color: deeppink;
  width: 100px;
  height: 100px;
  margin-top: 100px;
  animation-name: rotateAnimation;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-direction: alternate;
  animation-timeline: --squareTimeline;
  position: absolute;
  bottom: 0;
}
#stretcher {
  height: 600px;
}
.box {
  width: 70%;
  transform: translateY(650px);
  background: #625be7;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  font-size: 18px;
  animation-name: slidingAnimation;
  animation-duration: 1s; /* Firefox requires this to apply the animation */
  animation-direction: alternate;
  animation-timeline: --squareTimeline;
}
@keyframes slidingAnimation {
  from {
    opacity: 0;
    transform: translateY(650px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
