* {
  font-family: Roboto, sans-serif;
}
.box-1800 {
  max-width: 1800px;
}
.price-section {
  .price-item {
    border-top: 2px solid transparent;
    .item-text {
      h2 {
        color: $dark-gray;
        span {
          color: $light-gray;
        }
      }
      &:hover h2 {
        color: $primary;
      }
    }
    .price-btn {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      opacity: 0;
      transition: 0.3s;
    }
    &:hover .price-btn {
      opacity: 1;
    }
    &:hover {
      border-top: 2px solid $primary;
    }
  }
}
.service_item {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #9381eb;
  transition: 0.6s;
  &:hover {
    background-color: $white;
    h4,
    p {
      color: $dark-gray;
    }
  }
}
.l_blog_item {
  &:hover {
    h4 {
      color: $primary;
    }
  }
}
.search input {
  max-width: 340px;
  outline: none;
}
