$primary: #373d52;
$secondary: #9f61cf;
$font-family-base: "Roboto", sans-serif;
$navbar-light-color: #222222;
$dropdown-link-color: #222222;
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: #6247ea;
$navbar-toggler-focus-color: none;
$navbar-toggler-focus-box-shadow: none;
$h6-font-size: 20px;
