.bgImage{
    background-image: url("https://picsum.photos/800/800");
    width: 500px;
    height: 500px;
    background-position-x: center;
    background-position-y: center;
    background-size: auto;
    color: white;
}