.header {
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.card .editBtn,
.card .deleteBtn,
.card .detailBtn {
  opacity: 0;
  display: none;
}

.card:hover .editBtn,
.card:hover .deleteBtn,
.card:hover .detailBtn {
  opacity: 1;
  display: block;
}
