@import '../../../styles/scss/variables';
@import '../../../styles/scss/mixins';
@import '../../../components/auth/RegisterForm.scss';

.register-page {
   min-height: calc(100vh - 4rem);
   padding: 6rem 1rem;

   &__container {
      max-width: 80rem;
      margin: 0 auto;
   }

   &__content {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__form {
      background: #fff;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   }
}