* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(1, 45, 45);
  }
  
  .list-group-item {
    border-radius: 0px !important;
  }
  
  .btn-danger:hover {
    background-color: #ffc107;
    border: none;
  }
  
  .btn-success:hover {
    background-color: #ffc107;
    border: none;
  }
  
  .btn-secondary:hover {
    background-color: #ffc107;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #ffc107;
  }
  