$base-border-width: 1px;
$base-border-color: rgba(57, 54, 54, 0.5);
$dark: rgb(2, 1, 5);
$primary: #e50914;
$secondary: #501517;
$light: rgb(215, 204, 204);
$box-shadow: 0 0.5rem 1rem rgba($primary, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba($primary, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba($primary, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba($primary, 0.075);
$font-size-base: 0.8rem;
$modal-content-bg: rgba(0, 0, 0, 0.9);
$modal-content-color: $light;
$modal-footer-border-color: $base-border-color;
$modal-header-border-color: $base-border-color;
$modal-footer-border-width: $base-border-width;
$input-border-color: $secondary;
$input-bg: transparent;
$input-focus-border-color: $primary;
$input-placeholder-color: $light;
$input-focus-box-shadow: $box-shadow-lg;
$nav-link-color: $light;
$btn-focus-box-shadow: none;
$btn-border-radius: 50rem;
