@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;500;600;700&display=swap");body {
    font-family: "Roboto",sans-serif;
    overflow-x: hidden !important;
    font-size: 15px;
    color: #24272c
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

.container{
    width: 100%;
    background-image: linear-gradient(rgba(3, 3, 5, 0.7), rgba(3, 3, 5, 0.7)), 
    url("https://shreethemes.in/upstart/layouts/images/bg/1.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}


.navbar-bg {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80%;
}

.navbar ul{
    display: flex;
    list-style: none;

}

.navbar ul li a{
    margin: 0 10px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    margin-right: 32px;
}

.menu {
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-circle {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    align-items: flex-start;
    width: 80%;
    color: white;
}

.banner h4 {
    font-size: 42px;
    letter-spacing: 0.2px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.banner p {
    font-size: 16px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, .5);
}

.banner button {
    padding: 8px 20px;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    background-color: #FF5714;
    border-radius: 6px;
    color: white;
    box-shadow: 0 3px 5px 0 rgba(255, 87, 20, 0.1);
    outline: none;
    border: 1px solid #FF5714;
    margin-top: 24px;
}

.company-container {
    width: 100%;
    background-color: #F8F9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.company {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 20px;
}

.company-image {
    width: 70%;
    position: relative;
}

.company-image img {
    border-radius: 10px;
}

.company-image-icon {
   position: absolute;
   bottom: 50%;
   transform: translateY(50%);
   right: 41%;
   text-align: center;
   background-color: white;
   border-radius: 50%;
   width: 75px;
   height: 75px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.company-text {
    width: 100%;
    margin-left: 48px;
}

.company-text h6 {
    color: #FF5714;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.company-text h4 {
    font-size: 28px;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}

.company-text p {
    margin-bottom: 16px;
    font-size: 16px;
    color: #8492a6;
    line-height: 1.6;
}

.company-text button {
    padding: 8px 20px;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    background-color: #FF5714;
    border-radius: 6px;
    color: white;
    box-shadow: 0 3px 5px 0 rgba(255, 87, 20, 0.1);
    outline: none;
    border: 1px solid #FF5714;
}