* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

header {
	span:hover {
		color: $secondary;
	}
}
.banner {
	padding: 225px 0;
	width: 100%;
	overflow: hidden;
	background-color: $secondary;
	.banner-text {
		color: #f9f9ff;
	}
}
.feature-inner {
	border: 1px solid #eeeeee;
	border-radius: 10px;
}
.p_120 {
	padding-top: 120px;
	padding-bottom: 120px;
}

.main_title{
	max-width: 680px;
	margin: auto;

}

.feature_area .card:hover {
	box-shadow: $box-shadow-lg;
}

.price_item {
	border-top: 4px solid #fff;
	border-radius: 10px;
	.price_btn {
		width: 100%;
		opacity: 0;
		display: block;
		margin-bottom: -50px;
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}
	&:hover {
		border-top: 4px solid $secondary;
		.price_btn {
			opacity: 1;
			transition: 0.2s;
		}
		h2 {
			color: $secondary;
		}
	}
	.price_text {
		padding-top: 75px;
		padding-bottom: 75px;
		padding-left: 45px;
		position: relative;
	}
}
.solution_inner {
	p {
		font-size: 14px;
		opacity: 0.6;
		max-width: 770px;
		margin: 0 auto 35px;
	}
}

.list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

@media (max-width: 991px) {
    .banner_map_img{
        display: none;
    }
}


@media (max-width: 991px) {
    .header_top{
        display: none;
    }
}
