.profile-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #b1b5c3;
}

.profile-wrapper {
  margin-left: 13.28vw;
  margin-right: 13.28vw;
}

.profile-nickname {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #23262f;
}

.profile-mail {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #777e90;
}

.user-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.user-subheader {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.profile-wrapper {
  margin-top: 5.2vw;
}
