$primary-color: #0874fa;
$dark-primary: #095fc9;
$text-color: #4d4d4d;
$main-bg-color: white;
$white-text-color: white;
$secondary-bg-color: #f8f9fa;
$muted-text-color: #b3b3b3;
$black-color: black;
$badge: #e9ecef;
$orange-color: #f89d13;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$font-family-sans-serif: "Nanum Gothic", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

@mixin btnFunction($bg-color, $b-radius, $padd, $clr, $f-size, $f-weight) {
  background-color: $bg-color;
  border-radius: $b-radius;
  padding: $padd;
  color: $clr;
  font-size: $f-size;
  font-weight: $f-weight;
}
@mixin hover-effect($color, $bg-color) {
  background-color: $bg-color;
  color: $color;
}
