#p1{
    color: aqua;
    background-color: black;
    text-align: left;
}
.paragraf{
    color: blueviolet;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: blanchedalmond;
}
#p2{
    color: beige;
    background-color: aquamarine;
    text-align: right;
}
h1{
    color: rgb(80, 18, 39);
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(82, 60, 28);
}