$primary: #4285f4;

// DROPDOWN
$dropdown-link-active-bg: inherit;
$dropdown-link-active-color: $primary;
$dropdown-bg: #fdfdfd;
$dropdown-box-shadow: none;

// SPACING
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 2,
  8: $spacer * 3,
);
// NAVBAR
$dropdown-border-width: 0px;
$navbar-nav-link-padding-x: 1.5rem;
$navbar-light-color: #000;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-light-brand-color: inherit;
$navbar-light-brand-hover-color: inherit;
$offcanvas-padding-x: 40px;
$offcanvas-horizontal-width: 300px;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  font-family: 'Nunito';
}

.navbar-nav {
  .nav-link {
    transition: color 0.3s ease;
  }
}
