$h1-font-size: 2rem;
$h2-font-size: 2rem;
$h3-font-size: 1.4rem;
$font-family-base: "Mirza", cursive;
$secondary: #eff0ff;
$body-secondary-bg: #383a54;
$body-tertiary-bg: #1e1f31;
$accordion-button-active-bg: #0d6efd;
$accordion-button-active-color: #fff;
