.bgImage{
    background-image: url(https://picsum.photos/200/300);
    width: 500px;
    height: 500px;
    background-position-x: center;
    background-position-y:center;
    background-size: auto;
    background-color: aquamarine;
    color: white;
}