* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('https://img.freepik.com/free-photo/assortment-cinema-elements-red-background-with-copy-space_23-2148457848.jpg?t=st=1740497121~exp=1740500721~hmac=1500157a3244141349460b87be4cc05be4e05b2d0f42c35143b66367200cf577&w=1380') no-repeat center center/cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 100px;
  margin-bottom: 60px;
}