.main-heading {
  font-size: 32px;
}

.sub-heading {
  font-size: 18px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-primary, .btn-secondary {
  background-color: #0874fa;
  border-radius: 0.25rem;
  padding: 10px 30px;
  color: white;
  font-size: 1rem;
  font-weight: 1rem;
}
.btn-primary:hover, .btn-secondary:hover {
  background-color: #3089fc;
  color: white;
}

.btn-secondary {
  background-color: #e9ecef;
  color: #4d4d4d;
}
.btn-secondary:hover {
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.7;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
}

section {
  padding: 2.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.badge {
  font-size: 11px;
  display: inline-block;
  padding: 5px 20px;
  background: #e9ecef;
  border-radius: 30px;
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}

.d-flex {
  display: flex;
  gap: 10px;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.align-start {
  align-items: start;
}

.grid {
  display: grid;
  gap: 20px;
}

.grid-col-1 {
  grid-template-columns: 1fr;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.border-primary {
  position: relative;
}

.border-primary:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 80px;
  height: 3px;
  background: #2f89fc;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .grid-col-1-sm {
    grid-template-columns: 1fr;
  }
  .grid-col-2-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-col-3-sm {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  section {
    padding: 5em 0;
  }
  .grid-col-3-md {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-col-4-md {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-col-5-md {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-col-6-md {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .grid-col-3-lg {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-col-4-lg {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-col-5-lg {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-col-6-lg {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1200px) {
  .grid-col-5-xl {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-col-6-xl {
    grid-template-columns: repeat(6, 1fr);
  }
}

/*# sourceMappingURL=main.css.map */
