@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.7;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
}

section {
  padding: 2.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.d-flex {
  display: flex;
  gap: 10px;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.align-start {
  align-items: start;
}

.grid {
  display: grid;
  gap: 20px;
}

.grid-col-1 {
  grid-template-columns: 1fr;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.main-heading {
  font-size: 32px;
  font-weight: 700;
}

.sub-heading {
  font-size: 18px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.btn-primary, .btn-secondary {
  background-color: #0874fa;
  border-radius: 0.25rem;
  padding: 10px 30px;
  color: white;
  font-size: 1rem;
  font-weight: 1rem;
}
.btn-primary:hover, .btn-secondary:hover {
  background-color: #095fc9;
  color: white;
}

.btn-secondary {
  background-color: #e9ecef;
  color: #4d4d4d;
}
.btn-secondary:hover {
  background-color: black;
  color: white;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #0874fa;
}

.primary-color {
  color: #0874fa;
}

.badge {
  font-size: 11px;
  display: inline-block;
  padding: 5px 20px;
  background: #e9ecef;
  border-radius: 30px;
  color: black;
  font-weight: bold;
}

.text-muted {
  font-size: 0.85rem;
  color: #b3b3b3;
}

.border-primary {
  position: relative;
  margin-bottom: 30px;
}
.border-primary p {
  margin-bottom: 1rem;
}

.border-primary:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 80px;
  height: 3px;
  background: #2f89fc;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  background-color: white;
}
.card h3 {
  font-size: 1rem;
}
.card p,
.card .small-text {
  font-size: 0.8rem;
}
.card .card-image {
  object-fit: cover;
  overflow: hidden;
  gap: 3px;
}
.card .card-image img {
  min-width: 300px;
}
.card .icon {
  max-width: 20px;
}
.card .card-content {
  padding: 20px;
}
.card .card-content > div,
.card .card-content > footer {
  width: 100%;
}
.card .fav {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.03);
  transition: 0.3s all ease;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.card .fav:hover {
  background-color: red;
}
.card .fav:hover svg {
  fill: white;
}
.card .fav svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  fill: #0874fa;
  color: #2f89fc;
}
.card footer {
  gap: 3px;
}
.card footer .icon {
  color: #f89d13;
  fill: #f89d13;
}

.blog {
  background-color: #f8f9fa;
}
.blog .card {
  background-color: transparent;
  box-shadow: none;
}
.blog .card-image img {
  border-radius: 7px;
}

.carousel {
  padding: 10px;
  display: flex; /* Kartları yatayda sıralar */
  overflow-x: auto; /* Yatayda kaydırmayı etkinleştirir */
  overflow-y: hidden; /* Dikey taşmayı gizler */
  scroll-snap-type: x mandatory; /* Kartları kaydırırken snap (kilitlenme) efekti ekler */
  gap: 32px;
  transition: all 5s ease-in;
  scroll-behavior: smooth;
}
.carousel::-webkit-scrollbar {
  height: 5px;
}
.carousel::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
  transition: all 5s ease-in;
}
.carousel:hover::-webkit-scrollbar-thumb {
  background: #d1cfcf;
}
.carousel .carousel-item {
  flex: 0 0 auto;
}

header {
  background-image: url(".././img/hero_2.jpg.webp");
  background-size: cover;
  background-position: center;
  height: 740px;
}

.headerOverlay {
  height: 100%;
  width: 100%;
  background-color: rgba(1, 4, 161, 0.308);
}

.topBar {
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.topBar li {
  list-style: none;
}
.topBar ul {
  gap: 30px;
  margin-right: 100px;
}
.topBar a {
  color: white;
}
.topBar h1 {
  font-size: 22px;
  color: white;
  font-weight: 500;
}

.botBar {
  margin-top: 200px;
}
.botBar h2 {
  color: white;
  font-size: 48px;
  font-weight: 200;
}
.botBar p {
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
}

.searchBar {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px 0;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 3fr 2fr 2fr 1fr;
  gap: 30px;
  border-radius: 5px;
}
.searchBar input,
.searchBar button {
  margin: 0 20px;
  height: 46px;
  border-radius: 5px;
  border-width: 0px;
}

.buttonWrapper {
  display: flex;
  gap: 10px;
  align-self: left;
}

.trend {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-self: left;
}
.trend p {
  color: white;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
}
.trend button {
  color: white;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  border: 1px solid white;
}
.trend button:hover {
  background-color: rgb(255, 255, 255);
  color: #2f89fc;
}

.category {
  padding: 30px 10px;
  border-radius: 7px;
  top: 0;
  transform: scale(1);
}
.category i {
  color: #0874fa;
  font-size: 30px;
}
.category:hover {
  background-color: #0874fa;
}
.category:hover i {
  color: white;
}
.category:hover p {
  color: white;
}

.image img {
  max-width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.testi-content {
  max-width: 800px;
}

.testi-content article p {
  font-size: 1.5rem;
  text-align: center;
}

.testimonials .icon {
  background-color: #e9ecef;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.testimonials .icon:hover {
  background-color: black;
  color: #0874fa;
}

.news-letter {
  background-color: #0874fa;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.news h3 {
  color: #fff;
  font-size: 18px;
}

.news p {
  color: rgba(255, 255, 255, 0.7);
}

.newsletter p:last-child {
  margin-bottom: 0;
}

.input .form-control {
  border: none;
  width: 400px;
  border-bottom: 1px solid #fff;
  background: none;
  padding-left: 0;
}

.input .form-control::placeholder {
  color: rgba(255, 255, 255, 0.9);
  font-style: italic;
}

.btn {
  border-radius: 0;
  border: none;
  outline: none;
}

footer.main-footer {
  padding: 4em 0;
  background: #333333;
}
footer.main-footer .foot-input .form-control {
  width: 200px;
  border-bottom: 1px solid #fff;
  background: none;
  padding-left: 0;
}
footer.main-footer .footer-top .border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}
footer.main-footer .footer-top p {
  color: #737373;
}
footer.main-footer .footer-top h4 {
  color: #fff;
}
footer.main-footer .footer-top a {
  color: #999999;
}
footer.main-footer .footer-top a:hover {
  color: white;
}
footer.main-footer .footer-top ul {
  list-style: none;
}
footer.main-footer .footer-top ul li {
  margin-bottom: 10px;
}
footer.main-footer .footer-bottom {
  margin-top: 50px;
  color: white;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .grid-col-1-sm {
    grid-template-columns: 1fr;
  }
  .grid-col-2-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-col-3-sm {
    grid-template-columns: repeat(3, 1fr);
  }
  .carousel-item {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  section {
    padding: 5em 0;
  }
  .grid-col-1-md {
    grid-template-columns: 1fr;
  }
  .grid-col-2-md {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-col-3-md {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-col-4-md {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-col-5-md {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-col-6-md {
    grid-template-columns: repeat(6, 1fr);
  }
  .carousel-item {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .grid-col-1-lg {
    grid-template-columns: 1fr;
  }
  .grid-col-2-lg {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-col-3-lg {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-col-4-lg {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-col-5-lg {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-col-6-lg {
    grid-template-columns: repeat(6, 1fr);
  }
  .carousel-item {
    width: 33.3333333333%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .grid-col-3-xl {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-col-4-xl {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-col-5-xl {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-col-6-xl {
    grid-template-columns: repeat(6, 1fr);
  }
  .carousel-item {
    width: 25%;
  }
}
@media (max-width: 1200px) {
  .trend {
    flex-direction: column;
  }
  .navbar {
    display: none;
  }
  .botBar {
    margin-top: 50px;
  }
  .botBar h2 {
    color: white;
    font-size: 2rem;
    font-weight: 200;
  }
  .botBar p {
    color: white;
    font-size: 1rem;
    font-weight: 200;
  }
  .grid-col-1-xl {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=main.css.map */
