* {
  margin: 0 auto;
  padding: 0;
}
/* TODO BACKGROUND IMAGE FİXLENECEK - via:Fatih */
.special-offer-section {
  background-image: url("https://www.rily.co.uk/images/sale_thumbs/sale_books.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe {
  background-color: #f7f7f7;
}
