@import '../../../styles/scss/variables';
@import '../../../styles/scss/mixins';

.login-page {
  min-height: calc(100vh - 4rem);
  padding: 6rem 1rem;
  
  &__container {
    max-width: 80rem;
    margin: 0 auto;
  }
  
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}