.blogCard {
	display: flex;
	flex-direction: column;

	border: 1px solid #eaeaea;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: transform 0.3s;
	cursor: pointer;
}

.blogCard img {
	height: 200px;
	padding: 0.5rem;
	object-fit: cover;
	border-radius: 1rem;
}
.blogCard p {
	display: -webkit-box;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.blogCardInfo {
	padding: 1rem;
}

.blogCardInfo a {
	color: black;
	text-decoration: none;
}
