@import "./bt_overrides";
@import "../components/organisms/Footer/Footer.module.scss";
@import "../components/organisms/CreateAccount/CreateAccount.module.scss";
@import "../components/organisms/MarketBanner/MarketBanner.module.scss";
@import "../components/organisms/MarketUpdate/MarketUpdate.module.scss";
@import "../components/organisms/ListCrypto/ListCrypto.module.scss";
@import "../components/organisms/MarketListCrypto/MarketListCrypto.module.scss";
@import "../components/molecules/MarketTable/MarketTable.module.scss";
@import "../app/[locale]/market/Market.module.scss";
@import "./theme.scss";
@import "bootstrap/scss/bootstrap";

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.card {
  background-color: var(--card-bg);
  color: var(--text-color);
}
