*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #94bbe9;

}

.container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }

.product_card{
    border: 2px solid black;
    width: 400px;
    height: 600px;
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(240, 248, 255);
    border-radius: 20px;
}

img{
    margin-bottom: 20px;
    width: 250px;
    border-radius: 20px;
}

.line{
    border-top: 1px solid black;
    width: 80%;
    flex-direction: row;
    display: inline;
}


button{
    
    width: 50px;
    margin: 15px 0px;
    width: 80%;
    height: 50px;
    background-color: orange;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;

}

button::after{
    content: " 🛒";
}

button:hover{
    background-color: aliceblue;
}

.group{
    width: 100px;
}

p{
    display: inline;
}

header{
    width:100%;
    text-align: center;
    background-color: aliceblue;
    margin-bottom: 50px;
    height: 150px;
    font-size: 80px ;
    padding-top: 20px;
}

footer{
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    background-color: aliceblue;
}