$font-family-base: "Headland One", serif;
$spacers: (
    1:10px,
    2:30px,
    3:50px,
    4: 85px,
  5: 170px, 
);
$headings-font-weight:700;
$h1-font-size:3.5rem;
$navbar-padding-y: 1rem;
$border-radius: 15px;
$border-color-translucent:#efece9;
$primary:#400106;
$yellow: #F2A723;
$green: #7A816F;
$dark: #0B0E17;
$light: #f5f1eb;
$card-border-color:transparent;
$card-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 
0 4px 10px rgba(0, 0, 0, 0.1);
$list-group-bg: transparent;
$list-group-border-color: #eee;
$list-group-border-width: 0.5px;
$dropdown-bg:$dark;
$dropdown-link-color:white;