body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #DEAA79;
    color: #333;
}

header {
    background-color: #DEAA79;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
   
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
}

.container p {
    margin-bottom: 15px;
}

.wim{
    height: 100px;
    width: 100px;
    padding-left: 50px;
}
.wim1{
    height: 100px;
    width: 100px;
    padding-left: 80px;
}
.wim2{
    height: 100px;
    width: 100px;
    padding-left: 80px;
}
.wim3{
    height: 100px;
    width: 100px;
    padding-left: 110px;
}


footer {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    
    width: 100%;
}

footer p {
    margin: 0;
}
