$background-color: red;

@mixin box($color) {
    width: 150px;
    height: 100px;
    background-color: $color;
}

.container {
    display: flex;

    .box1 {
       @include box($background-color);
    }

    .box2 {
        @include box(blue);
    }

    .box3 {
        @extend .box1;
    }

    .box4 {
        @extend .box2;

        &.deneme {
            box-shadow: 10px 10px black inset, -10px -10px black inset;
        }
    }
}