$orangeColor: #EC9D5F;
$purpleColor: #6f42c1;
$blueColor: #007bff;
$indigoColor: #6610f2;
$width: 100%;
*{
    font-family: 'Roboto', sans-serif;
}
.banner{
    z-index: 1;
    background: $indigoColor;

    
            display: flex;
        .banner_content{
            width: $width;
            padding: 225px 0px;
            h2{

            }
            p{
                opacity: 0.6;
            }
            .banner_btn{
                background-color: $orangeColor;
                font-size: 12px;
            }
        }
    

}
