:root {
  --color-primary: #3772ff;
  --color-on-surface: #23262f;
  --color-secondary: #777e90;
  --color-secondary2: #b1b5c3;
  --color-surface: #f7f7f7;
  --color-surface-main: #ffffff;
  --color-interactive: #2e72d2;
  --color-critical: #d33535;
  --color-warning: #fabe3c;
  --color-success: #58bd7d;
  --color-highlight: #1e58c8;
  --color-decorative: #383fdd;

  --font-family: #{$font-family-base};
}
