$bgColor: red;
$x150: 150px;
$x100: 100px;

@mixin boxFunction($width, $height, $color){
    width: $width;
    height: $height;
    background-color: $color;
}

.Container{
    display: flex;
    &:hover{
        background-color: rgb(57, 57, 59);
    }
    .box2{
        @include boxFunction($x150, $x100, $bgColor);
    }
    .box1{
        @include boxFunction($x100, $x100*2, orange);
    }
    .box3{
        @extend .box1;
        width: $x100*3;
    }
    .box4{
        @include boxFunction($x100, $x100*4, green);
        &.deneme{
            background-color: blue;
        }
    }
}