$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$primary-color: #4b0082; 
$secondary-color: #000000; 
$accent-color: #d7bf33; 
$background-color: #0c1023; 
$linear-background-color: linear-gradient(90deg, #390161, #5b2290, #664c9b);
$mini-tittle-color: #4b0082;
$tittle-color:#848389;
$p-color: #828088;




