$font-family-base: "DM Sans", sans-serif;

$sp-4: 4px;
$sp-8: 8px;
$sp-12: 12px;
$sp-16: 16px;
$sp-20: 20px;
$sp-24: 24px;
$sp-32: 32px;
$sp-40: 40px;
$sp-48: 48px;
$sp-56: 56px;
$sp-64: 64px;

$fs-huge: 48px;
$fs-h1: 36px;
$fs-h2: 30px;
$fs-h3: 24px;
$fs-body1: 18px;
$fs-body2: 16px;
$fs-body3: 14px;
$fs-caption: 12px;
$fs-button: 16px;
