.success-page {
    .success-box {
        background-color: var(--hero-background-color);
        padding: 2rem;
        border-radius: 16px;
        margin-bottom: 2rem;
        margin-top: 88px;
        text-align: center;

        .success-title {
            font-weight: 700;
            line-height: 40px;
            font-size: 32px;
            margin-bottom: 8px;
            font-weight: bold;

            .icon {
                margin-left: 0.5rem;
            }
        }

        .success-message {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
        }

        .status-box {
            background: var(--hero-background-color);
            border-radius: 12px;
            padding: 24px;
            margin-top: 1.5rem;
            border: 1px solid var(--marketcap-border-color);

            .state-box {
                padding: 0.75rem 0;
                border-bottom: 1px solid var(--payment-border-color);

                .label {
                    color: var(--secondary-color);
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 600;
                }

                .value {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 600;

                    &.green {
                        color: #58BD7D;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .payment-box {
        .refference-title {
            font-weight: 500;
            font-size: 16px;
            margin-top: 2rem;
            margin-bottom: 12px;
            line-height: 24px;
        }

        .refference-description {
            font-weight: 400;
            color: var(--secondary-color);
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 12px;
        }

        .refference-code {
            padding: 12px;
            border: 1px solid var(--marketcap-border-color);
            background-color: var(--referral-bg);
            margin-bottom: 32px;

            p {
                font-weight: 500;
                font-size: 16px;
            }
        }

        background-color: var(--hero-background-color);
        padding: 2rem;
        border-radius: 16px;

        .payment-title {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 32px;
            line-height: 32px;
        }

        .sub-title {
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 0;
            line-height: 24px;
        }

        .state-box {
            display: flex;
            justify-content: space-between;
            padding: 0.75rem 0;
            border-bottom: 1px solid var(--payment-border-color);

            &:last-child {
                border-bottom: 0;
            }

            .label {
                color: var(--secondary-color);
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
            }

            .value {
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                display: flex;
                align-items: center;
                gap: 0.6em;

                .copy-icon {
                    font-size: 14px;
                    cursor: pointer;
                    color: #aaa;
                }
            }
        }
    }

    @media screen and (max-width: 576px) {
        .state-box {
            flex-direction: column;
        }
    }
}