$button-variants: (
    'primary-button': ('background-color': #3772FF,
        'color': white,
        'hover-background': darken(#3772FF, 10%)),
    'secondary-button': ('background-color': #dee2e6,
        'color': #333,
        'hover-background': darken(#dee2e6, 10%)),
    'swipe-button': ('background-color': #3772FF,
        'color': white,
        'hover-background': darken(#3772FF, 10%)),
);

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    padding: 0 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

@each $variant, $styles in $button-variants {
    .#{$variant} {
        background-color: map-get($styles, 'background-color');
        color: map-get($styles, 'color');

        &:hover {
            background-color: map-get($styles, 'hover-background');
        }

        @if $variant =='swipe-button' {
            position: relative;
            padding-left: 50px;

            .swipe-icon {
                position: absolute;
                left: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background-color: white;
                border-radius: 50%;
                color: map-get($styles, 'background-color');

                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

.temp-button {
    background-color: var(--background-color);
    font-weight: 700;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding-left: 12px;
    padding-right: 12px;
    height: 28px !important;
    font-size: .7rem;

    &:hover {
        background-color: var(--background-color-reverse);
        color: var(--color-reverse) !important;
    }
}

.trade-button {
    background-color: transparent;
    font-weight: 700;
    color: var(--text-color);
    border: 1px solid #E6E8EC;
    padding-left: 12px;
    padding-right: 12px;
    height: 28px !important;
    font-size: .7rem;

    &:hover {
        background-color: #3772FF;
        color: var(--trade-button-color);
    }
}

.tab-button {
    background-color: transparent;
    border: none;
    padding: 8px 16px;
    font-weight: 600;
    color: #777E90;
    border-radius: 20px;
    transition: all 0.3s ease;
    margin-top: 10px;

    &.active {
        background-color: #3772FF;
        color: #fff;
    }
}

.cancel-button {
    background-color: white;
    border: 1px solid #3772FF;

    &:hover {
        background-color: #3772FF;
        color: white;
        transition: all .3s;
    }

}

.btn-lg {
    font-size: 1.25rem;
}

.btn-md {
    font-size: 1rem;
}

.btn-sm {
    font-size: .875rem;
}

.btn-xs {
    font-size: 0.75rem;
}

.btn-h-64 {
    height: 64px;
}

.btn-h-56 {
    height: 56px;
}

.btn-h-48 {
    height: 48px;
}

.btn-h-44 {
    height: 44px;
}

.btn-h-40 {
    height: 40px;
}

.btn-h-35 {
    height: 35px;
}

.btn-h-32 {
    height: 32px;
}

.btn-h-28 {
    height: 28px;
}

.btn-h-24 {
    height: 24px;
}