.paragraf {
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(174, 174, 174);
}
#p1 {
    color: brown;
    background-color: cornsilk;
    text-align: left;
}
#p2 {
    color: purple;
    background-color: lightblue;
    text-align: right;
}
h1{
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: gray;
}