@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap");

$font-family-base: "Turret Road", serif;
$input-group-addon-bg: #f9eaff;
$dark: #11021f;
$secondary: #a07af5;
$warning: rgb(232, 213, 181);
$primary: #002e28;
