.page {
  background-color: var(--background);
  color: var(--on-surface);
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--on-surface);
}

.subtitle {
  font-size: 1.125rem;
  margin: 1rem 0 2rem;
  color: var(--secondary);
}

.partnersTitle {
  font-size: 1rem;
  color: var(--on-surface);
}
