*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    height: 600px;
    background-color: rgb(147, 147, 147);
    padding: 20px;
    gap: 10px;
    /* grid-template-columns: 150px 150px 150px 150px 150px 150px; */
    /* grid-template-columns: 150px auto 150px auto 150px 150px; */
    /* grid-template-columns: 150px 1fr 150px 1fr 150px 150px; */
    /* grid-template-columns: 1fr 2fr 5fr; */
    /* grid-template-columns: repeat(6, 1fr); */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: 2fr 4fr; */
    /* grid-template-columns: minmax(100px, 500px) 200px 200px; */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 300px)); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
}

.item{
    background-color: rgb(177, 75, 24);
    padding: 20px;
}