.container{
    display: grid;
    height: 600px;
    background-color: rgb(129, 129, 129);
    gap: 5px;
    grid-template-areas: 
      "header header header"
      "sidebar section section"
      "sidebar . . "
      "footer footer footer"
      ". box-1 box-1";
  }
  .header{
    background-color: rgb(0, 128, 255);
    padding: 20px;
    grid-area: header;
  }
  .section{
    background-color: rgb(255, 128, 0);
    padding: 20px;
    grid-area: section;
  }
  .footer{
    background-color: rgb(56, 241, 210);
    padding: 20px;
    grid-area: footer;
  }
  .sidebar{
    background-color: rgb(255, 0, 128);
    padding: 20px;
    grid-area: sidebar;
  }
  .box-1{
    background-color: rgb(99, 179, 33);
    padding: 20px;
    grid-area: box-1;
  }
  .box-2 {
    background-color: rgb(204, 29, 29);
    padding: 20px;
  }
  .box-3 {
    background-color: rgb(120, 23, 231);
    padding: 20px;
  }