#p1 {
  color: red;
  background-color: yellow;
  text-align: left;
}

.paragraf {
  color: aqua;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(128, 128, 128);
}

#p2 {
  color: white;
  background-color: black;
  text-align: right;
}

h1 {
  color: red;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
}
