$primary: #754E1A;
$secondary: #CBA35C;
$info: #F8E1B7;
$spacers: (
    0: 0,
    1: 0.25rem,
    2: 0.5rem,
    3: 1rem,
    4: 1.5rem,
    5: 3rem,
    6: 4rem,
    7: 5rem,
    8: 6rem,
    9: 7rem,
    10: 8rem,
    11: 9rem,
    12: 10rem,
    13: 11rem,
    14: 12rem,
    15: 13rem,
    16: 14rem,
    17: 15rem,
    18: 16rem,
    19: 17rem,
    20: 18rem,
    21: 19rem,
    22: 20rem,
    23: 21rem,
    24: 22rem,
    25: 23rem,
    26: 24rem,
    27: 25rem,
    28: 26rem,
    29: 27rem,
    30: 28rem,
    31: 29rem,
    32: 30rem,
    33: 31rem,
    34: 32rem,
    35: 33rem,
    36: 34rem,
    37: 35rem,
    38: 36rem,
    39: 37rem,
    40: 38rem,
    41: 39rem,
    42: 40rem,
    43: 41rem,
    44: 42rem,
    45: 43rem,
    46: 44rem,
    47: 45rem,
    48: 46rem,
    49: 47rem,
    50: 48rem,
    51: 49rem,
    52: 50rem,
    53: 51rem,
    54: 52rem,
    55: 53rem,
    56: 54rem,
    57: 55rem,
    58: 56rem,
    59: 57rem,
    60: 58rem,
    61: 59rem,
);
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": #28a745,
    "info": $info,
    "warning": #ffc107,
    "danger": #dc3545,
    "light": orange,
    "dark": #343a40,
);
