.subhero-card-column {
    .card-sub {
        border-radius: 12px;
        transition: all .1s ease-in-out;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        background-color: var(--subhero-background-color);
        user-select: none;

        .sparkline-box {
            width: 120px;
        }

        &:hover {
            box-shadow: 0 .5rem 1rem #00000026;
            background-color: var(--subhero-card-hover);
        }

    }

    .coin-name {
        color: var(--text-color);
        font-weight: bold;
    }

    .coin-short {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }

    .coinpprice {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.01em;
    }
}