@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
* {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html:not([data-scroll=true]) nav {
  background-color: #fff;
  opacity: 1;
} */

body{
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
}

.upstart-logo {
  width: 105px;
  height: 24px;
}

.logo {
  stroke-linecap: round;
  width: 24px;
  height: 24px;
  fill: none;
  stroke: black;
  stroke-width: 2px;  
}

.logo-bg {
  background-color: white;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 5px;
}

nav {
  padding: 20px 60px;
  background-color: rgba(22, 28, 45, 0.75);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul > li > a {
  text-decoration: none;
  color: #FFF;
  font-size: 12px;
  padding: 8px 16px;
  transition: color 0.3s ease;
}

nav > ul > li > a:hover {
  color: #ff6b6b;
}

nav > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bgImage {
    background-image: url("https://shreethemes.in/upstart/layouts/images/bg/1.jpg");
    width: 100%;
    height: auto;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;

    color: white;
  }


.banner-text {
  max-width: 100%;
  padding-right: calc(1.5rem* .5);
  padding-left: calc(1.5rem* .5);
  margin-top: 0;
  position: absolute;
  top: 50%; /* Ortalamak için */
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); /* Yazıyı daha okunaklı yapmak için gölge */
}

.banner-text h1 {
  font-size: 42px !important;
  letter-spacing: 0.2px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1.5rem;
  margin-left:10%;
  text-align: left;
}

