.table {
    th {
        text-align: center;
        font-size: 16px;
    }

    tr,
    td,
    th {
        background-color: var(--subhero-background-color) !important;
        border: 0;
        padding: 24px;
        padding-right: 0;
        color: var(--text-color);
    }

    thead {
        th {
            padding-bottom: 16px;
            font-weight: 700;
            line-height: 24px;

            &:first-child {
                border-top-left-radius: 20px;
            }

            &:last-child {
                border-top-right-radius: 20px;
            }
        }

        tr {
            border-bottom: 1px solid var(--marketcap-border-color);
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;

            &:last-child {
                td {
                    :first-child {
                        border-bottom-left-radius: 20px;
                    }

                    :last-child {
                        border-bottom-right-radius: 20px;
                    }
                }
            }
        }
    }

    .table-asset {
        color: var(--secondary-color);
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
    }

    .last-col {

        p,
        strong {
            padding-right: 42px;
        }
    }

    tbody {
        border: 1px solid var(--marketcap-border-color);

    }

}