.bg-image {
  background-image: url(https://picsum.photos/seed/picsum/500/500);
  background-position-x: center;
  background-position-y: center;
  width: 500px;
  height: 500px;
  background-size: auto;
  color: white;
}
