@import './variables';
$theme-colors: (
  'primary': $primary,
  'on-surface': $on-surface,
  'secondary': $secondary,
  'surface': $surface,
  'surface-main': $surface-main,
  'interactive': $interactive,
  'critical': $critical,
  'warning': $warning,
  'success': $success,
  'white': $white,
  'highlight': $highlight,
  dark: $dark,
  dark2: $dark2,
  dark-hover: $dark-hover,
);
// SPACING
$spacer: 1rem;
$spacers: (
  0: 0,
  //4px
  4: $spacer * 0.25,
  //8px
  8: $spacer * 0.5,
  //12px
  12: $spacer * 0.75,
  //16px
  16: $spacer,
  //20px
  20: $spacer * 1.25,
  //24px
  24: $spacer * 1.5,
  //32px
  32: $spacer * 2,
  //40px
  40: $spacer * 2.5,
  //44px
  44: $spacer * 2.75,
  //48px
  48: $spacer * 3,
  //56px
  56: $spacer * 3.5,
  //64
  64: $spacer * 4,
  100: $spacer * 6.25,
);

// FONST SIZE
$line-height-lg: 2.25;
$font-size-base: 1rem;
$font-sizes: (
  12: $font-size-base * 0.75,
  14: $font-size-base * 0.875,
  16: $font-size-base * 1,
  20: $font-size-base * 1.25,
  24: $font-size-base * 1.5,
  36: $font-size-base * 2.25,
  48: $font-size-base * 3,
  64: $font-size-base * 4,
);
// NAVBAR
$navbar-padding-y: 0;
$navbar-nav-link-padding-x: 0.75rem;
$navbar-brand-font-size: $font-size-base * 1.5;
$navbar-brand-height: 0;
$navbar-brand-padding-y: 0;

$navbar-light-color: $on-surface;

$navbar-dark-color: $surface-main;
$navbar-dark-hover-color: $surface-main;

$navbar-dark-icon-color: $navbar-dark-color;

// BUTTON

$btn-border-radius: 1.5rem;
$btn-border-radius-sm: 1rem;
$btn-border-radius-lg: 1rem;
$btn-primary-color: white;
.btn-primary {
  color: white !important;
}

$breadcrumb-divider-color: $secondary;
