$primary: #3772ff;
$on-surface: #23262f;
$secondary: #777e90;
$secondary2: #b1b5c3;
$surface: #f7f7f7;
$surface-main: #ffffff;
$interactive: #2e72d2;
$critical: #d33535;
$warning: #fabe3c;
$success: #58bd7d;
$highlight: #1e58c8;
$decorative: linear-gradient(90deg, #383fde 0%, #8444d4 100%);
$dark: #141416;
$dark2: #18191d;
$white: #ffffff;
$dark-hover: #222630;
