*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.topImage{
    background: url("https://shreethemes.in/upstart/layouts/images/bg/1.jpg");
    width: 100%;
    height: 1080px;
    background-size: contain;
    background-repeat: no-repeat;
}
.nav{
    position: fixed;
}
.logo{
    background-image: url("https://shreethemes.in/upstart/layouts/images/bg/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}