.select {
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  background-color: var(--background);
  color: var(--on-surface);
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}

.select:focus {
  outline: none;
}
