body{
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(117,117,117);

}
.box{
    background-color: orange;
    width: 100px;
    height:100px;
    /*border-radius verebilirim şekli değiştirebilirim */
    /*transition: all 2s cubic-bezier(0,0,0.51,-0.22);*/
    /*böyle uzun uzun da yazabilirm*/
    /*transition-property: width ,height;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;*/
    /*uzun hali*/
   /* animation-name: aa;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 1s;*/
    /*kısa hali*/
    animation: aa 2s ease-in-out infinite alternate-reverse;


}
.box:hover{
    background-color: green;
    width:50px;
    height:300px;

}/*
@keyframes aa{
    0%{
        background-color: orange;
        width: 100px;
        height:100px;


    }
    50%{
        background-color: green;
        width: 50px;
        height:300px;

    }
    100%{
        background-color: orange;
        width: 100px;
        height:100px;

    }
}*/
@keyframes aa{
    0%{
        background-color: orange;
        width: 100px;
        height:100px;
        transform: translate(0,0);

    }
    50%{
        background-color: green;
        width: 50px;
        height:300px;
        transform:translate(100px,-100px) rotate(180deg);
    }
    100%{
        background-color: orange;
        width: 100px;
        height:100px;
        transform: translate(0,0);
    }
}