* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit";
}

.outfit-font {
  font-family: "Outfit";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.hr-border {
  border: none;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.hover-effect {
  transition: color 0.2s ease;
}

.hover-effect:hover {
  color: rgba(255, 185, 31, 1);
  cursor: pointer;
}

.header-top {
  background-color: rgba(35, 63, 146, 1);
  border-color: rgba(35, 63, 146, 1);
  color: white;
  height: 45px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.top-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  color: white;
  padding: 0 20px;
}

.flash-sale {
  color: rgba(255, 185, 31, 1);
  display: inline-block;
}

.flash-sale::before {
  content: "⚡";
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 250px;
}

.header-links > a {
  color: white;
  text-decoration: none;
}

/*------- top header end -------*/

.mid-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 20px;
}

.logo > a > img {
  width: 150px; /*1200px den sonra 120 46 */
  height: 58px;
}

.search-bar {
  color: rgba(32, 32, 32, 1);
  background-color: rgba(248, 248, 248, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  height: 45px;
  width: 45%;
  padding-left: 25px;
  padding-right: 5px;
}

.search-categories {
  width: 100px;
}

.search-text {
  width: calc(100% - 100px);
  display: flex;
}

.search-text > input {
  width: calc(100% - 20px);
}
.search-text > img {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: rgba(255, 185, 31, 1);
  border-radius: 50px;
}

.search-text > img:hover {
  background-color: rgb(234, 160, 0);
  cursor: pointer;
}

.reset-appearance {
  border: none;
  background-color: transparent;
}

.header-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.header-icons > img {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease;
}

.header-icons > img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.languages-currencies > select {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 15px;
}

/*-------mid header end -------*/

.header-bottom {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(235, 235, 235, 1);
  color: rgba(32, 32, 32, 1);
}

.bot-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  color: black;
}

.bot-side-sections {
  width: calc(100% - 281px);
}

.bot-header-sections {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bot-header-sections > a {
  color: black;
  text-decoration: none;
}

.phone-number {
  width: 281px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 185, 31, 1);
  padding: 10px 30px;
}

.headphone-icon > img {
  width: 40px;
  height: 40px;
}

/* --------- header bottom end ----------*/

.search-section {
  background: url("https://druco-be87.kxcdn.com/druco/wp-content/uploads/2022/08/slide1-3.jpg")
    center center;
  width: 100%;
  height: 745px;
}

.search-background {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 20px;
}

.search-form {
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 420px;
  padding: 38px 32px 40px;
}

.search-form h2 {
  margin-bottom: 15px;
  font-size: 30px;
}

.search-form > select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
  padding: 15px 0 15px 15px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  width: 100%;
}

.search-form > button {
  width: 100px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  background-color: rgba(255, 185, 31, 1);
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  padding: 15px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.search-form > button:hover {
  color: rgba(255, 185, 31, 1);
  background-color: black;
  cursor: pointer;
}

.search-section-text {
  color: white;
  margin: 50px;
}

.search-section-text > h2 {
  font-size: 65px;
  font-weight: 500;
}

.search-section-text > * {
  margin: 10px 0;
}

.search-section-text > button {
  width: 140px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  padding: 15px;
  transition: background-color 0.2s ease;
}

.search-section-text > button:hover {
  background-color: rgba(255, 185, 31, 1);
  cursor: pointer;
}

/*------- search section end --------*/

.categories {
  background-color: rgba(255, 185, 31, 1);
  padding: 30px;
}

.category-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.category-text > h2 {
  font-size: 40px;
  font-weight: 600;
}

.category-buttons > * {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
  transition: background-color 0.2s ease;
}

.category-buttons > img:hover {
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.category-options {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.category-card {
  text-align: center;
}

.category-card:hover div,
.category-card:hover p {
  color: white;
  cursor: pointer;
}

.category-card-img {
  overflow: hidden;
  height: 173px;
  width: 173px;
  border-radius: 10px;
}

.category-card-img > img {
  height: 173px;
  width: 173px;
  transition: transform 0.2s ease;
}

.category-card-img > img:hover {
  transform: scale(1.2);
}

.category-card p {
  margin-top: 5px;
  font-size: 17px;
}

@media (max-width: 760) {
  .category-inner {
    display: block;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    max-width: 760px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .category-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/*--------categories section end-------------*/

.bestsellers {
  padding: 20px;
  max-width: 1260px;
  margin: 0 auto;
}

.item-topics {
  text-align: center;
  margin: 60px;
}

.item-topics > h2 {
  color: black;
  margin-bottom: 20px;
  display: inline;
  font-size: 35px;
  font-weight: 500;
  margin: 0 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  justify-items: center;
}

.item {
  text-align: center;
  border: 1px solid #ddd;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  transition: transform 0.3s ease;
  position: relative;
}


.item:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item img {
  width: 100%;
  height: auto;
}

.item p {
  padding: 0 20px;
  text-align: left;
  margin: 10px 0;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(35,63,146,1);
}

.original-price {
  font-size: 0.9rem;
  text-decoration: line-through;
  color: #888;
}

.item-button {
    position: absolute;
    display: none;
    width: 100%;
    padding: 3px 10px 25px;
    background-color: white;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item:hover .item-button{
  /*transform: scale(1.05);*/
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  display: block;
  cursor: pointer;
}

.add-button {
    background-color: black;
    color: rgba(255, 185, 31, 1);
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 50px;
}

.add-button:hover {
    background-color: rgba(255, 185, 31, 1);
    color: black;
    margin: 0 auto; 
}

/*------ bestsellers section end --------*/

.banners-section {
  margin-top: 80px;
  display: grid;
  grid-template-areas: "banner1 banner2";
  grid-template-columns: 1f 1f;
  grid-template-rows: 1f;
  width: 100%;
  gap: 30px;

  
  color: white;
}

.banner1-bg {
  grid-column: 1/2;
  grid-row: 1/2;
  background: url("https://druco-be87.kxcdn.com/druco/wp-content/uploads/2022/08/banner-1.jpg");
  background-size: auto;
  cursor: pointer;
  background-position: center;
  transition: background-size 0.2s linear;
  grid-area: banner1;
}

.banner1-bg:hover {
  background-size: 112%;
}

.banner2-bg {
  grid-column: 2/3;
  grid-row: 1/2;
  background: url("https://druco-be87.kxcdn.com/druco/wp-content/uploads/2022/08/banner-2.jpg");
  background-size: cover;
  cursor: pointer;
  background-position: center;
  transition: background-size 0.2s linear;
  grid-area: banner2;
}

.banner2-bg:hover {
  background-size: 112%;
}

.banner-text {
  padding: 40px;
  margin: 40px 0;
}

.banners-section h2 {
  font-size: 50px;
}

.banner-text button {
  background-color: rgba(255, 185, 31, 1);
  border: none;
  padding: 17px 27px;
  border-radius: 50px;
  margin-top: 35px;
}

.banner1-bg:hover > .banner-text > button {
  color: rgba(255, 185, 31, 1);
  background-color: white;
  cursor: pointer;
}

.banner2-bg:hover > .banner-text > button {
  color: rgba(255, 185, 31, 1);
  background-color: white;
  cursor: pointer;
}

.orange-text {
  color: rgba(255, 185, 31, 1)
}

/*------ banners section end --------*/

.new-products-section {
  max-width: 1260px;
  margin: 120px auto;
  height: initial;
  display: grid;
}

.topics-section {
  display: flex;
}

.topics-section *{
  width: 33%;
  font-size: 35px;
  margin-left: 20px;
}


.item-container {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.border-right {
  border-right: 1px solid rgba(235, 235, 235, 1);
}

.border-bottom {
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}

.new-product {
  display: flex;
  flex-direction: row;
  width: 360px;
  flex-flow: row wrap;
  margin: 20px;
}

.product-image img{
  width: 180px;
  height: 180px;
}

.product-info {
  line-height: 2rem;
  color: rgba(32,32,32,1);
  font-weight: 300;
}

.product-info button {
  border: none;
  background-color: rgba(255, 185, 31, 1);
  padding: 8px 15px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
}

/*------- new products section end ---------*/

.popular-parts {
  max-width: 1260px;
  margin: 0 auto;
  text-align: center;
}

.popular-parts > h2{
  font-size: 36px;
  margin-bottom: 60px;
  font-weight: 600;
  color: rgba(32,32,32,1);
  letter-spacing: 0.9px;
}

.parts-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  width: 100%;
}

.parts-list li {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 230px;
  padding: 15px 0;
  height: auto;
  font-weight: 300;
}

/*------ popular parts end ------*/

.genuine-parts {
  background: url("https://demothemesky-be87.kxcdn.com/druco/wp-content/uploads/2022/08/banner-3.jpg") center center;
  color: white;
  margin: 100px 0;
  padding: 30px 0;
}

.genuine-text {
  max-width: 1260px;
  margin: 10px auto;
  width: 80%;
}

.genuine-text h2{
  font-size: 80px;
  line-height: 90px;
}
.genuine-text p{
  font-size: 18px;
  font-weight: 300;
}
/* ------- genuine part end -------*/

.our-blog {
  max-width: 1260px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
}

.our-blog > h2{
  color: #202020;
  margin-bottom: 50px;
  font-size: 36px;
}

.inner-blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 70px;
  text-align: left;
}

.blog-left {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.article-image img{
  height: 371px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.article-text {
  padding: 25px;
}

.article-text > *{
  margin: 10px 0;
}

.blog-button {
  border: none;
  background-color: rgba(255, 185, 31, 1);
  color: #202020;
  font-size: 14px;
  margin: 10px 0 0;
  padding: 14px 32px;
  border-radius: 50px;
  font-weight: 600;
}

.button-hover-effect {
  transition: color 0.2s ease, background-color 0.2s ease;
}

.button-hover-effect:hover {
  color: rgba(255, 185, 31, 1);
  background-color: #202020;
  cursor: pointer;
}

.blog-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.blog-articles > * {
  margin: 10px 0;
}

.blog-gray-text{
  font-size: 12.75px;
  color: #AFAFAF;
}

.blog-small-text{
  font-size: 12.75px;
  color: #202020;
}

/* ------- our blog section end --------*/

.why-us-part{
  background: url("https://demothemesky-be87.kxcdn.com/druco/wp-content/uploads/2022/08/home-about.jpg");
  color:white;
  text-align: center;
  height: 600px;
  display: flex;
  align-content: center;
}

.why-us-inner {
  width: 1260px;
  margin: 130px auto;
}

.why-us-text{
  max-width: 730px;
  margin: 0 auto;
}

.why-us-text h2{
  font-size: 60px;
  margin-bottom: 50px;
  
}

.why-us-logos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 1240px;
  justify-content: space-around;
}

.why-us-logo{
  width: 70px;
  height: 70px;
}

/*------why us section end  ------ */

.featured-brands {
  margin: 50px auto;
  text-align: center;
}

.inner-featured {
  max-width: 1260px;
  margin: 0 auto;
}

.inner-featured > h3{
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.9;
  padding-top: 40px;
}

.brands-logos > img{
  width: 180px;
  height: 125px;
  margin: 0 10px;
}

/*----featured brands end ------ */

