.bgImage{
   background-image:url("https://avatars.mds.yandex.net/i?id=23b9b5d01a2228282b6543630e6aabb10372976d-4827941-images-thumbs&n=13");
   width: 500px;
   height: 500px;
   background-position-x: center;
   background-position-y: center;
   background-size: auto;
   color: #ffe4c4;
}