*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap{
    width: 980px;
    margin: 0 auto;
}

.header{
    /* background-color: #333; */
}

.logo{
    width: 48px;
    height: 48px;
}

.containerHeader{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.search{
    height: 50px;
    width: 40%;
    border: 1px solid #FFC145;
    border-radius: 12px;
}

.searchButton{
    background-color: #FFC145;
    height: 50px;
    width: 75px;
    border: 2px solid #FB4141 ;
    border-radius: 12px;
}

.mainImage{
    background-image: url("https://www.kodlab.com/modules/ps_imageslider/images/b32aa96f1e747a2c83297d10acafa4175f43a8b7_Yapay%20Zeka%20ile%20Modern%20Web%20Tasar%C4%B1m%C4%B1%20banner%20c%CC%A7%C4%B1kt%C4%B1.jpg");
    background-size: cover;
    /* width: 980px; */
}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.product{
    width: 350px;
    height: 400px;
    border: 1px solid #FFC145;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}