*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap{
    width: 980px;
    margin: 0 auto;
}

.header{
    /* background-color: #333; */
}

.logo{
    width: 48px;
    height: 48px;
}

.containerHeader{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.search{
    height: 50px;
    width: 40%;
    border: 1px solid #FFC145;
    border-radius: 12px;
}

.searchButton{
    background-color: #FFC145;
    height: 50px;
    width: 75px;
    border: 2px solid #FB4141 ;
    border-radius: 12px;
}

.mainImage{
    background-image:url('../Odev04/assets/main-image.jpg');
    margin-top: 20px;
    height: 460px;
    width: 100%;
}

.categories{
    background-color: #FFC145;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 12px;
}

.categoryList{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap;
}

.categoryList li {
    font-size: large;
}

.categoryList li a:hover{
    color: white;
    border-radius: 12px;
    cursor: pointer;


}
.product{
    width: 230px;
    height: 370px;
    border: 1px solid #FFC145;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
}

.product h3{
    text-align: center;
    margin-bottom: 10px;
}

.products{
    width: 980px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.product-price{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px){
    .wrap{
        width: 500px;
        margin: 0 auto;
    }
    .products{
        width: 490px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;
    }
    .product{
        width: 235px;
        height: 355px;
        border: 1px solid #FFC145;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        padding-right: 20px;
        padding-left: 20px;
    }
    .product-title{
        font-size: 16px;
    }
    .mainImage{
        background-image:url('../Odev04/assets/main-image.jpg');
        margin-top: 20px;
        height: 460px;
        width: 100%;
        object-fit: cover;
    }
}