.dashboard-exchange {
    margin-left: 25px;
    margin-right: 16px;
    border-radius: 12px;
    background-color: var(--subhero-background-color);

    .receive-box {
        margin-bottom: 16px;
    }

    &.balance {
        @media screen and (max-width: 768px) {
            display: none !important;
        }
    }
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;

    .description {
        color: var(--secondary-color);
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.01em;
        margin-top: 40px;
        margin-bottom: 8px;
    }

    .title {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.01em;
    }

    .balance {
        padding: 0 48px;
        margin-top: 24px;
        margin-bottom: 32px;

        button {
            background: transparent;
            border-color: var(--marketcap-border-color);
            color: var(--color-reverse1);

            &:hover {
                color: white;
                background-color: #3772FF;
            }
        }
    }

    .crypto-list {
        .title {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
        }
    }

    .crypto-list-wrapper {
        margin-top: 24px;


        .crypto-list-group {
            .crypto-list-item {
                margin-bottom: 24px;
            }
        }

        p {
            strong {
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
            }

            &.amount {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: var(--secondary-color);
                text-transform: capitalize;
            }

            .price {
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
            }

            .apr {
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }

    .price {
        font-weight: 700;
    }
}