$primary: #ec9d5e;
$secondary: #6247ea;
$info: #777777;
$light: white;
$dark: #222222;
$iconcolor:#aaaaaa;
$font-size-base: 0.75rem;
$h1-font-size: $font-size-base * 4.2;
$h2-font-size: $font-size-base * 3.4;
$h3-font-size: $font-size-base * 2.5;
$h4-font-size: $font-size-base * 3.2;
$h5-font-size: $font-size-base * 3;
$h6-font-size: $font-size-base * 1.7;
$box-shadow-lg: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;
