$dark: #141416;
$primary: #202022;
$secondary: #252526;

$font-sizes: (
  1: 3rem,
  2: 2.5rem,
  3: 2rem,
  4: 1.5rem,
  5: 1rem,
  6: 0.8rem,
);
$form-check-input-bg: $dark;
$form-check-input-checked-bg-color: #ffffff;
$form-check-input-checked-border-color: #ffffff;
