.bg-grey{
    background-color:rgb(20, 20, 26);
  }
  .bg-gray{
    background-color: rgb(245, 247, 250);
  }

  .bg-blue{
    background-color: rgb(10,8,43);
  }
  .dark{
    background-color: black;
  }